openapi: 3.1.0
info:
  title: API reference Bill Vendor API
  version: 1.0.0
servers:
- url: https://api-sandbox.payabli.com/api
  description: Sandbox
- url: https://api.payabli.com/api
  description: Production
tags:
- name: Vendor
paths:
  /Vendor/single/{entry}:
    post:
      operationId: AddVendor
      summary: Create vendor
      description: Creates a vendor in an entrypoint.
      tags:
      - Vendor
      parameters:
      - name: entry
        in: path
        description: Entrypoint identifier.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponseVendors'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorData'
  /Vendor/{idVendor}:
    get:
      operationId: GetVendor
      summary: Get vendor
      description: Retrieves a vendor's details, including enrichment status and payment acceptance info when available.
      tags:
      - Vendor
      parameters:
      - name: idVendor
        in: path
        description: Vendor ID.
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorQueryRecord'
    put:
      operationId: EditVendor
      summary: Update vendor
      description: Updates a vendor's information. Send only the fields you need to update.
      tags:
      - Vendor
      parameters:
      - name: idVendor
        in: path
        description: Vendor ID.
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponseVendors'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorData'
    delete:
      operationId: DeleteVendor
      summary: Delete vendor
      description: Delete a vendor.
      tags:
      - Vendor
      parameters:
      - name: idVendor
        in: path
        description: Vendor ID.
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponseVendors'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Vendor/enrich/{entry}:
    post:
      operationId: EnrichVendor
      summary: Enrich vendor
      description: Triggers AI-powered vendor enrichment for an existing vendor. Runs one or more enrichment stages (invoice scan, web search) based on the `scope` parameter. Can automatically apply extracted payment acceptance info and vendor contact information to the vendor record, or return raw results for manual review. Contact Payabli to enable this feature.
      tags:
      - Vendor
      parameters:
      - name: entry
        in: path
        description: Entrypoint identifier.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorEnrichResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorEnrichRequest'
  /Vendor/enrich/schedule_call/{entry}:
    post:
      operationId: ScheduleEnrichmentCall
      summary: Schedule outreach call
      description: Schedules an AI outreach call to a vendor to collect their preferred payment method and contact email. This is the third enrichment stage. Calls are scheduled for the next business day at around 9 AM in the vendor's timezone, with retries on no-answer and a fallback payment method applied when retries are exhausted. This feature is opt-in at the org level. Contact your Payabli representative to enable it, provision a phone number, and discuss pricing.
      tags:
      - Vendor
      parameters:
      - name: entry
        in: path
        description: Entrypoint identifier.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorScheduleCallResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '429':
          description: Too many requests. The calling system is rate limited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorScheduleCallRequest'
  /Vendor/{idVendor}/enrichment/call-status:
    get:
      operationId: GetEnrichmentCallStatus
      summary: Get outreach call status
      description: Returns the latest AI outreach call activity for a vendor. The response is a composite object with a `state` discriminator (`none`, `scheduled`, `successful`, or `failed`); the block that matches the current state is populated. When the vendor has no call activity, `state` is `none` and the response returns HTTP 200.
      tags:
      - Vendor
      parameters:
      - name: idVendor
        in: path
        description: ID of the vendor to read call status for.
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorCallStatusResponse'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
components:
  schemas:
    VendorCallStatusResponse:
      type: object
      properties:
        vendorId:
          type: integer
          format: int64
          description: ID of the vendor this status applies to.
        state:
          type: string
          description: 'Current call state. Values are: `none` (no call activity for the vendor), `scheduled` (a call is queued or being retried), `successful` (a call completed and returned data), or `failed` (the call didn''t complete successfully).'
        scheduled:
          $ref: '#/components/schemas/VendorCallStatusScheduled'
          description: Populated when `state` is `scheduled`.
        completed:
          $ref: '#/components/schemas/VendorCallStatusCompleted'
          description: Populated when `state` is `successful`.
        failed:
          $ref: '#/components/schemas/VendorCallStatusFailed'
          description: Populated when `state` is `failed`.
      description: Latest AI outreach call activity for a vendor. The populated block depends on the `state` discriminator.
      title: VendorCallStatusResponse
    VendorScheduleCallResponse:
      type: object
      properties:
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        roomId:
          $ref: '#/components/schemas/RoomIdNotInUse'
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          $ref: '#/components/schemas/VendorScheduleCallResponseData'
      required:
      - responseText
      description: Response from the schedule outreach call endpoint.
      title: VendorScheduleCallResponse
    ContactsField:
      type: array
      items:
        $ref: '#/components/schemas/Contacts'
      description: List of contacts.
      title: ContactsField
    AccountId:
      type: string
      description: Custom identifier for payment connector.
      title: AccountId
    BankName:
      type: string
      description: Name of bank for account.
      title: BankName
    PayabliErrorBodyResponseData:
      type: object
      properties:
        explanation:
          type: string
          description: Human-readable explanation of what happened.
        todoAction:
          type: string
          description: Suggested resolution.
      description: Object with detailed error context.
      title: PayabliErrorBodyResponseData
    Email:
      type: string
      format: email
      description: Email address.
      title: Email
    CityNullable:
      type: string
      description: The city.
      title: CityNullable
    RoomIdNotInUse:
      type: integer
      format: int64
      description: Field not in use on this endpoint. It always returns `0`.
      title: RoomIdNotInUse
    RemitEmail:
      type: string
      format: email
      description: 'Remittance email address. Used for sending virtual cards and other

        information about payouts.

        '
      title: RemitEmail
    PayeeName:
      type: string
      description: Alternative name used to receive paper check.
      title: PayeeName
    Entrypointfield:
      type: string
      description: The entrypoint identifier.
      title: Entrypointfield
    PayabliApiResponseVendors:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        responseData:
          type: integer
          description: If the request was successful, this field contains the identifier for the vendor.
        responseText:
          $ref: '#/components/schemas/ResponseText'
      required:
      - responseText
      title: PayabliApiResponseVendors
    PageIdentifier:
      type: string
      description: Auxiliary validation used internally by payment pages and components.
      title: PageIdentifier
    Vendorid:
      type: integer
      description: Payabli identifier for vendor record.
      title: Vendorid
    FileContent:
      type: object
      properties:
        fContent:
          type: string
          description: 'Content of file, Base64-encoded. Ignored if `furl` is specified. Max

            upload size is 30 MB.

            '
        filename:
          type: string
          description: The name of the attached file.
        ftype:
          $ref: '#/components/schemas/FileContentFtype'
        furl:
          type: string
          description: Optional URL provided to show or download the file remotely.
      description: Contains details about a file. Max upload size is 30 MB.
      title: FileContent
    VendorData:
      type: object
      properties:
        vendorNumber:
          $ref: '#/components/schemas/VendorNumber'
        AdditionalData:
          $ref: '#/components/schemas/AdditionalDataMap'
        address1:
          $ref: '#/components/schemas/AddressNullable'
          description: Vendor's street address. If any address field is provided, this field is required along with `city`, `state`, and `zip`. Allowed characters are letters, numbers, spaces, and `. ,
        address2:
          $ref: '#/components/schemas/AddressAddtlNullable'
          description: Additional line for vendor's address, such as a suite or unit number. Always optional.
        billingData:
          $ref: '#/components/schemas/BillingData'
          description: Object containing vendor's bank information.
        city:
          type: string
          description: Vendor's city. Required if any address field is provided.
        contacts:
          $ref: '#/components/schemas/ContactsField'
          description: Array of objects describing the vendor's contacts.
        country:
          type: string
          description: Vendor's country. Must be `US` or `CA`. Defaults to `US` if not provided.
        customField1:
          type: string
          description: Custom field 1 for vendor
        customField2:
          type: string
          description: Custom field 2 for vendor
        customerVendorAccount:
          type: string
          description: Account number of paypoint in the vendor side.
        ein:
          $ref: '#/components/schemas/VendorEin'
        email:
          $ref: '#/components/schemas/Email'
          description: Vendor's email address. Required for vCard.
        internalReferenceId:
          type: integer
          format: int64
          description: Internal identifier for global vendor account.
        locationCode:
          $ref: '#/components/schemas/LocationCode'
        mcc:
          $ref: '#/components/schemas/Mcc'
        name1:
          $ref: '#/components/schemas/VendorName1'
        name2:
          $ref: '#/components/schemas/VendorName2'
        payeeName1:
          $ref: '#/components/schemas/PayeeName'
        payeeName2:
          $ref: '#/components/schemas/PayeeName'
        paymentMethod:
          $ref: '#/components/schemas/VendorPaymentMethodString'
        phone:
          $ref: '#/components/schemas/VendorPhone'
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        remitEmail:
          $ref: '#/components/schemas/RemitEmail'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        state:
          type: string
          description: Vendor's state or province. Required if any address field is provided. Must be a valid US state abbreviation (such as `CA`, `NY`) or Canadian province abbreviation (such as `ON`, `BC`), depending on the `country` value.
        vendorStatus:
          $ref: '#/components/schemas/Vendorstatus'
        zip:
          type: string
          description: Vendor's ZIP or postal code. Required if any address field is provided. For US addresses, use five digits (`12345`) or ZIP+4 format (`12345-6789`).
        defaultMethodId:
          type: string
          description: Identifier for the vendor's default stored payment method.
        attachment:
          $ref: '#/components/schemas/FileContent'
          description: 'PDF invoice attachment for AI-powered vendor enrichment.

            When this feature is enabled and you include an attachment, the invoice is scanned and extracted vendor information is merged into the request.

            Fields in the request body take precedence over extracted data.

            If the scan fails, vendor creation proceeds with the original request data.

            See the [vendor enrichment guide](/guides/pay-out-vendor-enrichment-overview) for details.

            Contact Payabli to enable this feature.'
      title: VendorData
    CreatedAt:
      type: string
      format: date-time
      description: Timestamp of when record was created, in UTC.
      title: CreatedAt
    BinData:
      type: object
      properties:
        binMatchedLength:
          type: string
          description: 'The number of characters from the beginning of the card number that

            were matched against a Bank Identification Number (BIN) or the Card

            Range table.'
        binCardBrand:
          type: string
          description: 'The card brand. For example, Visa, Mastercard, American Express,

            Discover.'
        binCardType:
          type: string
          description: 'The type of card: `Credit` or `Debit`. Case can vary between

            processors, so compare this value case-insensitively.'
        binCardCategory:
          type: string
          description: 'The category of the card, which indicates the card product. For example: Standard, Gold, Platinum, etc. The binCardCategory for prepaid cards is marked `PREPAID`.'
        binCardIssuer:
          type: string
          description: The name of the financial institution that issued the card.
        binCardIssuerCountry:
          type: string
          description: The issuing financial institution's country name.
        binCardIssuerCountryCodeA2:
          type: string
          description: The issuing financial institution's two-character ISO country code. See [this resource](https://www.iso.org/obp/ui/#search) for a list of codes.
        binCardIssuerCountryNumber:
          type: string
          description: The issuing financial institution's ISO standard numeric country code. See [this resource](https://www.iso.org/obp/ui/#search) for a list of codes.
        binCardIsRegulated:
          type: string
          description: Indicates whether the card is regulated.
        binCardUseCategory:
          type: string
          description: The use category classification for the card.
        binCardIssuerCountryCodeA3:
          type: string
          description: 'The issuing financial institution''s three-character ISO country code.

            See [this resource](https://www.iso.org/obp/ui/#search) for a list of

            codes.'
      description: 'Object containing information related to the card. This object is `null`

        unless the payment method is card. If the payment method is Apple Pay, the

        binData will be related to the DPAN (device primary account number), not

        the card connected to Apple Pay.'
      title: BinData
    VendorPhone:
      type: string
      description: 'Vendor''s phone number. Phone number can''t contain non-digit characters

        like hyphens or parentheses.

        '
      title: VendorPhone
    ResponseText:
      type: string
      description: 'Response text for operation: ''Success'' or ''Declined''.

        '
      title: ResponseText
    Remitcountry:
      type: string
      description: 'Remittance address country. Used for mailing paper checks. Must be `US`

        or `CA`. Defaults to `US` if not provided.

        '
      title: Remitcountry
    EnrollmentStatus:
      type: string
      description: Enrollment status of vendor in payables program.
      title: EnrollmentStatus
    InternalReferenceId:
      type: integer
      format: int64
      description: An internal reference ID.
      title: InternalReferenceId
    VendorName2:
      type: string
      description: 'Secondary name for vendor. If provided, allowed characters are the

        same as the `name1` field.

        '
      title: VendorName2
    PayabliErrorBody:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Always `false` for error responses.
        responseCode:
          type: integer
          description: 'Code for the response. Learn more in

            [API Response Codes](/developers/api-reference/api-responses).

            '
        responseText:
          type: string
          description: Error text describing what went wrong.
        responseData:
          $ref: '#/components/schemas/PayabliErrorBodyResponseData'
          description: Object with detailed error context.
      required:
      - isSuccess
      - responseText
      description: 'Shape returned by every Payabli API error response. The `responseData`

        object carries human-readable error context.

        '
      title: PayabliErrorBody
    VendorEnrichmentWebSearch:
      type: object
      properties:
        phone:
          type: string
          description: Phone number found through web search. Format isn't guaranteed.
        phoneType:
          type: string
          description: Phone classification. Values are `main`, `billing`, or `customer_service`.
        email:
          type: string
          description: Email address.
        emailType:
          type: string
          description: Email classification. Values are `billing`, `general`, or `customer_service`.
        street:
          type: string
          description: Street address.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State (two-letter abbreviation).
        zipCode:
          type: string
          description: ZIP code.
        country:
          type: string
          description: Country code.
        addressType:
          type: string
          description: Address classification. Values are `business`, `headquarters`, or `mailing`.
        paymentLink:
          type: string
          description: Payment portal URL.
        paymentLinkType:
          type: string
          description: Link classification. Values are `payment_portal`, `billing_page`, or `general_website`.
        cardAccepted:
          type: string
          description: Whether the vendor accepts card payments. Values are `yes`, `no`, or `unable to determine`.
        achAccepted:
          type: string
          description: Whether the vendor accepts ACH payments. Values are `yes`, `no`, or `unable to determine`.
        checkAccepted:
          type: string
          description: Whether the vendor accepts check payments. Values are `yes`, `no`, or `unable to determine`.
      description: Vendor contact information and payment acceptance info found through web search.
      title: VendorEnrichmentWebSearch
    VendorCallStatusCompleted:
      type: object
      properties:
        completedAt:
          type: string
          description: ISO-8601 timestamp when the call ended.
        durationSeconds:
          type: integer
          description: Call duration in seconds.
        summary:
          type: string
          description: Short summary of the call.
        callId:
          type: string
          description: Reference identifier for the call.
        transcript:
          type:
          - string
          - 'null'
          description: Full call transcript. `null` when no transcript is available.
        extractedData:
          $ref: '#/components/schemas/VendorCallStatusExtractedData'
          description: Payment and contact details collected during the call.
      description: Details of a completed outreach call that returned data.
      title: VendorCallStatusCompleted
    Vendorstatus:
      type: integer
      description: 'Vendor''s status. Allowed values:


        - `0` Inactive

        - `1` Active

        - `-99` Deleted

        '
      title: Vendorstatus
    BankAccountHolderType:
      type: string
      enum:
      - Personal
      - Business
      description: Describes whether the bank is a personal or business account.
      title: BankAccountHolderType
    LocationCode:
      type: string
      description: A location code used to identify the vendor's location.
      title: LocationCode
    AdditionalDataString:
      type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. Example usage:\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataString
    RoutingAccount:
      type: string
      description: Routing number of bank account.
      title: RoutingAccount
    VendorEnrichmentData:
      type: object
      properties:
        invoiceScan:
          $ref: '#/components/schemas/VendorEnrichmentInvoiceScan'
          description: Results from the invoice scan stage, if it ran.
        webSearch:
          $ref: '#/components/schemas/VendorEnrichmentWebSearch'
          description: Results from the web search stage, if it ran.
      description: Container for enrichment stage results.
      title: VendorEnrichmentData
    VendorEin:
      type: string
      description: 'EIN/Tax ID for vendor. Must be nine digits formatted as `XX-XXXXXXX`

        (for example, `12-3456789`).

        '
      title: VendorEin
    IsSuccess:
      type: boolean
      description: 'Boolean indicating whether the operation was successful. A `true` value

        indicates success. A `false` value indicates failure.

        '
      title: IsSuccess
    Ein:
      type: string
      description: Business EIN or tax ID. This value is masked in API responses.
      title: Ein
    VendorCallStatusScheduled:
      type: object
      properties:
        scheduledFor:
          type: string
          description: ISO-8601 timestamp of the next scheduled call attempt.
        attemptsRemaining:
          type: integer
          description: Number of call attempts left before retries are exhausted.
        maxAttempts:
          type: integer
          description: Maximum number of call attempts configured for this schedule.
      description: Details of a queued or in-progress outreach call.
      title: VendorCallStatusScheduled
    Dbaname:
      type: string
      description: 'The alternate or common name that this business is doing business under,

        usually referred to as a DBA name.

        '
      title: Dbaname
    BillingDataResponse:
      type: object
      properties:
        id:
          type: integer
          description: The bank's ID in Payabli.
        accountId:
          $ref: '#/components/schemas/AccountId'
          description: An identifier for the bank account. If not provided during creation or update, the system generates one in the format `acct-{first_digit}xxxxx{last_4_digits}` based on the account number. If a duplicate exists within the same service at the paypoint, a numeric suffix is appended, such as `-2`. This value is also used as the identifier for the bank account's associated payment connector.
        nickname:
          type: string
        bankName:
          $ref: '#/components/schemas/BankName'
        routingAccount:
          $ref: '#/components/schemas/RoutingAccount'
        accountNumber:
          $ref: '#/components/schemas/AccountNumber'
        typeAccount:
          $ref: '#/components/schemas/TypeAccount'
        bankAccountHolderName:
          $ref: '#/components/schemas/BankAccountHolderName'
        bankAccountHolderType:
          $ref: '#/components/schemas/BankAccountHolderType'
        bankAccountFunction:
          type: integer
          description: "Describes whether the bank account is used for deposits or withdrawals in Payabli:\n  - `0`: Deposit\n  - `1`: Withdrawal\n  - `2`: Deposit and withdrawal"
        verified:
          type: boolean
        status:
          type: integer
        services:
          type: array
          items:
            description: Any type
        default:
          type: boolean
      required:
      - id
      - nickname
      - bankName
      - routingAccount
      - accountNumber
      - typeAccount
      - bankAccountHolderName
      - bankAccountHolderType
      - bankAccountFunction
      - verified
      - status
      - services
      - default
      title: BillingDataResponse
    VendorQueryRecord:
      type: object
      properties:
        VendorNumber:
          $ref: '#/components/schemas/VendorNumber'
        Name1:
          type: string
        Name2:
          type:
          - string
          - 'null'
        EIN:
          oneOf:
          - $ref: '#/components/schemas/Ein'
          - type: 'null'
        Phone:
          type: string
        Email:
          $ref: '#/components/schemas/Email'
        RemitEmail:
          oneOf:
          - $ref: '#/components/schemas/RemitEmail'
          - type: 'null'
        Address1:
          $ref: '#/components/schemas/AddressNullable'
        Address2:
          $ref: '#/components/schemas/AddressAddtlNullable'
        City:
          $ref: '#/components/schemas/CityNullable'
        State:
          $ref: '#/components/schemas/StateNullable'
        Zip:
          $ref: '#/components/schemas/Zip'
        Country:
          type: string
        Mcc:
          $ref: '#/components/schemas/Mcc'
        LocationCode:
          type: string
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/ContactsResponse'
          description: Array of objects describing the vendor's contacts.
        BillingData:
          $ref: '#/components/schemas/BillingDataResponse'
        PaymentMethod:
          $ref: '#/components/schemas/VendorPaymentMethodString'
        VendorStatus:
          $ref: '#/components/schemas/Vendorstatus'
        VendorId:
          $ref: '#/components/schemas/Vendorid'
        EnrollmentStatus:
          $ref: '#/components/schemas/EnrollmentStatus'
        Summary:
          $ref: '#/components/schemas/VendorSummary'
        PaypointLegalname:
          $ref: '#/components/schemas/Legalname'
        PaypointId:
          type:
          - integer
          - 'null'
          format: int64
          description: The paypoint's ID. This is different from the entryname.
        PaypointDbaname:
          $ref: '#/components/schemas/Dbaname'
        PaypointEntryname:
          $ref: '#/components/schemas/Entrypointfield'
        ParentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        ParentOrgId:
          $ref: '#/components/schemas/OrgParentId'
        CreatedDate:
          $ref: '#/components/schemas/CreatedAt'
        LastUpdated:
          $ref: '#/components/schemas/LastModified'
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        payeeName1:
          $ref: '#/components/schemas/PayeeName'
        payeeName2:
          $ref: '#/components/schemas/PayeeName'
        customField1:
          type: string
        customField2:
          type: string
        customerVendorAccount:
          type: string
        InternalReferenceId:
          $ref: '#/components/schemas/InternalReferenceId'
        PaymentPortalUrl:
          type: string
          description: URL for the vendor's online payment portal, if known. Populated by the vendor enrichment pipeline.
        CardAccepted:
          type: string
          description: Whether the vendor accepts card payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        AchAccepted:
          type: string
          description: Whether the vendor accepts ACH payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        CheckAccepted:
          type: string
          description: Whether the vendor accepts check payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        EnrichmentStatus:
          type: string
          description: Current enrichment state of the vendor. Values are `not_enriched`, `partially_enriched`, `fully_enriched`, or `fallback_applied`.
        EnrichedBy:
          type: string
          description: Which enrichment method resolved the vendor's payment acceptance info. Values are `invoice_scan`, `web_search`, `vendor_network`, or `manual`.
        EnrichedAt:
          type: string
          format: date-time
          description: When the vendor was last enriched (UTC).
        EnrichmentId:
          type: string
          description: Identifier for the enrichment request that last updated this vendor.
        additionalData:
          $ref: '#/components/schemas/AdditionalDataMap'
        externalPaypointID:
          $ref: '#/components/schemas/ExternalPaypointId'
        StoredMethods:
          type: array
          items:
            $ref: '#/components/schemas/VendorResponseStoredMethod'
      title: VendorQueryRecord
    VendorNumber:
      type: string
      description: 'Custom number identifying the vendor. Must be unique in paypoint. Can''t be

        blank.

        '
      title: VendorNumber
    VendorCallStatusExtractedData:
      type: object
      properties:
        selectedPaymentMethod:
          type: string
          description: Payment method the vendor said they accept. Values are `card`, `ach`, or `check`.
        contactEmail:
          type: string
          description: Contact email collected during the call.
      description: Data extracted from a completed outreach call.
      title: VendorCallStatusExtractedData
    Remitzip:
      type: string
      description: 'Remittance address ZIP or postal code. Used for mailing paper checks.

        Required if any remittance address field is provided. For US addresses,

        use five digits or ZIP+4 format.

        '
      title: Remitzip
    BankAccountHolderName:
      type: string
      description: The accountholder's name.
      title: BankAccountHolderName
    VendorScheduleCallRequest:
      type: object
      properties:
        vendorId:
          type: integer
          format: int64
          description: ID of the vendor to call. Must be active and belong to the entrypoint in the path.
        phone:
          type: string
          description: Vendor phone number to call, digits only. Optional. When omitted, Payabli uses the phone number on the vendor's record. If the vendor has no phone on record, the request returns an error.
        enrichmentId:
          type: string
          description: ID of the originating enrichment run to associate with this call. Optional. When omitted, Payabli generates a standalone call schedule and skips the enrichment lookup. The bill due-date check only runs when both `enrichmentId` and `billId` are supplied.
        billId:
          type: integer
          format: int64
          description: Bill ID used for the due-date check. When the bill is due in fewer than three days, the call is skipped and the fallback method is applied. Only evaluated when `enrichmentId` is also supplied.
        fallbackMethod:
          type: string
          description: Payment method to apply to the vendor record if the call can't determine a preference or all retries are exhausted. Values are `check` (the default) or `managed`.
        maxRetries:
          type: integer
          description: Number of times to retry the call if the vendor doesn't answer. Defaults to 3. Maximum is 5. The get outreach call status response reports this value as `maxAttempts`.
        timezone:
          type: string
          description: IANA timezone identifier used to schedule the call in the vendor's local time. Defaults to `America/New_York`.
        sendNow:
          type: boolean
          description: When `true`, dispatches the call immediately and bypasses the business-hours window and the bill due-date check. Defaults to `false`.
      required:
      - vendorId
      description: Request body for scheduling an AI outreach call to a vendor.
      title: VendorScheduleCallRequest
    ContactsResponse:
      type: object
      properties:
        ContactName:
          type: string
          description: Contact name.
        ContactEmail:
          $ref: '#/components/schemas/Email'
          description: Contact email address.
        ContactTitle:
          type: string
          description: Contact title.
        ContactPhone:
          type: string
          description: Contact phone number.
      title: ContactsResponse
    AdditionalDataMap:
      type: object
      additionalProperties:
        type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataMap
    BillingData:
      type: object
      properties:
        accountNumber:
          type: string
          description: Account number for bank account.
        bankAccountFunction:
          type: integer
          description: "Describes whether the bank account is used for deposits or withdrawals in Payabli:\n  - `0`: Deposit\n  - `1`: Withdrawal\n  - `2`: Deposit and withdrawal"
        bankAccountHolderName:
          $ref: '#/components/schemas/BankAccountHolderName'
        bankAccountHolderType:
          $ref: '#/components/schemas/BankAccountHolderType'
        bankName:
          $ref: '#/components/schemas/BankName'
        id:
          type: integer
          description: The bank's ID in Payabli.
        routingAccount:
          $ref: '#/components/schemas/RoutingAccount'
        typeAccount:
          $ref: '#/components/schemas/TypeAccount'
      title: BillingData
    Remitaddress2:
      type: string
      description: 'Remittance address additional line, such as a suite or unit number. Used

        for mailing paper checks. Always optional.

        '
      title: Remitaddress2
    FileContentFtype:
      type: string
      enum:
      - pdf
      - doc
      - docx
      - jpg
      - jpeg
      - png
      - gif
      - txt
      description: The MIME type of the file (if content is provided).
      title: FileContentFtype
    Mcc:
      type: string
      description: 'Business Merchant Category Code (MCC).

        [This resource](https://github.com/greggles/mcc-codes/blob/main/mcc_codes.csv)

        lists MCC codes.

        '
      title: Mcc
    OrgParentId:
      type: integer
      format: int64
      description: The ID of the org's parent organization.
      title: OrgParentId
    VendorPaymentMethodString:
      type: string
      description: 'The vendor''s preferred payment method. Can be one of:


        - `managed` — Managed payment method

        - `vcard` — Virtual card payment method

        - `check` — Check payment method

        - `ach` — ACH payment method

        '
      title: VendorPaymentMethodString
    LastModified:
      type: string
      format: date-time
      description: Timestamp of when record was last updated, in UTC.
      title: LastModified
    ExternalPaypointId:
      type: string
      description: 'A custom identifier for the paypoint, if applicable.

        '
      title: ExternalPaypointId
    VendorCallStatusFailed:
      type: object
      properties:
        lastAttemptAt:
          type: string
          description: ISO-8601 timestamp of the most recent call attempt.
        reason:
          type: string
          description: Reason the call didn't complete, as reported by the calling system (for example, `No answer`).
        attemptsRemaining:
          type: integer
          description: Number of call attempts left before retries are exhausted.
        maxAttempts:
          type: integer
          description: Maximum number of call attempts configured for this schedule.
        nextRetryScheduledFor:
          type:
          - string
          - 'null'
          description: ISO-8601 timestamp of the next scheduled retry, or `null` when no further retries are scheduled.
      description: Details of an outreach call that didn't complete successfully.
      title: VendorCallStatusFailed
    Remitcity:
      type: string
      description: 'Remittance address city. Used for mailing paper checks. Required if any

        remittance address field is provided.

        '
      title: Remitcity
    Remitaddress1:
      type: string
      description: 'Remittance street address. Used for mailing paper checks. Required if any

        remittance address field is provided.

        '
      title: Remitaddress1
    VendorEnrichRequest:
      type: object
      properties:
        vendorId:
          type: integer
          format: int64
          description: ID of the vendor to enrich. Must be active and belong to the given entrypoint.
        scope:
          type: array
          items:
            type: string
          description: 'Enrichment stages to run. Valid values are `invoice_scan` and `web_search`. Stages run in order: invoice scan first, then web search. If the vendor becomes payout-ready after invoice scan, web search is skipped.'
        applyEnrichmentData:
          type: boolean
          description: When `true` (the default), extracted data is automatically written to the vendor record. Only empty fields are populated, existing values are never overwritten. When `false`, the vendor record isn't modified. In both cases, `enrichmentData` in the response contains the extracted results. Use `false` for UI flows where users review and confirm changes before applying them with the update vendor endpoint.
        scheduleCallIfNeeded:
          type: boolean
          description: When `true`, Payabli schedules an AI outreach call to the vendor if the enrichment stages return insufficient payment acceptance info. The call collects the vendor's preferred payment method and contact email. This is the third enrichment stage and is opt-in at the org level. See the schedule outreach call endpoint for behavior and requirements.
        invoiceFile:
          $ref: '#/components/schemas/FileContent'
          description: PDF invoice file, Base64-encoded. Required when `scope` includes `invoice_scan`.
        billId:
          type: integer
          format: int64
          description: Bill ID to associate with this enrichment request.
        fallbackMethod:
          type: string
          description: Payment method to apply if enrichment can't find payment details. Values are `check`, `ach`, or `card`.
      required:
      - vendorId
      description: Request body for the vendor enrichment endpoint.
      title: VendorEnrichRequest
    VendorEnrichmentInvoiceScan:
      type: object
      properties:
        vendorName:
          type: string
          description: Vendor name extracted from the invoice.
        street:
          type: string
          description: Street address.
        city:
          type: string
          description: City.
        state:
          type: string
          description: State (two-letter abbreviation).
        zipCode:
          type: string
          description: ZIP code.
        country:
          type: string
          description: Country code.
        phone:
          type: string
          description: Phone number. Format isn't guaranteed and is extracted as-is from the invoice.
        email:
          type: string
          description: Email address.
        paymentLink:
          type: string
          description: Payment portal URL, if found on the invoice.
        cardAccepted:
          type: string
          description: Whether the vendor accepts card payments. Values are `yes`, `no`, or `unable to determine`.
        achAccepted:
          type: string
          description: Whether the vendor accepts ACH payments. Values are `yes`, `no`, or `unable to determine`.
        checkAccepted:
          type: string
          description: Whether the vendor accepts check payments. Values are `yes`, `no`, or `unable to determine`.
        invoiceNumber:
          type: string
          description: Invoice number extracted from the document.
        amountDue:
          type: number
          format: double
          description: Invoice amount due in USD.
        dueDate:
          type: string
          description: Payment due date. Format is `YYYY-MM-DD`.
      description: Vendor contact information and payment acceptance info extracted from an invoice.
      title: VendorEnrichmentInvoiceScan
    Contacts:
      type: object
      properties:
        contactEmail:
          $ref: '#/components/schemas/Email'
          description: Contact email address.
        contactName:
          type: string
          description: Contact name.
        contactPhone:
          type: string
          description: Contact phone number.
        contactTitle:
          type: string
          description: Contact title.
        additionalData:
          $ref: '#/components/schemas/AdditionalDataString'
      title: Contacts
    OrgParentName:
      type: string
      description: The name of the parent organization.
      title: OrgParentName
    VendorEnrichResponse:
      type: object
      properties:
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        roomId:
          $ref: '#/components/schemas/RoomIdNotInUse'
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          $ref: '#/components/schemas/VendorEnrichResponseData'
      required:
      - responseText
      description: Response from the vendor enrichment endpoint.
      title: VendorEnrichResponse
    VendorName1:
      type: string
      description: 'Primary name for vendor. Required for new vendor.

        '
      title: VendorName1
    StateNullable:
      type: string
      description: The state or province.
      title: StateNullable
    AddressNullable:
      type: string
      description: The address.
      title: AddressNullable
    VendorEnrichResponseData:
      type: object
      properties:
        enrichmentId:
          type: string
          description: 'Unique identifier for this enrichment run. Format: `enrich-{vendorId}-{8-char hex}`.'
        status:
          type: string
          description: Final enrichment status. Values are `completed` (vendor is payout-ready), `completed_from_network` (vendor was already enriched in the Payabli vendor network, no AI processing needed), or `insufficient` (all stages ran but the vendor still lacks sufficient payment data).
        stagesTriggered:
          type: array
          items:
            type: string
          description: Stages that ran successfully. A stage is only listed here if it returned a successful response. Failed stages are excluded.
        vendorPayoutReady:
          type: boolean
          description: '`true` if the vendor now has sufficient payment data to process a payout (ACH, card email, or check remit address).'
        enrichmentData:
          $ref: '#/components/schemas/VendorEnrichmentData'
          description: Raw extraction results from the enrichment stages that ran.
      description: Enrichment result details.
      title: VendorEnrichResponseData
    Remitstate:
      type: string
      description: 'Remittance address state or province. Used for mailing paper checks.

        Required if any remittance address field is provided. Must be a valid

        US state or Canadian province abbreviation.

        '
      title: Remitstate
    VendorResponseStoredMethod:
      type: object
      properties:
        IdPmethod:
          type:
          - string
          - 'null'
        Method:
          type:
          - string
          - 'null'
        Descriptor:
          type:
          - string
          - 'null'
        MaskedAccount:
          type:
          - string
          - 'null'
        ExpDate:
          type:
          - string
          - 'null'
        HolderName:
          type:
          - string
          - 'null'
        AchSecCode:
          type:
          - string
          - 'null'
        AchHolderType:
          type:
          - string
          - 'null'
        IsValidatedACH:
          type:
          - boolean
          - 'null'
        BIN:
          type:
          - string
          - 'null'
        binData:
          oneOf:
          - $ref: '#/components/schemas/BinData'
          - type: 'null'
        ABA:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        MethodType:
          type:
          - string
          - 'null'
        WalletType:
          type:
          - string
          - 'null'
          description: Digital wallet type if applicable.
        LastUpdated:
          type:
          - string
          - 'null'
          format: date-time
        CardUpdatedOn:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the card was last updated.
      required:
      - IdPmethod
      - Method
      - Descriptor
      - MaskedAccount
      - ExpDate
      - HolderName
      - AchSecCode
      - AchHolderType
      - IsValidatedACH
      - BIN
      - binData
      - ABA
      - PostalCode
      - MethodType
      - WalletType
      - LastUpdated
      - CardUpdatedOn
      description: Stored payment method information
      title: VendorResponseStoredMethod
    VendorSummary:
      type: object
      properties:
        ActiveBills:
          type: integer
        PendingBills:
          type: integer
        InTransitBills:
          type: integer
        PaidBills:
          type: integer
        OverdueBills:
          type: integer
        ApprovedBills:
          type: integer
        DisapprovedBills:
          type: integer
        TotalBills:
          type: integer
        ActiveBillsAmount:
          type: number
          format: double
        PendingBillsAmount:
          type: number
          format: double
        InTransitBillsAmount:
          type: number
          format: double
        PaidBillsAmount:
          type: number
          format: double
        OverdueBillsAmount:
          type: number
          format: double
        ApprovedBillsAmount:
          type: number
          format: double
        DisapprovedBillsAmount:
          type: number
          format: double
        TotalBillsAmount:
          type: number
          format: double
      title: VendorSummary
    Zip:
      type: string
      description: ZIP code for address.
      title: Zip
    VendorScheduleCallResponseData:
      type: object
      properties:
        callScheduleId:
          type: integer
          description: Identifier for the scheduled call.
        enrichmentId:
          type: string
          description: ID of the enrichment run associated with this call. When the request omits `enrichmentId`, Payabli generates one and returns it here.
        scheduledCallDate:
          type: string
          description: ISO-8601 timestamp of the next scheduled call attempt.
        status:
          type: string
          description: Status of the call schedule. Values are `pending`, `dispatched`, `retry_scheduled`, `completed`, and `fallback_applied`.
      description: Scheduled call details.
      title: VendorScheduleCallResponseData
    TypeAccount:
      type: string
      enum:
      - Checking
      - Savings
      description: 'Type of bank account: Checking or Savings.'
      title: TypeAccount
    Responsecode:
      type: integer
      description: 'Code for the response. Learn more in

        [API Response Codes](/developers/api-reference/api-responses).

        '
      title: Responsecode
    AccountNumber:
      type: string
      description: Account number for bank account. This value is returned masked in responses.
      title: AccountNumber
    Legalname:
      type: string
      description: Business legal name.
      title: Legalname
    AddressAddtlNullable:
      type: string
      description: Additional line for the address.
      title: AddressAddtlNullable
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

        '
    APIKeyAuth:
      type: apiKey
      in: header
      name: requestToken
      description: 'Long-lived API token sent in the `requestToken` header. See [API token authentication](/developers/api-tokens).

        '
