openapi: 3.1.0
info:
  title: API reference Bill moneyOut API
  version: 1.0.0
servers:
- url: https://api-sandbox.payabli.com/api
  description: Sandbox
- url: https://api.payabli.com/api
  description: Production
tags:
- name: moneyOut
paths:
  /MoneyOut/authorize:
    post:
      operationId: AuthorizeOut
      summary: Authorize a payout
      description: 'Authorizes a transaction for payout.


        If you don''t pass `autoCapture` with a value of `true`, authorized transactions aren''t flagged for settlement until captured. Use the `referenceId` returned in the response to capture the transaction.


        When `autoCapture` is `true`, Payabli captures the transaction asynchronously after authorization. The response confirms only that the transaction was authorized; it doesn''t confirm that capture succeeded. To confirm capture, listen for the [`payout_transaction_approvedcaptured`](/developers/api-reference/webhooks-overview/payout-transaction-approved-captured) webhook event.


        If a velocity fraud alert is triggered, the endpoint returns a `202` response with `responseCode` `9051`, and the authorization is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a `422` response with `responseCode` `9005`, a terminal rejection.


        For check payouts, Payabli validates the remit (mailing) address at authorization. If the address fails deliverability validation, the endpoint returns a `422` response and doesn''t charge the paypoint. Correct the address and re-authorize. Other payout rails (ACH, RTP, virtual card, wire, and managed payables) aren''t affected.'
      tags:
      - moneyOut
      parameters:
      - name: allowDuplicatedBills
        in: query
        description: When `true`, the authorization bypasses the requirement for unique bills, identified by vendor invoice number. This allows you to make more than one payout authorization for a bill, like a split payment.
        required: false
        schema:
          type: boolean
          default: false
      - name: doNotCreateBills
        in: query
        description: When `true`, Payabli won't automatically create a bill for this payout transaction.
        required: false
        schema:
          type: boolean
          default: false
      - name: forceVendorCreation
        in: query
        description: When `true`, the request creates a new vendor record, regardless of whether the vendor already exists.
        required: false
        schema:
          type: boolean
          default: false
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthCapturePayoutResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '422':
          description: 'Blocked by fraud control. Returned when a risk policy blocks the transaction

            (response code `9005`). This is a terminal outcome — the transaction is

            rejected and won''t proceed, so the body carries `isSuccess: false` and

            `responseCode: 9005`.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePayoutBody'
  /MoneyOut/capture/{referenceId}:
    get:
      operationId: CaptureOut
      summary: Capture an authorized payout transaction
      description: 'Captures a single authorized payout transaction by ID. If the transaction was authorized with `autoCapture` set to `true`, you don''t need to call this endpoint to capture the transaction for processing.


        If a velocity fraud alert is triggered, the endpoint returns a `202` response with `responseCode` `9051`, and the capture is held for risk review rather than rejected. If a risk policy blocks the transaction, the endpoint returns a `422` response with `responseCode` `9005`, a terminal rejection.'
      tags:
      - moneyOut
      parameters:
      - name: referenceId
        in: path
        description: The ID for the payout transaction.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthCapturePayoutResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '422':
          description: 'Blocked by fraud control. Returned when a risk policy blocks the transaction

            (response code `9005`). This is a terminal outcome — the transaction is

            rejected and won''t proceed, so the body carries `isSuccess: false` and

            `responseCode: 9005`.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyOut/captureAll:
    post:
      operationId: CaptureAllOut
      summary: Capture a list of authorized payout transactions
      description: Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
      tags:
      - moneyOut
      parameters:
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureAllOutResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
  /MoneyOut/cancel/{referenceId}:
    delete:
      operationId: CancelOutDelete
      summary: Cancel a payout transaction
      description: Cancel a payout transaction by ID.
      tags:
      - moneyOut
      parameters:
      - name: referenceId
        in: path
        description: The ID for the payout transaction.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponse0000'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
    get:
      operationId: CancelOutGet
      summary: Cancel a payout transaction
      description: Cancel a payout transaction by ID.
      tags:
      - moneyOut
      parameters:
      - name: referenceId
        in: path
        description: The ID for the payout transaction.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponse0000'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyOut/cancelAll:
    post:
      operationId: CancelAllOut
      summary: Cancel list of payout transactions
      description: Cancels an array of payout transactions.
      tags:
      - moneyOut
      parameters:
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureAllOutResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
  /MoneyOut/details/{transId}:
    get:
      operationId: PayoutDetails
      summary: Get details for a processed payout transaction
      description: Returns details for a processed money out transaction.
      tags:
      - moneyOut
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillDetailResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyOut/checkimage/{assetName}:
    get:
      operationId: GetCheckImage
      summary: Get check image
      description: 'Retrieve the image of a check associated with a processed transaction.

        The check image is returned in the response body as a base64-encoded string.

        The check image is only available for payouts that have been processed.'
      tags:
      - moneyOut
      parameters:
      - name: assetName
        in: path
        description: "Name of the check asset to retrieve. This is returned as `filename` in the `CheckData` object\nin the response when you make a GET request to `/MoneyOut/details/{transId}`.\n```\n    \"CheckData\": {\n      \"ftype\": \"PDF\",\n      \"filename\": \"check133832686289732320_01JKBNZ5P32JPTZY8XXXX000000.pdf\",\n      \"furl\": \"\",\n      \"fContent\": \"\"\n  }\n```\n"
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A base64-encoded string of the check image.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyOut/status/{transId}/{checkPaymentStatus}:
    patch:
      operationId: UpdateCheckPaymentStatus
      summary: Update check payment status
      description: 'Updates the status of a processed check payment transaction. This endpoint handles the status transition, updates related bills, creates audit events, and triggers notifications.


        The transaction must meet all of the following criteria:

        - **Status**: Must be in Processing or Processed status.

        - **Payment method**: Must be a check payment method.


        ### Allowed status values


        | Value | Status | Description |

        |-------|--------|-------------|

        | `0` | Cancelled/Voided | Cancels the check transaction. Reverts associated bills to their previous state (Approved or Active), creates "Cancelled" events, and sends a `payout_transaction_voidedcancelled` notification if the notification is enabled. |

        | `5` | Paid | Marks the check transaction as paid. Updates associated bills to "Paid" status, creates "Paid" events, and sends a `payout_transaction_paid` notification if the notification is enabled. |'
      tags:
      - moneyOut
      parameters:
      - name: transId
        in: path
        description: The Payabli transaction ID for the check payment.
        required: true
        schema:
          type: string
      - name: checkPaymentStatus
        in: path
        description: The new status to apply to the check transaction. To mark a check as `Paid`, send 5. To mark a check as `Cancelled`, send 0.
        required: true
        schema:
          $ref: '#/components/schemas/AllowedCheckPaymentStatus'
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponse00Responsedatanonobject'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyOut/reissue:
    post:
      operationId: ReissueOut
      summary: Reissue a payout transaction
      description: 'Reissues a payout transaction with a new payment method. This creates a new transaction linked to the original and marks the original transaction as reissued.


        The original transaction must be in **Processing** or **Processed** status. The payment method in the request body is used directly. The endpoint doesn''t fall back to vendor-managed payment methods.


        The new transaction goes through the standard authorize-and-capture flow automatically. Both the original and new transactions are linked through their event histories for audit purposes.'
      tags:
      - moneyOut
      parameters:
      - name: transId
        in: query
        description: The transaction ID of the payout to reissue.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReissuePayoutResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '403':
          description: Consent error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissuePayoutBody'
  /MoneyOut/vcard/{cardToken}:
    get:
      operationId: VCardGet
      summary: Get a virtual card
      description: Retrieves vCard details for a single card in an entrypoint.
      tags:
      - moneyOut
      parameters:
      - name: cardToken
        in: path
        description: ID for a virtual card.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCardGetResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyOutCard/vcard/{cardToken}/renew:
    put:
      operationId: RenewVCard
      summary: Renew a virtual card
      description: 'Renews an expired or expiring virtual card by extending its expiration date to a future month.


        The card must be a virtual card that hasn''t been fully used. The new expiration date must be in `MM-YYYY` or `MM/YYYY` format and no more than 2 years and 363 days in the future. The card expires on the last day of the month you specify.


        On success, `referenceId` holds the renewed card''s token (the card processor may issue a new token). The response reuses the standard payout result object, so the payment-transaction fields it carries don''t apply to renewal and always return `null`.'
      tags:
      - moneyOut
      parameters:
      - name: cardToken
        in: path
        description: ID for the virtual card to renew.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewVCardResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewVCardRequest'
  /vcard/send-card-link:
    post:
      operationId: SendVCardLink
      summary: Send virtual card link
      description: Sends a virtual card link via email to the vendor associated with the `transId`.
      tags:
      - moneyOut
      parameters:
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVCardLinkRequest'
components:
  schemas:
    RiskReason:
      type: string
      description: Reason for risk flagging.
      title: RiskReason
    IsSameDayACH:
      type: boolean
      description: 'When `true`, this is a same-day ACH transaction.

        '
      title: IsSameDayACH
    ContactsField:
      type: array
      items:
        $ref: '#/components/schemas/Contacts'
      description: List of contacts.
      title: ContactsField
    AccountId:
      type: string
      description: Custom identifier for payment connector.
      title: AccountId
    SettlementStatusPayout:
      type: string
      description: 'The settlement status of the payout transaction. See

        [Payout Transaction Statuses](/guides/pay-out-status-reference#payout-transaction-statuses)

        for a full reference.

        '
      title: SettlementStatusPayout
    Maskedaccount:
      type: string
      description: 'Masked card or bank account used in transaction. In the case of Apple

        Pay, this is a masked DPAN (device primary account number).

        '
      title: Maskedaccount
    BankName:
      type: string
      description: Name of bank for account.
      title: BankName
    PayabliErrorBodyResponseData:
      type: object
      properties:
        explanation:
          type: string
          description: Human-readable explanation of what happened.
        todoAction:
          type: string
          description: Suggested resolution.
      description: Object with detailed error context.
      title: PayabliErrorBodyResponseData
    CvvResponseText:
      type: string
      description: 'Text code describing the result for CVV validation (applies only for card

        transactions).

        '
      title: CvvResponseText
    RiskFlaggedOn:
      type: string
      format: date-time
      description: Timestamp when the transaction was flagged for risk.
      title: RiskFlaggedOn
    Email:
      type: string
      format: email
      description: Email address.
      title: Email
    Accountexp:
      type: string
      description: Expiration date of card used in transaction.
      title: Accountexp
    MethodReferenceId:
      type: string
      description: 'The stored method''s identifier (sometimes referred to as ''token'') in

        Payabli. When `null`, the method wasn''t created, or doesn''t exist,

        depending on the operation performed.

        '
      title: MethodReferenceId
    CityNullable:
      type: string
      description: The city.
      title: CityNullable
    RequestOutAuthorizeVendorData:
      type: object
      properties:
        vendorNumber:
          $ref: '#/components/schemas/VendorNumber'
        name1:
          $ref: '#/components/schemas/VendorName1'
        name2:
          $ref: '#/components/schemas/VendorName2'
        ein:
          $ref: '#/components/schemas/VendorEin'
        phone:
          $ref: '#/components/schemas/VendorPhone'
        email:
          $ref: '#/components/schemas/Email'
        address1:
          $ref: '#/components/schemas/AddressNullable'
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        mcc:
          $ref: '#/components/schemas/Mcc'
        contacts:
          $ref: '#/components/schemas/ContactsField'
        billingData:
          $ref: '#/components/schemas/RequestOutAuthorizeVendorBillingData'
        vendorStatus:
          $ref: '#/components/schemas/Vendorstatus'
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        customerVendorAccount:
          type: string
        customField1:
          type: string
        customField2:
          type: string
        additionalData:
          $ref: '#/components/schemas/AdditionalData'
        address2:
          $ref: '#/components/schemas/AddressAddtlNullable'
        internalReferenceId:
          type: integer
          format: int64
        locationCode:
          $ref: '#/components/schemas/LocationCode'
        payeeName1:
          $ref: '#/components/schemas/PayeeName'
        payeeName2:
          $ref: '#/components/schemas/PayeeName'
        paymentMethod:
          $ref: '#/components/schemas/VendorPaymentMethod'
        vendorId:
          $ref: '#/components/schemas/Vendorid'
      description: Object containing vendor data.
      title: RequestOutAuthorizeVendorData
    RemitEmail:
      type: string
      format: email
      description: 'Remittance email address. Used for sending virtual cards and other

        information about payouts.

        '
      title: RemitEmail
    EntityIdString:
      type: string
      description: 'The entity''s ID in Payabli. If the entity is a paypoint, this is the

        paypoint ID. If the entity is an organization, this is the organization

        ID.

        '
      title: EntityIdString
    RoomIdNotInUse:
      type: integer
      format: int64
      description: Field not in use on this endpoint. It always returns `0`.
      title: RoomIdNotInUse
    PayeeName:
      type: string
      description: Alternative name used to receive paper check.
      title: PayeeName
    RequestOutAuthorizePaymentDetails:
      type: object
      properties:
        checkNumber:
          $ref: '#/components/schemas/VendorCheckNumber'
        currency:
          type: string
          description: Currency code ISO-4217. If no code is provided, then the currency in the paypoint setting is used. Default is **USD**.
        serviceFee:
          type: number
          format: double
          description: Service fee to be deducted from the total amount. This amount must be a number, percentages aren't accepted. If you are using a percentage-based fee schedule, you must calculate the value manually.
        totalAmount:
          type: number
          format: double
          description: Total amount to be charged. If a service fee is included, then this amount should include the service fee.
        unbundled:
          type: boolean
          description: Indicates whether the payout should be bundled into a single transaction or processed separately. If set to `true`, each bill will be processed as a separate payout. If `false` or not provided, then multiple bills will be paid with a single payout.
      description: Object containing payment details.
      title: RequestOutAuthorizePaymentDetails
    AllowedCheckPaymentStatus:
      type: string
      enum:
      - '0'
      - '5'
      description: 'The new status to apply to a check payment transaction.

        - `0`: Cancelled/Voided — Cancels the check transaction.

        - `5`: Paid — Marks the check transaction as paid.'
      title: AllowedCheckPaymentStatus
    Entrypointfield:
      type: string
      description: The entrypoint identifier.
      title: Entrypointfield
    PageIdentifier:
      type: string
      description: Auxiliary validation used internally by payment pages and components.
      title: PageIdentifier
    BillDetailsResponse:
      type: object
      properties:
        billId:
          $ref: '#/components/schemas/BillId'
        lotNumber:
          type: string
          description: Lot number of the bill.
        invoiceNumber:
          $ref: '#/components/schemas/InvoiceNumber'
          description: Custom number identifying the bill.
        netAmount:
          $ref: '#/components/schemas/NetAmountstring'
          description: Net Amount owed in bill. Required when adding a bill.
        discount:
          type: string
          description: Bill discount amount.
        dueDate:
          type:
          - string
          - 'null'
          format: date
          description: Bill due date in format YYYY-MM-DD or MM/DD/YYYY.
        invoiceDate:
          type:
          - string
          - 'null'
          format: date
          description: Bill date in format YYYY-MM-DD or MM/DD/YYYY.
        comments:
          $ref: '#/components/schemas/Comments'
          description: Any comments about bill. **For managed payouts, this field has a limit of 100 characters**.
      required:
      - dueDate
      - invoiceDate
      description: Response object for bill details. Contains basic information about a bill.
      title: BillDetailsResponse
    IdempotencyKey:
      type: string
      description: '_Optional but recommended._ A unique ID that you can include to prevent

        duplicating objects or transactions in the case that a request is sent

        more than once. This key isn''t generated in Payabli; you must generate it

        yourself. The key persists for 2 minutes. After 2 minutes, you can reuse

        the key if needed.

        '
      title: IdempotencyKey
    VCardGetResponseAssociatedVendorSummary:
      type: object
      properties:
        ActiveBills:
          type: integer
          description: Number of active bills.
        PendingBills:
          type: integer
          description: Number of bills pending approval or payment.
        InTransitBills:
          type: integer
          description: Number of bills in transit.
        PaidBills:
          type: integer
          description: Number of bills that have been paid.
        OverdueBills:
          type: integer
          description: Number of bills that are overdue.
        ApprovedBills:
          type: integer
          description: Number of bills that have been approved.
        DisapprovedBills:
          type: integer
          description: Number of bills that have been disapproved.
        TotalBills:
          type: integer
          description: Total number of bills.
        ActiveBillsAmount:
          type: number
          format: double
          description: Total amount of active bills.
        PendingBillsAmount:
          type: number
          format: double
          description: Total amount of pending bills.
        InTransitBillsAmount:
          type: number
          format: double
          description: Total amount of bills in transit.
        PaidBillsAmount:
          type: number
          format: double
          description: Total amount of paid bills.
        OverdueBillsAmount:
          type: number
          format: double
          description: Total amount of overdue bills.
        ApprovedBillsAmount:
          type: number
          format: double
          description: Total amount of approved bills.
        DisapprovedBillsAmount:
          type: number
          format: double
          description: Total amount of rejected bills.
        TotalBillsAmount:
          type: number
          format: double
          description: Total amount of all bills.
      description: Summary of vendor's billing and transaction status.
      title: VCardGetResponseAssociatedVendorSummary
    Vendorid:
      type: integer
      description: Payabli identifier for vendor record.
      title: Vendorid
    RiskStatus:
      type: string
      description: Current risk status of the transaction.
      title: RiskStatus
    SendVCardLinkRequest:
      type: object
      properties:
        transId:
          type: string
          description: The transaction ID of the virtual card payout. The ID is returned as `ReferenceId` in the response when you authorize a payout with POST /MoneyOut/authorize.
      required:
      - transId
      title: SendVCardLinkRequest
    FileContent:
      type: object
      properties:
        fContent:
          type: string
          description: 'Content of file, Base64-encoded. Ignored if `furl` is specified. Max

            upload size is 30 MB.

            '
        filename:
          type: string
          description: The name of the attached file.
        ftype:
          $ref: '#/components/schemas/FileContentFtype'
        furl:
          type: string
          description: Optional URL provided to show or download the file remotely.
      description: Contains details about a file. Max upload size is 30 MB.
      title: FileContent
    AchSecCode:
      type: string
      description: "Standard Entry Class (SEC) code is a three letter code that describes\nhow an ACH payment was authorized. Supported values are:\n\n- **PPD** (Prearranged Payment and Deposit) — Used for credits or debits\n  where an accountholder authorizes a company to initiate either a single\n  or recurring transaction to their personal bank account. Common examples\n  include direct deposit of payroll, mortgage payments, or utility bills.\n  This is the default value for subscription payments.\n- **WEB** (Internet-Initiated/Mobile Entry) — Used for debit entries when\n  authorization is obtained from an accountholder via the internet or a\n  wireless network. Common examples are online bill payments, ecommerce\n  purchases, and mobile app payments where the consumer enters their\n  banking information online.\n- **TEL** (Telephone-Initiated Entry) — Used for one-time debit entries\n  where authorization is obtained from a consumer via telephone. Common\n  examples are phone-based purchases or bill payments where the consumer\n  provides their banking information over the phone.\n- **CCD** (Corporate Credit or Debit) — Used for fund transfers between\n  business accounts. This code is specifically for business-to-business\n  transactions. Common examples include vendor payments and other\n  business-to-business payments.\n- **BOC** (Back Office Conversion) — Used to convert paper checks received\n  in-person at a point-of-sale or staffed payment location into electronic\n  ACH debits. Required for Remote Deposit Capture (RDC) transactions. Only\n  supports consumer checks; business, government, and mailed checks\n  aren't eligible.\n"
      title: AchSecCode
    RenewVCardResponseData:
      type: object
      properties:
        authCode:
          oneOf:
          - $ref: '#/components/schemas/Authcode'
          - type: 'null'
          description: Not used for virtual card renewal; always returns `null`.
        referenceId:
          $ref: '#/components/schemas/Referenceidtrans'
          description: Reference identifier for the renewed virtual card returned by the card processor.
        resultCode:
          $ref: '#/components/schemas/ResultCode'
        resultText:
          $ref: '#/components/schemas/Resulttext'
        avsResponseText:
          oneOf:
          - $ref: '#/components/schemas/AvsResponseText'
          - type: 'null'
          description: Not used for virtual card renewal; always returns `null`.
        cvvResponseText:
          oneOf:
          - $ref: '#/components/schemas/CvvResponseText'
          - type: 'null'
          description: Not used for virtual card renewal; always returns `null`.
        customerId:
          oneOf:
          - $ref: '#/components/schemas/Vendoridtrans'
          - type: 'null'
          description: Not used for virtual card renewal; always returns `null`.
        vendorId:
          oneOf:
          - $ref: '#/components/schemas/Vendoridtrans'
          - type: 'null'
          description: Not used for virtual card renewal; always returns `null`.
        methodReferenceId:
          oneOf:
          - $ref: '#/components/schemas/MethodReferenceId'
          - type: 'null'
          description: Not used for virtual card renewal; always returns `null`.
      required:
      - authCode
      - referenceId
      - resultCode
      - resultText
      - avsResponseText
      - cvvResponseText
      - customerId
      - vendorId
      - methodReferenceId
      title: RenewVCardResponseData
    CreatedAt:
      type: string
      format: date-time
      description: Timestamp of when record was created, in UTC.
      title: CreatedAt
    BinData:
      type: object
      properties:
        binMatchedLength:
          type: string
          description: 'The number of characters from the beginning of the card number that

            were matched against a Bank Identification Number (BIN) or the Card

            Range table.'
        binCardBrand:
          type: string
          description: 'The card brand. For example, Visa, Mastercard, American Express,

            Discover.'
        binCardType:
          type: string
          description: 'The type of card: `Credit` or `Debit`. Case can vary between

            processors, so compare this value case-insensitively.'
        binCardCategory:
          type: string
          description: 'The category of the card, which indicates the card product. For example: Standard, Gold, Platinum, etc. The binCardCategory for prepaid cards is marked `PREPAID`.'
        binCardIssuer:
          type: string
          description: The name of the financial institution that issued the card.
        binCardIssuerCountry:
          type: string
          description: The issuing financial institution's country name.
        binCardIssuerCountryCodeA2:
          type: string
          description: The issuing financial institution's two-character ISO country code. See [this resource](https://www.iso.org/obp/ui/#search) for a list of codes.
        binCardIssuerCountryNumber:
          type: string
          description: The issuing financial institution's ISO standard numeric country code. See [this resource](https://www.iso.org/obp/ui/#search) for a list of codes.
        binCardIsRegulated:
          type: string
          description: Indicates whether the card is regulated.
        binCardUseCategory:
          type: string
          description: The use category classification for the card.
        binCardIssuerCountryCodeA3:
          type: string
          description: 'The issuing financial institution''s three-character ISO country code.

            See [this resource](https://www.iso.org/obp/ui/#search) for a list of

            codes.'
      description: 'Object containing information related to the card. This object is `null`

        unless the payment method is card. If the payment method is Apple Pay, the

        binData will be related to the DPAN (device primary account number), not

        the card connected to Apple Pay.'
      title: BinData
    Holdername:
      type: string
      description: The cardholder name.
      title: Holdername
    ResponseText:
      type: string
      description: 'Response text for operation: ''Success'' or ''Declined''.

        '
      title: ResponseText
    VendorPhone:
      type: string
      description: 'Vendor''s phone number. Phone number can''t contain non-digit characters

        like hyphens or parentheses.

        '
      title: VendorPhone
    AchHolderType:
      type: string
      enum:
      - personal
      - business
      default: personal
      description: 'The bank''s accountholder type: personal or business.

        '
      title: AchHolderType
    RequestOutAuthorizeVendorBillingData:
      type: object
      properties:
        bankName:
          $ref: '#/components/schemas/BankName'
        routingAccount:
          $ref: '#/components/schemas/RoutingAccount'
        accountNumber:
          $ref: '#/components/schemas/AccountNumber'
        typeAccount:
          $ref: '#/components/schemas/TypeAccount'
        bankAccountHolderName:
          $ref: '#/components/schemas/BankAccountHolderName'
      description: Object containing vendor's bank information. This object is deprecated for this endpoint. Use the `paymentMethod` object in payout authorize requests instead.
      title: RequestOutAuthorizeVendorBillingData
    Initiator:
      type: string
      description: 'The transaction''s initiator. Indicates who initiated the transaction.

        '
      title: Initiator
    Remitcountry:
      type: string
      description: 'Remittance address country. Used for mailing paper checks. Must be `US`

        or `CA`. Defaults to `US` if not provided.

        '
      title: Remitcountry
    FeeAmount:
      type: number
      format: double
      description: Service fee or sub-charge applied.
      title: FeeAmount
    PayabliApiResponse00Responsedatanonobject:
      type: object
      properties:
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        roomId:
          type: integer
          format: int64
          description: Describes the room ID. Only in use on Boarding endpoints, returns `0` when not applicable.
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          $ref: '#/components/schemas/Responsedatanonobject'
      required:
      - responseText
      title: PayabliApiResponse00Responsedatanonobject
    AuthorizePayoutBody:
      type: object
      properties:
        entryPoint:
          $ref: '#/components/schemas/Entrypointfield'
        source:
          $ref: '#/components/schemas/Source'
        orderId:
          $ref: '#/components/schemas/OrderId'
        orderDescription:
          $ref: '#/components/schemas/Orderdescription'
        paymentMethod:
          $ref: '#/components/schemas/AuthorizePaymentMethod'
        paymentDetails:
          $ref: '#/components/schemas/RequestOutAuthorizePaymentDetails'
          description: Object containing payment details.
        vendorData:
          $ref: '#/components/schemas/RequestOutAuthorizeVendorData'
          description: Object containing vendor data.
        invoiceData:
          type: array
          items:
            $ref: '#/components/schemas/RequestOutAuthorizeInvoiceData'
          description: Array of bills associated to the transaction
        accountId:
          $ref: '#/components/schemas/AccountId'
        subdomain:
          $ref: '#/components/schemas/Subdomain'
        subscriptionId:
          $ref: '#/components/schemas/Subscriptionid'
        autoCapture:
          $ref: '#/components/schemas/AutoCapture'
      required:
      - entryPoint
      - paymentMethod
      - paymentDetails
      - vendorData
      - invoiceData
      title: AuthorizePayoutBody
    EnrollmentStatus:
      type: string
      description: Enrollment status of vendor in payables program.
      title: EnrollmentStatus
    InternalReferenceId:
      type: integer
      format: int64
      description: An internal reference ID.
      title: InternalReferenceId
    PayabliApiResponse0000:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        responseData:
          $ref: '#/components/schemas/CancelPayoutResponseData'
      required:
      - responseText
      description: The response for canceling a single payout transaction.
      title: PayabliApiResponse0000
    VendorName2:
      type: string
      description: 'Secondary name for vendor. If provided, allowed characters are the

        same as the `name1` field.

        '
      title: VendorName2
    PaymentIdString:
      type: string
      description: 'The unique transaction ID. This value is a string representation of a

        long integer.

        '
      title: PaymentIdString
    Subdomain:
      type: string
      description: 'Refers to the payment page identifier. If provided, then the

        transaction is linked to the payment page.

        '
      title: Subdomain
    Comments:
      type: string
      description: Any comment or description.
      title: Comments
    PayabliErrorBody:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Always `false` for error responses.
        responseCode:
          type: integer
          description: 'Code for the response. Learn more in

            [API Response Codes](/developers/api-reference/api-responses).

            '
        responseText:
          type: string
          description: Error text describing what went wrong.
        responseData:
          $ref: '#/components/schemas/PayabliErrorBodyResponseData'
          description: Object with detailed error context.
      required:
      - isSuccess
      - responseText
      description: 'Shape returned by every Payabli API error response. The `responseData`

        object carries human-readable error context.

        '
      title: PayabliErrorBody
    OperationResult:
      type: object
      properties:
        message:
          type: string
          description: Message describing the result. If the virtual card link was sent successfully, this contains the email address to which the link was sent.
        success:
          type: boolean
          description: Indicates whether the operation was successful.
      required:
      - success
      title: OperationResult
    ScheduleId:
      type: integer
      format: int64
      description: ID of the recurring payment schedule associated with the transaction.
      title: ScheduleId
    Vendorstatus:
      type: integer
      description: 'Vendor''s status. Allowed values:


        - `0` Inactive

        - `1` Active

        - `-99` Deleted

        '
      title: Vendorstatus
    BankAccountHolderType:
      type: string
      enum:
      - Personal
      - Business
      description: Describes whether the bank is a personal or business account.
      title: BankAccountHolderType
    VendorPaymentMethod:
      type: object
      properties:
        method:
          type: string
          description: Payment method type - "managed", "vcard", "check", or "ach"
        storedMethodId:
          type: string
          description: ID of the stored ACH payment method. Only applicable when method is "ach". Required when using a previously saved ACH method when the vendor has more than one saved method. See the [Payouts with saved ACH payment methods](/developers/developer-guides/pay-out-manage-payouts) section for more details.
      required:
      - method
      description: 'Payment method object to use for the payout.

        - `{ method: "managed" }` - Managed payment method

        - `{ method: "vcard" }` - Virtual card payment method

        - `{ method: "check" }` - Check payment method

        - `{ method: "ach", storedMethodId?: "..." }` - ACH payment method with optional stored method ID'
      title: VendorPaymentMethod
    LocationCode:
      type: string
      description: A location code used to identify the vendor's location.
      title: LocationCode
    AdditionalDataString:
      type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. Example usage:\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataString
    RoutingAccount:
      type: string
      description: Routing number of bank account.
      title: RoutingAccount
    RiskActionCode:
      type: integer
      description: Numeric code representing the risk action.
      title: RiskActionCode
    CaptureAllOutResponse:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        responseData:
          type: array
          items:
            $ref: '#/components/schemas/CaptureAllOutResponseResponseDataItem'
          description: Array of objects describing the transactions.
        responseText:
          $ref: '#/components/schemas/ResponseText'
      required:
      - responseText
      title: CaptureAllOutResponse
    VendorEin:
      type: string
      description: 'EIN/Tax ID for vendor. Must be nine digits formatted as `XX-XXXXXXX`

        (for example, `12-3456789`).

        '
      title: VendorEin
    IsSuccess:
      type: boolean
      description: 'Boolean indicating whether the operation was successful. A `true` value

        indicates success. A `false` value indicates failure.

        '
      title: IsSuccess
    Ein:
      type: string
      description: Business EIN or tax ID. This value is masked in API responses.
      title: Ein
    Dbaname:
      type: string
      description: 'The alternate or common name that this business is doing business under,

        usually referred to as a DBA name.

        '
      title: Dbaname
    BillingDataResponse:
      type: object
      properties:
        id:
          type: integer
          description: The bank's ID in Payabli.
        accountId:
          $ref: '#/components/schemas/AccountId'
          description: An identifier for the bank account. If not provided during creation or update, the system generates one in the format `acct-{first_digit}xxxxx{last_4_digits}` based on the account number. If a duplicate exists within the same service at the paypoint, a numeric suffix is appended, such as `-2`. This value is also used as the identifier for the bank account's associated payment connector.
        nickname:
          type: string
        bankName:
          $ref: '#/components/schemas/BankName'
        routingAccount:
          $ref: '#/components/schemas/RoutingAccount'
        accountNumber:
          $ref: '#/components/schemas/AccountNumber'
        typeAccount:
          $ref: '#/components/schemas/TypeAccount'
        bankAccountHolderName:
          $ref: '#/components/schemas/BankAccountHolderName'
        bankAccountHolderType:
          $ref: '#/components/schemas/BankAccountHolderType'
        bankAccountFunction:
          type: integer
          description: "Describes whether the bank account is used for deposits or withdrawals in Payabli:\n  - `0`: Deposit\n  - `1`: Withdrawal\n  - `2`: Deposit and withdrawal"
        verified:
          type: boolean
        status:
          type: integer
        services:
          type: array
          items:
            description: Any type
        default:
          type: boolean
      required:
      - id
      - nickname
      - bankName
      - routingAccount
      - accountNumber
      - typeAccount
      - bankAccountHolderName
      - bankAccountHolderType
      - bankAccountFunction
      - verified
      - status
      - services
      - default
      title: BillingDataResponse
    VendorQueryRecord:
      type: object
      properties:
        VendorNumber:
          $ref: '#/components/schemas/VendorNumber'
        Name1:
          type: string
        Name2:
          type:
          - string
          - 'null'
        EIN:
          oneOf:
          - $ref: '#/components/schemas/Ein'
          - type: 'null'
        Phone:
          type: string
        Email:
          $ref: '#/components/schemas/Email'
        RemitEmail:
          oneOf:
          - $ref: '#/components/schemas/RemitEmail'
          - type: 'null'
        Address1:
          $ref: '#/components/schemas/AddressNullable'
        Address2:
          $ref: '#/components/schemas/AddressAddtlNullable'
        City:
          $ref: '#/components/schemas/CityNullable'
        State:
          $ref: '#/components/schemas/StateNullable'
        Zip:
          $ref: '#/components/schemas/Zip'
        Country:
          type: string
        Mcc:
          $ref: '#/components/schemas/Mcc'
        LocationCode:
          type: string
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/ContactsResponse'
          description: Array of objects describing the vendor's contacts.
        BillingData:
          $ref: '#/components/schemas/BillingDataResponse'
        PaymentMethod:
          $ref: '#/components/schemas/VendorPaymentMethodString'
        VendorStatus:
          $ref: '#/components/schemas/Vendorstatus'
        VendorId:
          $ref: '#/components/schemas/Vendorid'
        EnrollmentStatus:
          $ref: '#/components/schemas/EnrollmentStatus'
        Summary:
          $ref: '#/components/schemas/VendorSummary'
        PaypointLegalname:
          $ref: '#/components/schemas/Legalname'
        PaypointId:
          type:
          - integer
          - 'null'
          format: int64
          description: The paypoint's ID. This is different from the entryname.
        PaypointDbaname:
          $ref: '#/components/schemas/Dbaname'
        PaypointEntryname:
          $ref: '#/components/schemas/Entrypointfield'
        ParentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        ParentOrgId:
          $ref: '#/components/schemas/OrgParentId'
        CreatedDate:
          $ref: '#/components/schemas/CreatedAt'
        LastUpdated:
          $ref: '#/components/schemas/LastModified'
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        payeeName1:
          $ref: '#/components/schemas/PayeeName'
        payeeName2:
          $ref: '#/components/schemas/PayeeName'
        customField1:
          type: string
        customField2:
          type: string
        customerVendorAccount:
          type: string
        InternalReferenceId:
          $ref: '#/components/schemas/InternalReferenceId'
        PaymentPortalUrl:
          type: string
          description: URL for the vendor's online payment portal, if known. Populated by the vendor enrichment pipeline.
        CardAccepted:
          type: string
          description: Whether the vendor accepts card payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        AchAccepted:
          type: string
          description: Whether the vendor accepts ACH payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        CheckAccepted:
          type: string
          description: Whether the vendor accepts check payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        EnrichmentStatus:
          type: string
          description: Current enrichment state of the vendor. Values are `not_enriched`, `partially_enriched`, `fully_enriched`, or `fallback_applied`.
        EnrichedBy:
          type: string
          description: Which enrichment method resolved the vendor's payment acceptance info. Values are `invoice_scan`, `web_search`, `vendor_network`, or `manual`.
        EnrichedAt:
          type: string
          format: date-time
          description: When the vendor was last enriched (UTC).
        EnrichmentId:
          type: string
          description: Identifier for the enrichment request that last updated this vendor.
        additionalData:
          $ref: '#/components/schemas/AdditionalDataMap'
        externalPaypointID:
          $ref: '#/components/schemas/ExternalPaypointId'
        StoredMethods:
          type: array
          items:
            $ref: '#/components/schemas/VendorResponseStoredMethod'
      title: VendorQueryRecord
    VendorNumber:
      type: string
      description: 'Custom number identifying the vendor. Must be unique in paypoint. Can''t be

        blank.

        '
      title: VendorNumber
    ReissuePayoutBody:
      type: object
      properties:
        paymentMethod:
          $ref: '#/components/schemas/ReissuePaymentMethod'
      required:
      - paymentMethod
      description: Request body for reissuing a payout transaction.
      title: ReissuePayoutBody
    Remitzip:
      type: string
      description: 'Remittance address ZIP or postal code. Used for mailing paper checks.

        Required if any remittance address field is provided. For US addresses,

        use five digits or ZIP+4 format.

        '
      title: Remitzip
    Signaturedata:
      type: string
      title: Signaturedata
    CaptureAllOutResponseResponseDataItem:
      type: object
      properties:
        CustomerId:
          $ref: '#/components/schemas/Vendoridtrans'
          description: Payabli-generated unique ID of the vendor on the payout. Returns the same value as `VendorId`, or `0` when no vendor is associated.
        VendorId:
          $ref: '#/components/schemas/Vendoridtrans'
          description: Payabli-generated unique ID of the vendor on the payout. Returns the same value as `CustomerId`, or `0` when no vendor is associated.
        ReferenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        ResultCode:
          $ref: '#/components/schemas/ResultCode'
        ResultText:
          $ref: '#/components/schemas/Resulttext'
          description: 'Text describing the result.

            If `ResultCode` = 1, returns ''Authorized''.

            If `ResultCode` = 2 or 3, this contains the cause of the decline.'
      title: CaptureAllOutResponseResponseDataItem
    Sequence:
      type: string
      description: "The order of the transaction for cardholder-initiated transaction (CIT)\nand merchant-initiated transaction (MIT) purposes. This field is\nautomatically detected and populated by Payabli.\n\nAvailable values:\n\n- `first`: The first use of the payment method. This is almost always\n  a cardholder-initiated transaction.\n- `subsequent`: For merchant-initiated transactions after the first use\n  of the payment method.\n\nSee\n[Understanding CIT and MIT Indicators](/guides/pay-in-transactions-cit-mit-overview)\nfor more information.\n"
      title: Sequence
    CancelPayoutResponseData:
      type: object
      properties:
        AuthCode:
          oneOf:
          - $ref: '#/components/schemas/Authcode'
          - type: 'null'
        avsResponseText:
          oneOf:
          - $ref: '#/components/schemas/AvsResponseText'
          - type: 'null'
        CustomerId:
          $ref: '#/components/schemas/Vendoridtrans'
          description: Payabli-generated unique ID of the vendor on the payout. Returns the same value as `VendorId`, or `0` when no vendor is associated.
        VendorId:
          $ref: '#/components/schemas/Vendoridtrans'
          description: Payabli-generated unique ID of the vendor on the payout. Returns the same value as `CustomerId`, or `0` when no vendor is associated.
        cvvResponseText:
          oneOf:
          - $ref: '#/components/schemas/CvvResponseText'
          - type: 'null'
        methodReferenceId:
          oneOf:
          - $ref: '#/components/schemas/MethodReferenceId'
          - type: 'null'
        ReferenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        ResultCode:
          $ref: '#/components/schemas/ResultCode'
        ResultText:
          $ref: '#/components/schemas/Resulttext'
      description: Response data for canceling a single payout transaction. Mirrors the general response data, with `VendorId` added alongside `CustomerId`.
      title: CancelPayoutResponseData
    BankAccountHolderName:
      type: string
      description: The accountholder's name.
      title: BankAccountHolderName
    Vendoridtrans:
      type: integer
      format: int64
      description: 'Payabli-generated unique ID of the vendor on the payout. Returns the same

        value as the response''s `customerId`/`CustomerId` field, or `0` when no

        vendor is associated.

        '
      title: Vendoridtrans
    StoredMethodUsageType:
      type: string
      description: "**Strongly recommended.** The usage type for the stored method, used\nfor merchant-initiated transactions (MIT). If you don't specify a\nvalue, Payabli defaults to `unscheduled`.\n\nAvailable values:\n\n- `unscheduled`: One-time or otherwise not pre-scheduled.\n- `subscription`: Subscription payments. For example, monthly rental\n  fees or ongoing service subscriptions.\n- `recurring`: Recurring payments per a set plan. For example,\n  splitting an HOA special assessment over 6 monthly payments.\n\nSee\n[Understanding CIT and MIT Indicators](/guides/pay-in-transactions-cit-mit-overview)\nfor more information.\n"
      title: StoredMethodUsageType
    ContactsResponse:
      type: object
      properties:
        ContactName:
          type: string
          description: Contact name.
        ContactEmail:
          $ref: '#/components/schemas/Email'
          description: Contact email address.
        ContactTitle:
          type: string
          description: Contact title.
        ContactPhone:
          type: string
          description: Contact phone number.
      title: ContactsResponse
    SplitFundingContent:
      type: object
      properties:
        accountId:
          type: string
          description: The accountId for the account the split should be sent to.
        amount:
          type: number
          format: double
          description: Amount from the transaction to send to this recipient.
        description:
          type: string
          description: A description for the split.
        recipientEntryPoint:
          type: string
          description: The entrypoint the split should be sent to.
      title: SplitFundingContent
    AdditionalDataMap:
      type: object
      additionalProperties:
        type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataMap
    Resulttext:
      type: string
      description: 'Text describing the result. If `ResultCode` = 1, will return `Approved`

        or a general success message. If `ResultCode` = 2 or 3, will contain

        the cause of the error or decline.

        '
      title: Resulttext
    BillId:
      type: integer
      format: int64
      description: 'The bill''s ID in Payabli. This value is automatically generated by Payabli

        when the bill is created.

        '
      title: BillId
    AuthCapturePayoutResponseData:
      type: object
      properties:
        authCode:
          oneOf:
          - $ref: '#/components/schemas/Authcode'
          - type: 'null'
        referenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        resultCode:
          $ref: '#/components/schemas/ResultCode'
        resultText:
          $ref: '#/components/schemas/Resulttext'
        avsResponseText:
          oneOf:
          - $ref: '#/components/schemas/AvsResponseText'
          - type: 'null'
        cvvResponseText:
          oneOf:
          - $ref: '#/components/schemas/CvvResponseText'
          - type: 'null'
        customerId:
          $ref: '#/components/schemas/Vendoridtrans'
          description: Payabli-generated unique ID of the vendor on the payout. Returns the same value as `vendorId`, or `0` when no vendor is associated.
        vendorId:
          $ref: '#/components/schemas/Vendoridtrans'
          description: Payabli-generated unique ID of the vendor on the payout. Returns the same value as `customerId`, or `0` when no vendor is associated.
        methodReferenceId:
          oneOf:
          - $ref: '#/components/schemas/MethodReferenceId'
          - type: 'null'
      required:
      - authCode
      - referenceId
      - resultCode
      - resultText
      - avsResponseText
      - cvvResponseText
      - customerId
      - vendorId
      - methodReferenceId
      title: AuthCapturePayoutResponseData
    AdditionalData:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          description: Any type
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\nExample usage:\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalData
    Remitaddress2:
      type: string
      description: 'Remittance address additional line, such as a suite or unit number. Used

        for mailing paper checks. Always optional.

        '
      title: Remitaddress2
    Storedmethodid:
      type: string
      description: 'Payabli identifier of a tokenized payment method. If this field is

        used in a request, the `method` field is overridden and the payment

        is made using the payment token.

        '
      title: Storedmethodid
    Accounttype:
      type: string
      description: Bank account type or card brand.
      title: Accounttype
    BillDetailResponse:
      type: object
      properties:
        Bills:
          type: array
          items:
            $ref: '#/components/schemas/BillDetailsResponse'
          description: Bills associated with this transaction.
        CheckData:
          $ref: '#/components/schemas/FileContent'
          description: Object referencing to paper check image.
        CheckNumber:
          type: string
          description: Paper check number related to payout transaction.
        Comments:
          $ref: '#/components/schemas/Comments'
          description: Any comment or description for payout transaction.
        CreatedDate:
          $ref: '#/components/schemas/CreatedAt'
          description: Timestamp when the payment was created, in UTC.
        CreatedAt:
          $ref: '#/components/schemas/CreatedAt'
        Events:
          type: array
          items:
            $ref: '#/components/schemas/QueryTransactionEvents'
          description: Events associated to this transaction.
        FeeAmount:
          $ref: '#/components/schemas/FeeAmount'
        Gateway:
          $ref: '#/components/schemas/Gatewayfield'
        IdOut:
          type: integer
          format: int64
          description: Identifier of payout transaction.
        LastUpdated:
          $ref: '#/components/schemas/LastModified'
          description: Timestamp when payment record was updated, in UTC.
        NetAmount:
          $ref: '#/components/schemas/Netamountnullable'
        ParentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        ParentOrgId:
          $ref: '#/components/schemas/OrgParentId'
        PaymentData:
          $ref: '#/components/schemas/QueryPaymentData'
        PaymentGroup:
          type: string
          description: Unique identifier for group or batch containing the transaction.
        PaymentId:
          $ref: '#/components/schemas/PaymentIdString'
        PaymentMethod:
          type: string
          description: Method of payment applied to the transaction.
        PaymentStatus:
          type: string
          description: Status of payout transaction.
        PaypointDbaname:
          $ref: '#/components/schemas/Dbaname'
        PaypointLegalname:
          $ref: '#/components/schemas/Legalname'
          description: Paypoint legal name.
        Source:
          $ref: '#/components/schemas/Source'
        Status:
          type: integer
          description: 'Internal status of transaction.

            Payout statuses, also known as money out transaction statuses, appear in the Payabli Portal and the API and describe where a payout transaction is in its lifecycle.

            | Status | Key | Description | Events |

            |--------|-----|-------------|---------|

            | **Authorized** | 11 | A payout is authorized. These are queued payouts, and nothing happens with them until they''re captured. | Authorized |

            | **Captured** | 1 | A payout is captured and is now part of the batch for payout. | Captured |

            | **Canceled** | 0 | An authorized payout has been canceled. A captured payout can be canceled before batch close at 5 PM ET. | Cancelled |

            | **Processing** | 2 | A payout is being processed. | Waiting funds, Funded, Pending (payment type is pending), Generating check |

            | **Processed** | 3 | A payment method is defined for the vendor, and the payout has been sent to the recipient. | Open (vCard issued, ACH sent, check generated but not yet cashed), Processed (Payment Type is no longer pending), Reissued, Returned, Errored |

            | **OnHold** | 4 | A payout has been placed on hold and requires review before proceeding. | OnHold |

            | **Paid** | 5 | A payout has been paid and the recipient has redeemed the funds. | Paid (check cleared, vCard used, ACH settled) |'
        StatusText:
          type: string
          description: Text description of the payout transaction status.
        TotalAmount:
          type: number
          format: double
          description: Transaction total amount (including service fee or sub-charge).
        Vendor:
          $ref: '#/components/schemas/VendorQueryRecord'
          description: Vendor related to the payout transaction.
        externalPaypointID:
          $ref: '#/components/schemas/ExternalPaypointId'
        EntryName:
          $ref: '#/components/schemas/Entry'
        BatchId:
          type: number
          format: double
          description: Identifier for the batch in which this transaction was processed. Used to track and reconcile batch-level operations.
        HasVcardTransactions:
          $ref: '#/components/schemas/HasVcardTransactions'
        IsSameDayACH:
          $ref: '#/components/schemas/IsSameDayACH'
        ScheduleId:
          $ref: '#/components/schemas/ScheduleId'
        SettlementStatus:
          $ref: '#/components/schemas/SettlementStatusPayout'
        SettlementStatusName:
          $ref: '#/components/schemas/SettlementStatusName'
        RiskFlagged:
          $ref: '#/components/schemas/RiskFlagged'
        RiskFlaggedOn:
          $ref: '#/components/schemas/RiskFlaggedOn'
        RiskStatus:
          $ref: '#/components/schemas/RiskStatus'
        RiskReason:
          $ref: '#/components/schemas/RiskReason'
        RiskAction:
          $ref: '#/components/schemas/RiskAction'
        RiskActionCode:
          $ref: '#/components/schemas/RiskActionCode'
        EntityId:
          $ref: '#/components/schemas/EntityIdString'
      title: BillDetailResponse
    AccountingField:
      type: string
      description: Optional custom field.
      title: AccountingField
    FileContentFtype:
      type: string
      enum:
      - pdf
      - doc
      - docx
      - jpg
      - jpeg
      - png
      - gif
      - txt
      description: The MIME type of the file (if content is provided).
      title: FileContentFtype
    Entry:
      type: string
      description: 'The entity''s entrypoint identifier.

        [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry).

        '
      title: Entry
    Mcc:
      type: string
      description: 'Business Merchant Category Code (MCC).

        [This resource](https://github.com/greggles/mcc-codes/blob/main/mcc_codes.csv)

        lists MCC codes.

        '
      title: Mcc
    Responsedatanonobject:
      oneOf:
      - type: string
      - type: integer
      description: The response data.
      title: Responsedatanonobject
    OrgParentId:
      type: integer
      format: int64
      description: The ID of the org's parent organization.
      title: OrgParentId
    QueryPaymentData:
      type: object
      properties:
        AccountExp:
          $ref: '#/components/schemas/Accountexp'
        accountId:
          $ref: '#/components/schemas/AccountId'
        AccountType:
          $ref: '#/components/schemas/Accounttype'
        AccountZip:
          $ref: '#/components/schemas/Accountzip'
        binData:
          $ref: '#/components/schemas/BinData'
        HolderName:
          $ref: '#/components/schemas/Holdername'
        Initiator:
          $ref: '#/components/schemas/Initiator'
        MaskedAccount:
          $ref: '#/components/schemas/Maskedaccount'
        orderDescription:
          $ref: '#/components/schemas/Orderdescription'
        paymentDetails:
          $ref: '#/components/schemas/PaymentDetail'
        Sequence:
          $ref: '#/components/schemas/Sequence'
        SignatureData:
          $ref: '#/components/schemas/Signaturedata'
        StoredId:
          $ref: '#/components/schemas/Storedmethodid'
          description: Identifier of stored payment method used in transaction.
        StoredMethodUsageType:
          $ref: '#/components/schemas/StoredMethodUsageType'
      title: QueryPaymentData
    VendorPaymentMethodString:
      type: string
      description: 'The vendor''s preferred payment method. Can be one of:


        - `managed` — Managed payment method

        - `vcard` — Virtual card payment method

        - `check` — Check payment method

        - `ach` — ACH payment method

        '
      title: VendorPaymentMethodString
    LastModified:
      type: string
      format: date-time
      description: Timestamp of when record was last updated, in UTC.
      title: LastModified
    InvoiceNumber:
      type: string
      description: Invoice number. Identifies the invoice under a paypoint.
      title: InvoiceNumber
    AuthorizePaymentMethod:
      type: object
      properties:
        method:
          type: string
          description: Payment method type - "managed", "vcard", "check", "ach", "wire", or "rtp"
        achHolder:
          type: string
          description: Account holder name for ACH payments. Required when method is "ach" and not using `storedMethodId`.
        achRouting:
          type: string
          description: Bank routing number for ACH payments. Required when method is "ach" and not using `storedMethodId`.
        achAccount:
          type: string
          description: Bank account number for ACH payments. Required when method is "ach" and not using `storedMethodId`.
        achAccountType:
          type: string
          description: Account type for ACH payments ("checking" or "savings"). Required when method is "ach" and not using `storedMethodId`.
        achCode:
          $ref: '#/components/schemas/AchSecCode'
        achHolderType:
          $ref: '#/components/schemas/AchHolderType'
          default: personal
        storedMethodId:
          type: string
          description: ID of the stored ACH payment method. Only applicable when method is `ach`. Use this to reference a previously saved ACH method instead of providing bank details directly.
        initiator:
          $ref: '#/components/schemas/Initiator'
        storedMethodUsageType:
          $ref: '#/components/schemas/StoredMethodUsageType'
      required:
      - method
      description: 'Payment method object for vendor payouts.

        - `{ method: "managed" }` - Managed payment method

        - `{ method: "vcard" }` - Virtual card payment method

        - `{ method: "check" }` - Check payment method

        - `{ method: "ach", achHolder: "...", achRouting: "...", achAccount: "...", achAccountType: "..." }` - ACH payment method with bank details

        - `{ method: "ach", storedMethodId: "..." }` - ACH payment method using stored method ID

        - `{ method: "wire", achHolder: "...", achRouting: "...", achAccount: "...", achAccountType: "..." }` - Wire transfer payment method (US only, irrevocable)

        - `{ method: "rtp", achHolder: "...", achRouting: "...", achAccount: "...", achAccountType: "..." }` - Real-Time Payments method (US only, irrevocable)'
      title: AuthorizePaymentMethod
    ExternalPaypointId:
      type: string
      description: 'A custom identifier for the paypoint, if applicable.

        '
      title: ExternalPaypointId
    VCardGetResponse:
      type: object
      properties:
        vcardSent:
          type: boolean
          description: Indicates if the virtual card was sent.
        cardToken:
          type: string
          description: A unique token identifier for the card.
        cardNumber:
          type: string
          description: The masked number of the card.
        cvc:
          type: string
          description: Masked Card Verification Code.
        expirationDate:
          type: string
          description: The expiration date of the card.
        status:
          type: string
          description: The current status of the card.
        amount:
          type: number
          format: double
          description: The initial amount loaded on the card.
        currentBalance:
          type: number
          format: double
          description: The current balance available on the card.
        expenseLimit:
          type: number
          format: double
          description: The set limit for expenses.
        expenseLimitPeriod:
          type: string
          description: The period for the expense limit.
        maxNumberOfUses:
          type: integer
          description: Maximum number of uses allowed for the card.
        currentNumberOfUses:
          type: integer
          description: The current number of times the card has been used.
        exactAmount:
          type: boolean
          description: Indicates if only the exact amount is allowed for transactions.
        mcc:
          type: string
          description: Merchant Category Code, if applicable.
        tcc:
          type: string
          description: Transaction Category Code, if applicable.
        misc1:
          type: string
          description: A miscellaneous field for additional information.
        misc2:
          type: string
          description: Another miscellaneous field for extra information.
        dateCreated:
          type: string
          description: The creation date of the record.
        dateModified:
          type: string
          description: The last modified date of the record.
        associatedVendor:
          $ref: '#/components/schemas/VCardGetResponseAssociatedVendor'
          description: Information about the associated vendor.
        associatedCustomer:
          type: string
          description: Information about the associated customer, if applicable.
        ParentOrgName:
          type: string
          description: Name of the parent organization.
        PaypointDbaname:
          type: string
          description: The 'Doing Business As' name of the Paypoint.
        PaypointLegalname:
          type: string
          description: The legal name of the Paypoint.
        PaypointEntryname:
          type: string
          description: Entry name for the Paypoint, if applicable.
        externalPaypointID:
          $ref: '#/components/schemas/ExternalPaypointId'
        paypointId:
          type: integer
          description: The unique identifier for the paypoint.
      title: VCardGetResponse
    ResultCode:
      type: integer
      description: 'Result code for the operation. Value `1` indicates a successful

        operation, values `2` and `3` indicate errors. A value of `10` indicates

        that an operation has been initiated and is pending.

        '
      title: ResultCode
    Remitcity:
      type: string
      description: 'Remittance address city. Used for mailing paper checks. Required if any

        remittance address field is provided.

        '
      title: Remitcity
    NetAmountstring:
      type: string
      description: Net amount owed in bill. Required when adding a bill.
      title: NetAmountstring
    Remitaddress1:
      type: string
      description: 'Remittance street address. Used for mailing paper checks. Required if any

        remittance address field is provided.

        '
      title: Remitaddress1
    HasVcardTransactions:
      type: boolean
      description: 'When `true`, indicates that the paypoint has vCard transactions.

        '
      title: HasVcardTransactions
    Subscriptionid:
      type: integer
      format: int64
      description: Payabli identifier of the subscription associated with the transaction.
      title: Subscriptionid
    RequestOutAuthorizeInvoiceData:
      type: object
      properties:
        invoiceNumber:
          $ref: '#/components/schemas/InvoiceNumber'
        netAmount:
          $ref: '#/components/schemas/NetAmountstring'
        invoiceDate:
          type: string
          format: date
          description: 'Invoice date in any of the accepted formats: YYYY-MM-DD, MM/DD/YYYY.'
        dueDate:
          type: string
          format: date
          description: 'Invoice due date in any of the accepted formats: YYYY-MM-DD, MM/DD/YYYY.'
        comments:
          $ref: '#/components/schemas/Comments'
        lotNumber:
          $ref: '#/components/schemas/LotNumber'
        billId:
          $ref: '#/components/schemas/BillId'
        discount:
          $ref: '#/components/schemas/Discount'
        terms:
          $ref: '#/components/schemas/Terms'
        accountingField1:
          $ref: '#/components/schemas/AccountingField'
        accountingField2:
          $ref: '#/components/schemas/AccountingField'
        additionalData:
          $ref: '#/components/schemas/AdditionalDataString'
        attachments:
          $ref: '#/components/schemas/Attachments'
      title: RequestOutAuthorizeInvoiceData
    Gatewayfield:
      type: string
      description: 'The payment gateway used to process the transaction.

        '
      title: Gatewayfield
    VCardGetResponseContact:
      type: object
      properties:
        ContactName:
          type: string
          description: Name of the contact.
        ContactEmail:
          type: string
          description: Email of the contact.
        ContactTitle:
          type: string
          description: Title of the contact.
        ContactPhone:
          type: string
          description: Phone number of the contact.
      description: Contact information structure.
      title: VCardGetResponseContact
    Referenceidtrans:
      type: string
      description: The transaction identifier in Payabli.
      title: Referenceidtrans
    LotNumber:
      type: string
      description: Lot number associated with the bill.
      title: LotNumber
    Attachments:
      type: array
      items:
        $ref: '#/components/schemas/FileContent'
      description: 'Array of `fileContent` objects with attached documents. Max upload size is

        30 MB.

        '
      title: Attachments
    Accountzip:
      type: string
      description: ZIP code for card used in transaction.
      title: Accountzip
    Contacts:
      type: object
      properties:
        contactEmail:
          $ref: '#/components/schemas/Email'
          description: Contact email address.
        contactName:
          type: string
          description: Contact name.
        contactPhone:
          type: string
          description: Contact phone number.
        contactTitle:
          type: string
          description: Contact title.
        additionalData:
          $ref: '#/components/schemas/AdditionalDataString'
      title: Contacts
    Terms:
      type: string
      enum:
      - PIA
      - CIA
      - UR
      - NET10
      - NET20
      - NET30
      - NET45
      - NET60
      - NET90
      - EOM
      - MFI
      - 5MFI
      - 10MFI
      - 15MFI
      - 20MFI
      - 2/10NET30
      - UF
      - 10UF
      - 20UF
      - 25UF
      - 50UF
      description: 'Payment terms for invoice. If no terms are defined, then response data for

        this field defaults to `NET30`.

        '
      title: Terms
    OrgParentName:
      type: string
      description: The name of the parent organization.
      title: OrgParentName
    SettlementStatusName:
      type:
      - string
      - 'null'
      description: Name of the settlement status.
      title: SettlementStatusName
    Netamountnullable:
      type: number
      format: double
      description: Net amount.
      title: Netamountnullable
    VendorName1:
      type: string
      description: 'Primary name for vendor. Required for new vendor.

        '
      title: VendorName1
    VCardGetResponseAssociatedVendor:
      type: object
      properties:
        VendorNumber:
          type: string
          description: Unique code identifying the vendor.
        Name1:
          type: string
          description: The primary name associated with the vendor.
        Name2:
          type: string
          description: Additional name information for the vendor.
        EIN:
          type: string
          description: Employer Identification Number of the vendor.
        Phone:
          type: string
          description: Contact phone number of the vendor.
        Email:
          type: string
          description: Contact email address of the vendor.
        RemitEmail:
          type: string
          description: Email address for remittance.
        Address1:
          type: string
          description: Primary address line of the vendor.
        Address2:
          type: string
          description: Secondary address line of the vendor.
        City:
          type: string
          description: City where the vendor is located.
        State:
          type: string
          description: State where the vendor is located.
        Zip:
          type: string
          description: ZIP code for the vendor's location.
        Country:
          type: string
          description: Country where the vendor is located.
        Mcc:
          type: string
          description: Merchant Category Code for the vendor.
        LocationCode:
          $ref: '#/components/schemas/LocationCode'
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/VCardGetResponseContact'
          description: Array of objects describing the vendor's contacts.
        BillingData:
          $ref: '#/components/schemas/VCardGetResponseAssociatedVendorBillingData'
          description: Billing data for the vendor.
        PaymentMethod:
          type: string
          description: Preferred payment method for vendor.
        VendorStatus:
          type: integer
          description: Status of the vendor.
        VendorId:
          type: integer
          description: Unique identifier for the vendor.
        EnrollmentStatus:
          type: string
          description: Enrollment status of the vendor.
        Summary:
          $ref: '#/components/schemas/VCardGetResponseAssociatedVendorSummary'
          description: Summary of vendor's billing and transaction status.
        PaypointLegalname:
          $ref: '#/components/schemas/Legalname'
          description: Legal name of the paypoint.
        PaypointDbaname:
          $ref: '#/components/schemas/Dbaname'
          description: DBA name of the paypoint.
        PaypointEntryname:
          type: string
          description: Entryname of the paypoint.
        ParentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        ParentOrgId:
          type: integer
          description: ID of the parent organization.
        CreatedDate:
          type: string
          description: Date when the vendor record was created.
        LastUpdated:
          type: string
          description: Date when the vendor's information was last updated.
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        payeeName1:
          type: string
          description: Primary name of the payee.
        payeeName2:
          type: string
          description: Secondary name of the payee.
        customField1:
          type: string
          description: A custom field for additional data.
        customField2:
          type: string
          description: Another custom field for extra data.
        customerVendorAccount:
          type: string
          description: Account number of paypoint in the vendor side.
        InternalReferenceId:
          type: integer
          description: Internal reference ID used within the system.
        additionalData:
          type: string
          description: Field for additional data, if any.
        externalPaypointID:
[...]
