openapi: 3.1.0
info:
  title: API reference Bill payoutSubscription API
  version: 1.0.0
servers:
- url: https://api-sandbox.payabli.com/api
  description: Sandbox
- url: https://api.payabli.com/api
  description: Production
tags:
- name: payoutSubscription
paths:
  /PayoutSubscription:
    post:
      operationId: CreatePayoutSubscription
      summary: Create payout subscription
      description: Creates a payout subscription to automatically send payouts to a vendor on a recurring schedule. See [Manage payout subscriptions](/guides/pay-out-developer-payout-subscriptions-manage) for a step-by-step guide.
      tags:
      - payoutSubscription
      parameters:
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddPayoutSubscriptionResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutSubscriptionRequestBody'
  /PayoutSubscription/{id}:
    get:
      operationId: GetPayoutSubscription
      summary: Get a payout subscription
      description: Retrieves a single payout subscription's details. See [Manage payout subscriptions](/guides/pay-out-developer-payout-subscriptions-manage) for more information.
      tags:
      - payoutSubscription
      parameters:
      - name: id
        in: path
        description: The payout subscription ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPayoutSubscriptionResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
    put:
      operationId: UpdatePayoutSubscription
      summary: Update a payout subscription
      description: Updates a payout subscription's details. See [Manage payout subscriptions](/guides/pay-out-developer-payout-subscriptions-manage) for more information.
      tags:
      - payoutSubscription
      parameters:
      - name: id
        in: path
        description: The payout subscription ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePayoutSubscriptionResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePayoutSubscriptionBody'
    delete:
      operationId: DeletePayoutSubscription
      summary: Delete a payout subscription
      description: Deletes a payout subscription and prevents future payouts. See [Manage payout subscriptions](/guides/pay-out-developer-payout-subscriptions-manage) for more information.
      tags:
      - payoutSubscription
      parameters:
      - name: id
        in: path
        description: The payout subscription ID.
        required: true
        schema:
          type: integer
          format: int64
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePayoutSubscriptionResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
components:
  schemas:
    AddPayoutSubscriptionResponse:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          type: integer
          description: The identifier of the newly created payout subscription.
        customerId:
          $ref: '#/components/schemas/CustomerId'
          description: The identifier of the vendor associated with the payout subscription.
      required:
      - responseText
      - responseData
      description: Success response
      title: AddPayoutSubscriptionResponse
    ContactsField:
      type: array
      items:
        $ref: '#/components/schemas/Contacts'
      description: List of contacts.
      title: ContactsField
    AccountId:
      type: string
      description: Custom identifier for payment connector.
      title: AccountId
    Maskedaccount:
      type: string
      description: 'Masked card or bank account used in transaction. In the case of Apple

        Pay, this is a masked DPAN (device primary account number).

        '
      title: Maskedaccount
    BankName:
      type: string
      description: Name of bank for account.
      title: BankName
    PayoutScheduleDetail:
      type: object
      properties:
        startDate:
          type: string
          description: 'Subscription start date in any of the accepted formats: YYYY-MM-DD, MM/DD/YYYY. This must be a future date.'
        endDate:
          type: string
          description: 'Subscription end date in any of the accepted formats: YYYY-MM-DD, MM/DD/YYYY or the value `untilcancelled` to indicate a scheduled payout with infinite cycle.'
        frequency:
          $ref: '#/components/schemas/Frequency'
          description: Frequency of the payout subscription.
      title: PayoutScheduleDetail
    PayabliErrorBodyResponseData:
      type: object
      properties:
        explanation:
          type: string
          description: Human-readable explanation of what happened.
        todoAction:
          type: string
          description: Suggested resolution.
      description: Object with detailed error context.
      title: PayabliErrorBodyResponseData
    Email:
      type: string
      format: email
      description: Email address.
      title: Email
    Accountexp:
      type: string
      description: Expiration date of card used in transaction.
      title: Accountexp
    CityNullable:
      type: string
      description: The city.
      title: CityNullable
    RequestOutAuthorizeVendorData:
      type: object
      properties:
        vendorNumber:
          $ref: '#/components/schemas/VendorNumber'
        name1:
          $ref: '#/components/schemas/VendorName1'
        name2:
          $ref: '#/components/schemas/VendorName2'
        ein:
          $ref: '#/components/schemas/VendorEin'
        phone:
          $ref: '#/components/schemas/VendorPhone'
        email:
          $ref: '#/components/schemas/Email'
        address1:
          $ref: '#/components/schemas/AddressNullable'
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        mcc:
          $ref: '#/components/schemas/Mcc'
        contacts:
          $ref: '#/components/schemas/ContactsField'
        billingData:
          $ref: '#/components/schemas/RequestOutAuthorizeVendorBillingData'
        vendorStatus:
          $ref: '#/components/schemas/Vendorstatus'
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        customerVendorAccount:
          type: string
        customField1:
          type: string
        customField2:
          type: string
        additionalData:
          $ref: '#/components/schemas/AdditionalData'
        address2:
          $ref: '#/components/schemas/AddressAddtlNullable'
        internalReferenceId:
          type: integer
          format: int64
        locationCode:
          $ref: '#/components/schemas/LocationCode'
        payeeName1:
          $ref: '#/components/schemas/PayeeName'
        payeeName2:
          $ref: '#/components/schemas/PayeeName'
        paymentMethod:
          $ref: '#/components/schemas/VendorPaymentMethod'
        vendorId:
          $ref: '#/components/schemas/Vendorid'
      description: Object containing vendor data.
      title: RequestOutAuthorizeVendorData
    RemitEmail:
      type: string
      format: email
      description: 'Remittance email address. Used for sending virtual cards and other

        information about payouts.

        '
      title: RemitEmail
    PayeeName:
      type: string
      description: Alternative name used to receive paper check.
      title: PayeeName
    Entrypointfield:
      type: string
      description: The entrypoint identifier.
      title: Entrypointfield
    IdempotencyKey:
      type: string
      description: '_Optional but recommended._ A unique ID that you can include to prevent

        duplicating objects or transactions in the case that a request is sent

        more than once. This key isn''t generated in Payabli; you must generate it

        yourself. The key persists for 2 minutes. After 2 minutes, you can reuse

        the key if needed.

        '
      title: IdempotencyKey
    Vendorid:
      type: integer
      description: Payabli identifier for vendor record.
      title: Vendorid
    FileContent:
      type: object
      properties:
        fContent:
          type: string
          description: 'Content of file, Base64-encoded. Ignored if `furl` is specified. Max

            upload size is 30 MB.

            '
        filename:
          type: string
          description: The name of the attached file.
        ftype:
          $ref: '#/components/schemas/FileContentFtype'
        furl:
          type: string
          description: Optional URL provided to show or download the file remotely.
      description: Contains details about a file. Max upload size is 30 MB.
      title: FileContent
    AchSecCode:
      type: string
      description: "Standard Entry Class (SEC) code is a three letter code that describes\nhow an ACH payment was authorized. Supported values are:\n\n- **PPD** (Prearranged Payment and Deposit) — Used for credits or debits\n  where an accountholder authorizes a company to initiate either a single\n  or recurring transaction to their personal bank account. Common examples\n  include direct deposit of payroll, mortgage payments, or utility bills.\n  This is the default value for subscription payments.\n- **WEB** (Internet-Initiated/Mobile Entry) — Used for debit entries when\n  authorization is obtained from an accountholder via the internet or a\n  wireless network. Common examples are online bill payments, ecommerce\n  purchases, and mobile app payments where the consumer enters their\n  banking information online.\n- **TEL** (Telephone-Initiated Entry) — Used for one-time debit entries\n  where authorization is obtained from a consumer via telephone. Common\n  examples are phone-based purchases or bill payments where the consumer\n  provides their banking information over the phone.\n- **CCD** (Corporate Credit or Debit) — Used for fund transfers between\n  business accounts. This code is specifically for business-to-business\n  transactions. Common examples include vendor payments and other\n  business-to-business payments.\n- **BOC** (Back Office Conversion) — Used to convert paper checks received\n  in-person at a point-of-sale or staffed payment location into electronic\n  ACH debits. Required for Remote Deposit Capture (RDC) transactions. Only\n  supports consumer checks; business, government, and mailed checks\n  aren't eligible.\n"
      title: AchSecCode
    CreatedAt:
      type: string
      format: date-time
      description: Timestamp of when record was created, in UTC.
      title: CreatedAt
    BinData:
      type: object
      properties:
        binMatchedLength:
          type: string
          description: 'The number of characters from the beginning of the card number that

            were matched against a Bank Identification Number (BIN) or the Card

            Range table.'
        binCardBrand:
          type: string
          description: 'The card brand. For example, Visa, Mastercard, American Express,

            Discover.'
        binCardType:
          type: string
          description: 'The type of card: `Credit` or `Debit`. Case can vary between

            processors, so compare this value case-insensitively.'
        binCardCategory:
          type: string
          description: 'The category of the card, which indicates the card product. For example: Standard, Gold, Platinum, etc. The binCardCategory for prepaid cards is marked `PREPAID`.'
        binCardIssuer:
          type: string
          description: The name of the financial institution that issued the card.
        binCardIssuerCountry:
          type: string
          description: The issuing financial institution's country name.
        binCardIssuerCountryCodeA2:
          type: string
          description: The issuing financial institution's two-character ISO country code. See [this resource](https://www.iso.org/obp/ui/#search) for a list of codes.
        binCardIssuerCountryNumber:
          type: string
          description: The issuing financial institution's ISO standard numeric country code. See [this resource](https://www.iso.org/obp/ui/#search) for a list of codes.
        binCardIsRegulated:
          type: string
          description: Indicates whether the card is regulated.
        binCardUseCategory:
          type: string
          description: The use category classification for the card.
        binCardIssuerCountryCodeA3:
          type: string
          description: 'The issuing financial institution''s three-character ISO country code.

            See [this resource](https://www.iso.org/obp/ui/#search) for a list of

            codes.'
      description: 'Object containing information related to the card. This object is `null`

        unless the payment method is card. If the payment method is Apple Pay, the

        binData will be related to the DPAN (device primary account number), not

        the card connected to Apple Pay.'
      title: BinData
    Holdername:
      type: string
      description: The cardholder name.
      title: Holdername
    ResponseText:
      type: string
      description: 'Response text for operation: ''Success'' or ''Declined''.

        '
      title: ResponseText
    VendorPhone:
      type: string
      description: 'Vendor''s phone number. Phone number can''t contain non-digit characters

        like hyphens or parentheses.

        '
      title: VendorPhone
    AchHolderType:
      type: string
      enum:
      - personal
      - business
      default: personal
      description: 'The bank''s accountholder type: personal or business.

        '
      title: AchHolderType
    RequestOutAuthorizeVendorBillingData:
      type: object
      properties:
        bankName:
          $ref: '#/components/schemas/BankName'
        routingAccount:
          $ref: '#/components/schemas/RoutingAccount'
        accountNumber:
          $ref: '#/components/schemas/AccountNumber'
        typeAccount:
          $ref: '#/components/schemas/TypeAccount'
        bankAccountHolderName:
          $ref: '#/components/schemas/BankAccountHolderName'
      description: Object containing vendor's bank information. This object is deprecated for this endpoint. Use the `paymentMethod` object in payout authorize requests instead.
      title: RequestOutAuthorizeVendorBillingData
    BillPayOutData:
      type: object
      properties:
        billId:
          type: integer
          format: int64
          description: Bill ID in Payabli.
        LotNumber:
          type:
          - string
          - 'null'
          description: Lot number associated with the bill.
        AccountingField1:
          $ref: '#/components/schemas/AccountingField'
        AccountingField2:
          $ref: '#/components/schemas/AccountingField'
        Terms:
          $ref: '#/components/schemas/Terms'
          description: Description of payment terms.
        AdditionalData:
          $ref: '#/components/schemas/AdditionalDataString'
        attachments:
          $ref: '#/components/schemas/Attachments'
          description: Bill image attachment. Send the bill image as Base64-encoded string, or as a publicly accessible link. For full details on using this field with a payout authorization, see [the documentation](/developers/developer-guides/pay-out-manage-payouts).
        invoiceNumber:
          $ref: '#/components/schemas/InvoiceNumber'
          description: Custom number identifying the bill. Must be unique in paypoint. **Required** for new bill and when `billId` isn't provided.
        netAmount:
          $ref: '#/components/schemas/NetAmountstring'
          description: Net Amount owed in bill. Required when adding a bill.
        invoiceDate:
          type:
          - string
          - 'null'
          format: date
          description: Bill date in format YYYY-MM-DD or MM/DD/YYYY.
        dueDate:
          type:
          - string
          - 'null'
          format: date
          description: Bill due date in format YYYY-MM-DD or MM/DD/YYYY.
        comments:
          $ref: '#/components/schemas/Comments'
          description: Any comments about bill. **For managed payouts, this field has a limit of 100 characters**.
        identifier:
          type:
          - string
          - 'null'
          description: Custom identifier for the bill.
        discount:
          type: string
          description: Bill discount amount.
        totalAmount:
          type:
          - string
          - 'null'
          description: Total amount of the bill.
      required:
      - invoiceDate
      - dueDate
      title: BillPayOutData
    Initiator:
      type: string
      description: 'The transaction''s initiator. Indicates who initiated the transaction.

        '
      title: Initiator
    Remitcountry:
      type: string
      description: 'Remittance address country. Used for mailing paper checks. Must be `US`

        or `CA`. Defaults to `US` if not provided.

        '
      title: Remitcountry
    EnrollmentStatus:
      type: string
      description: Enrollment status of vendor in payables program.
      title: EnrollmentStatus
    CustomerId:
      type: integer
      format: int64
      description: The Payabli-generated unique ID for the customer.
      title: CustomerId
    InternalReferenceId:
      type: integer
      format: int64
      description: An internal reference ID.
      title: InternalReferenceId
    VendorName2:
      type: string
      description: 'Secondary name for vendor. If provided, allowed characters are the

        same as the `name1` field.

        '
      title: VendorName2
    Subdomain:
      type: string
      description: 'Refers to the payment page identifier. If provided, then the

        transaction is linked to the payment page.

        '
      title: Subdomain
    Comments:
      type: string
      description: Any comment or description.
      title: Comments
    PayabliErrorBody:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Always `false` for error responses.
        responseCode:
          type: integer
          description: 'Code for the response. Learn more in

            [API Response Codes](/developers/api-reference/api-responses).

            '
        responseText:
          type: string
          description: Error text describing what went wrong.
        responseData:
          $ref: '#/components/schemas/PayabliErrorBodyResponseData'
          description: Object with detailed error context.
      required:
      - isSuccess
      - responseText
      description: 'Shape returned by every Payabli API error response. The `responseData`

        object carries human-readable error context.

        '
      title: PayabliErrorBody
    PayoutSubscriptionRequestBody:
      type: object
      properties:
        entryPoint:
          $ref: '#/components/schemas/Entrypointfield'
        subdomain:
          $ref: '#/components/schemas/Subdomain'
        accountId:
          $ref: '#/components/schemas/AccountId'
        source:
          $ref: '#/components/schemas/Source'
        setPause:
          $ref: '#/components/schemas/PayoutSetPause'
        paymentMethod:
          $ref: '#/components/schemas/AuthorizePaymentMethod'
          description: Payment method for the payout subscription. Supports `ach`, `vcard`, and `check`. The `managed` method isn't supported for payout subscriptions.
        paymentDetails:
          $ref: '#/components/schemas/PayoutPaymentDetail'
          description: Object describing details of the payout.
        vendorData:
          $ref: '#/components/schemas/RequestOutAuthorizeVendorData'
          description: Object identifying the vendor for this subscription. Only a `vendorId` or `vendorNumber` is needed to link to an existing vendor.
        billData:
          type: array
          items:
            $ref: '#/components/schemas/BillPayOutDataRequest'
          description: Array of bills associated with the payout subscription. If omitted and `doNotCreateBills` isn't set to `true`, the system creates a bill automatically.
        scheduleDetails:
          $ref: '#/components/schemas/PayoutScheduleDetail'
          description: Object describing the schedule for the payout subscription.
      required:
      - entryPoint
      - paymentMethod
      - vendorData
      title: PayoutSubscriptionRequestBody
    Vendorstatus:
      type: integer
      description: 'Vendor''s status. Allowed values:


        - `0` Inactive

        - `1` Active

        - `-99` Deleted

        '
      title: Vendorstatus
    BankAccountHolderType:
      type: string
      enum:
      - Personal
      - Business
      description: Describes whether the bank is a personal or business account.
      title: BankAccountHolderType
    PaypointId:
      type: integer
      format: int64
      description: The paypoint's ID. Note that this is different than the entryname.
      title: PaypointId
    PayoutPaymentDetail:
      type: object
      properties:
        totalAmount:
          type: number
          format: double
          description: Total payout amount. If a service fee is included, this amount should include the service fee.
        serviceFee:
          type: number
          format: double
          description: Service fee to be deducted from the total amount. This amount must be a number, percentages aren't accepted.
        currency:
          type: string
          description: Currency code ISO-4217. If no code is provided, the currency in the paypoint setting is used. Default is `USD`.
        checkNumber:
          type: string
          description: A check number for the payout. Required when the payment method is `check`.
        orderDescription:
          type: string
          description: Description of the payout order.
        orderId:
          type: string
          description: Order identifier associated with the payout.
        orderIdAlternative:
          type: string
          description: Alternative order identifier.
        paymentDescription:
          type: string
          description: Description of the payment.
        settlementDescriptor:
          type: string
          description: Settlement descriptor for the payout.
        groupNumber:
          type: string
          description: Group number for the payout.
        source:
          type: string
          description: Source identifier for the payout.
        payabliTransId:
          type: string
          description: Payabli transaction identifier.
        unbundled:
          type: boolean
          description: When `true`, each bill is processed as a separate payout. When `false` or not provided, multiple bills are paid with a single payout.
      required:
      - totalAmount
      description: Payment details for payout subscriptions.
      title: PayoutPaymentDetail
    VendorPaymentMethod:
      type: object
      properties:
        method:
          type: string
          description: Payment method type - "managed", "vcard", "check", or "ach"
        storedMethodId:
          type: string
          description: ID of the stored ACH payment method. Only applicable when method is "ach". Required when using a previously saved ACH method when the vendor has more than one saved method. See the [Payouts with saved ACH payment methods](/developers/developer-guides/pay-out-manage-payouts) section for more details.
      required:
      - method
      description: 'Payment method object to use for the payout.

        - `{ method: "managed" }` - Managed payment method

        - `{ method: "vcard" }` - Virtual card payment method

        - `{ method: "check" }` - Check payment method

        - `{ method: "ach", storedMethodId?: "..." }` - ACH payment method with optional stored method ID'
      title: VendorPaymentMethod
    LocationCode:
      type: string
      description: A location code used to identify the vendor's location.
      title: LocationCode
    PayoutSetPause:
      type: boolean
      description: Flag indicating if the payout subscription is paused. When a payout subscription is paused, no payouts are processed until it's unpaused, and the next payment date isn't calculated automatically.
      title: PayoutSetPause
    AdditionalDataString:
      type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. Example usage:\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataString
    RoutingAccount:
      type: string
      description: Routing number of bank account.
      title: RoutingAccount
    VendorEin:
      type: string
      description: 'EIN/Tax ID for vendor. Must be nine digits formatted as `XX-XXXXXXX`

        (for example, `12-3456789`).

        '
      title: VendorEin
    GeneralEvents:
      type: object
      properties:
        description:
          type: string
          description: Event description.
        eventTime:
          type: string
          format: date-time
          description: Event timestamp, in UTC.
        extraData:
          type:
          - string
          - 'null'
          description: Extra data.
        refData:
          type: string
          description: Reference data.
        source:
          $ref: '#/components/schemas/Source'
          description: The event source.
      title: GeneralEvents
    IsSuccess:
      type: boolean
      description: 'Boolean indicating whether the operation was successful. A `true` value

        indicates success. A `false` value indicates failure.

        '
      title: IsSuccess
    Ein:
      type: string
      description: Business EIN or tax ID. This value is masked in API responses.
      title: Ein
    Dbaname:
      type: string
      description: 'The alternate or common name that this business is doing business under,

        usually referred to as a DBA name.

        '
      title: Dbaname
    BillingDataResponse:
      type: object
      properties:
        id:
          type: integer
          description: The bank's ID in Payabli.
        accountId:
          $ref: '#/components/schemas/AccountId'
          description: An identifier for the bank account. If not provided during creation or update, the system generates one in the format `acct-{first_digit}xxxxx{last_4_digits}` based on the account number. If a duplicate exists within the same service at the paypoint, a numeric suffix is appended, such as `-2`. This value is also used as the identifier for the bank account's associated payment connector.
        nickname:
          type: string
        bankName:
          $ref: '#/components/schemas/BankName'
        routingAccount:
          $ref: '#/components/schemas/RoutingAccount'
        accountNumber:
          $ref: '#/components/schemas/AccountNumber'
        typeAccount:
          $ref: '#/components/schemas/TypeAccount'
        bankAccountHolderName:
          $ref: '#/components/schemas/BankAccountHolderName'
        bankAccountHolderType:
          $ref: '#/components/schemas/BankAccountHolderType'
        bankAccountFunction:
          type: integer
          description: "Describes whether the bank account is used for deposits or withdrawals in Payabli:\n  - `0`: Deposit\n  - `1`: Withdrawal\n  - `2`: Deposit and withdrawal"
        verified:
          type: boolean
        status:
          type: integer
        services:
          type: array
          items:
            description: Any type
        default:
          type: boolean
      required:
      - id
      - nickname
      - bankName
      - routingAccount
      - accountNumber
      - typeAccount
      - bankAccountHolderName
      - bankAccountHolderType
      - bankAccountFunction
      - verified
      - status
      - services
      - default
      title: BillingDataResponse
    UpdatePayoutSubscriptionBody:
      type: object
      properties:
        setPause:
          $ref: '#/components/schemas/PayoutSetPause'
        paymentDetails:
          $ref: '#/components/schemas/PayoutPaymentDetail'
          description: Object describing details of the payout.
        paymentMethod:
          $ref: '#/components/schemas/AuthorizePaymentMethod'
        scheduleDetails:
          $ref: '#/components/schemas/PayoutScheduleDetail'
          description: Object describing the schedule for the payout subscription.
      title: UpdatePayoutSubscriptionBody
    BillPayOutDataRequest:
      type: object
      properties:
        billId:
          type: integer
          format: int64
          description: Bill ID in Payabli.
        comments:
          $ref: '#/components/schemas/Comments'
          description: Any comments about bill. **For managed payouts, this field has a limit of 100 characters**.
        dueDate:
          type: string
          format: date
          description: Bill due date in format YYYY-MM-DD or MM/DD/YYYY.
        invoiceDate:
          type: string
          format: date
          description: Bill date in format YYYY-MM-DD or MM/DD/YYYY.
        invoiceNumber:
          $ref: '#/components/schemas/InvoiceNumber'
          description: Custom number identifying the bill. Must be unique in paypoint. **Required** for new bill and when `billId` isn't provided.
        netAmount:
          $ref: '#/components/schemas/NetAmountstring'
          description: Net Amount owed in bill. Required when adding a bill.
        discount:
          type: string
          description: Bill discount amount.
        terms:
          $ref: '#/components/schemas/Terms'
          description: Description of payment terms.
        accountingField1:
          $ref: '#/components/schemas/AccountingField'
        accountingField2:
          $ref: '#/components/schemas/AccountingField'
        additionalData:
          $ref: '#/components/schemas/AdditionalDataString'
        attachments:
          $ref: '#/components/schemas/Attachments'
          description: Bill image attachment. Send the bill image as Base64-encoded string, or as a publicly accessible link. For full details on using this field with a payout authorization, see [the documentation](/developers/developer-guides/pay-out-manage-payouts).
      title: BillPayOutDataRequest
    VendorQueryRecord:
      type: object
      properties:
        VendorNumber:
          $ref: '#/components/schemas/VendorNumber'
        Name1:
          type: string
        Name2:
          type:
          - string
          - 'null'
        EIN:
          oneOf:
          - $ref: '#/components/schemas/Ein'
          - type: 'null'
        Phone:
          type: string
        Email:
          $ref: '#/components/schemas/Email'
        RemitEmail:
          oneOf:
          - $ref: '#/components/schemas/RemitEmail'
          - type: 'null'
        Address1:
          $ref: '#/components/schemas/AddressNullable'
        Address2:
          $ref: '#/components/schemas/AddressAddtlNullable'
        City:
          $ref: '#/components/schemas/CityNullable'
        State:
          $ref: '#/components/schemas/StateNullable'
        Zip:
          $ref: '#/components/schemas/Zip'
        Country:
          type: string
        Mcc:
          $ref: '#/components/schemas/Mcc'
        LocationCode:
          type: string
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/ContactsResponse'
          description: Array of objects describing the vendor's contacts.
        BillingData:
          $ref: '#/components/schemas/BillingDataResponse'
        PaymentMethod:
          $ref: '#/components/schemas/VendorPaymentMethodString'
        VendorStatus:
          $ref: '#/components/schemas/Vendorstatus'
        VendorId:
          $ref: '#/components/schemas/Vendorid'
        EnrollmentStatus:
          $ref: '#/components/schemas/EnrollmentStatus'
        Summary:
          $ref: '#/components/schemas/VendorSummary'
        PaypointLegalname:
          $ref: '#/components/schemas/Legalname'
        PaypointId:
          type:
          - integer
          - 'null'
          format: int64
          description: The paypoint's ID. This is different from the entryname.
        PaypointDbaname:
          $ref: '#/components/schemas/Dbaname'
        PaypointEntryname:
          $ref: '#/components/schemas/Entrypointfield'
        ParentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        ParentOrgId:
          $ref: '#/components/schemas/OrgParentId'
        CreatedDate:
          $ref: '#/components/schemas/CreatedAt'
        LastUpdated:
          $ref: '#/components/schemas/LastModified'
        remitAddress1:
          $ref: '#/components/schemas/Remitaddress1'
        remitAddress2:
          $ref: '#/components/schemas/Remitaddress2'
        remitCity:
          $ref: '#/components/schemas/Remitcity'
        remitState:
          $ref: '#/components/schemas/Remitstate'
        remitZip:
          $ref: '#/components/schemas/Remitzip'
        remitCountry:
          $ref: '#/components/schemas/Remitcountry'
        payeeName1:
          $ref: '#/components/schemas/PayeeName'
        payeeName2:
          $ref: '#/components/schemas/PayeeName'
        customField1:
          type: string
        customField2:
          type: string
        customerVendorAccount:
          type: string
        InternalReferenceId:
          $ref: '#/components/schemas/InternalReferenceId'
        PaymentPortalUrl:
          type: string
          description: URL for the vendor's online payment portal, if known. Populated by the vendor enrichment pipeline.
        CardAccepted:
          type: string
          description: Whether the vendor accepts card payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        AchAccepted:
          type: string
          description: Whether the vendor accepts ACH payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        CheckAccepted:
          type: string
          description: Whether the vendor accepts check payments. Values are `yes`, `no`, or `unable to determine`. Populated by the vendor enrichment pipeline.
        EnrichmentStatus:
          type: string
          description: Current enrichment state of the vendor. Values are `not_enriched`, `partially_enriched`, `fully_enriched`, or `fallback_applied`.
        EnrichedBy:
          type: string
          description: Which enrichment method resolved the vendor's payment acceptance info. Values are `invoice_scan`, `web_search`, `vendor_network`, or `manual`.
        EnrichedAt:
          type: string
          format: date-time
          description: When the vendor was last enriched (UTC).
        EnrichmentId:
          type: string
          description: Identifier for the enrichment request that last updated this vendor.
        additionalData:
          $ref: '#/components/schemas/AdditionalDataMap'
        externalPaypointID:
          $ref: '#/components/schemas/ExternalPaypointId'
        StoredMethods:
          type: array
          items:
            $ref: '#/components/schemas/VendorResponseStoredMethod'
      title: VendorQueryRecord
    VendorNumber:
      type: string
      description: 'Custom number identifying the vendor. Must be unique in paypoint. Can''t be

        blank.

        '
      title: VendorNumber
    Remitzip:
      type: string
      description: 'Remittance address ZIP or postal code. Used for mailing paper checks.

        Required if any remittance address field is provided. For US addresses,

        use five digits or ZIP+4 format.

        '
      title: Remitzip
    Signaturedata:
      type: string
      title: Signaturedata
    Sequence:
      type: string
      description: "The order of the transaction for cardholder-initiated transaction (CIT)\nand merchant-initiated transaction (MIT) purposes. This field is\nautomatically detected and populated by Payabli.\n\nAvailable values:\n\n- `first`: The first use of the payment method. This is almost always\n  a cardholder-initiated transaction.\n- `subsequent`: For merchant-initiated transactions after the first use\n  of the payment method.\n\nSee\n[Understanding CIT and MIT Indicators](/guides/pay-in-transactions-cit-mit-overview)\nfor more information.\n"
      title: Sequence
    UpdatePayoutSubscriptionResponse:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          type: string
          description: 'If `isSuccess` = true, this contains the payout subscription ID. When the subscription is paused, it also includes a description (for example, "42 paused").


            If `isSuccess` = false, this contains the reason for the failure.'
        customerId:
          $ref: '#/components/schemas/CustomerId'
      required:
      - responseText
      description: Success response
      title: UpdatePayoutSubscriptionResponse
    BankAccountHolderName:
      type: string
      description: The accountholder's name.
      title: BankAccountHolderName
    StoredMethodUsageType:
      type: string
      description: "**Strongly recommended.** The usage type for the stored method, used\nfor merchant-initiated transactions (MIT). If you don't specify a\nvalue, Payabli defaults to `unscheduled`.\n\nAvailable values:\n\n- `unscheduled`: One-time or otherwise not pre-scheduled.\n- `subscription`: Subscription payments. For example, monthly rental\n  fees or ongoing service subscriptions.\n- `recurring`: Recurring payments per a set plan. For example,\n  splitting an HOA special assessment over 6 monthly payments.\n\nSee\n[Understanding CIT and MIT Indicators](/guides/pay-in-transactions-cit-mit-overview)\nfor more information.\n"
      title: StoredMethodUsageType
    ContactsResponse:
      type: object
      properties:
        ContactName:
          type: string
          description: Contact name.
        ContactEmail:
          $ref: '#/components/schemas/Email'
          description: Contact email address.
        ContactTitle:
          type: string
          description: Contact title.
        ContactPhone:
          type: string
          description: Contact phone number.
      title: ContactsResponse
    SplitFundingContent:
      type: object
      properties:
        accountId:
          type: string
          description: The accountId for the account the split should be sent to.
        amount:
          type: number
          format: double
          description: Amount from the transaction to send to this recipient.
        description:
          type: string
          description: A description for the split.
        recipientEntryPoint:
          type: string
          description: The entrypoint the split should be sent to.
      title: SplitFundingContent
    AdditionalDataMap:
      type: object
      additionalProperties:
        type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataMap
    AdditionalData:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          description: Any type
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\nExample usage:\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalData
    Storedmethodid:
      type: string
      description: 'Payabli identifier of a tokenized payment method. If this field is

        used in a request, the `method` field is overridden and the payment

        is made using the payment token.

        '
      title: Storedmethodid
    Remitaddress2:
      type: string
      description: 'Remittance address additional line, such as a suite or unit number. Used

        for mailing paper checks. Always optional.

        '
      title: Remitaddress2
    Accounttype:
      type: string
      description: Bank account type or card brand.
      title: Accounttype
    AccountingField:
      type: string
      description: Optional custom field.
      title: AccountingField
    FileContentFtype:
      type: string
      enum:
      - pdf
      - doc
      - docx
      - jpg
      - jpeg
      - png
      - gif
      - txt
      description: The MIME type of the file (if content is provided).
      title: FileContentFtype
    Mcc:
      type: string
      description: 'Business Merchant Category Code (MCC).

        [This resource](https://github.com/greggles/mcc-codes/blob/main/mcc_codes.csv)

        lists MCC codes.

        '
      title: Mcc
    Frequency:
      type: string
      enum:
      - onetime
      - weekly
      - every2weeks
      - every6months
      - monthly
      - every3months
      - annually
      - firstofmonth
      - fifteenthofmonth
      - endofmonth
      description: 'Frequency for operation. The `firstofmonth`, `fifteenthofmonth`, and `endofmonth` values are only valid on subscriptions — they aren''t accepted by other endpoints (such as invoice scheduling) that use this enum.

        '
      title: Frequency
    DeletePayoutSubscriptionResponse:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseData:
          type: string
          description: 'If `isSuccess` = true, this contains the identifier of the payout subscription.


            If `isSuccess` = false, this contains the reason for the failure.'
        responseText:
          $ref: '#/components/schemas/ResponseText'
      required:
      - responseText
      description: Success response
      title: DeletePayoutSubscriptionResponse
    OrgParentId:
      type: integer
      format: int64
      description: The ID of the org's parent organization.
      title: OrgParentId
    QueryPaymentData:
      type: object
      properties:
        AccountExp:
          $ref: '#/components/schemas/Accountexp'
        accountId:
          $ref: '#/components/schemas/AccountId'
        AccountType:
          $ref: '#/components/schemas/Accounttype'
        AccountZip:
          $ref: '#/components/schemas/Accountzip'
        binData:
          $ref: '#/components/schemas/BinData'
        HolderName:
          $ref: '#/components/schemas/Holdername'
        Initiator:
          $ref: '#/components/schemas/Initiator'
        MaskedAccount:
          $ref: '#/components/schemas/Maskedaccount'
        orderDescription:
          $ref: '#/components/schemas/Orderdescription'
        paymentDetails:
          $ref: '#/components/schemas/PaymentDetail'
        Sequence:
          $ref: '#/components/schemas/Sequence'
        SignatureData:
          $ref: '#/components/schemas/Signaturedata'
        StoredId:
          $ref: '#/components/schemas/Storedmethodid'
          description: Identifier of stored payment method used in transaction.
        StoredMethodUsageType:
          $ref: '#/components/schemas/StoredMethodUsageType'
      title: QueryPaymentData
    VendorPaymentMethodString:
      type: string
      description: 'The vendor''s preferred payment method. Can be one of:


        - `managed` — Managed payment method

        - `vcard` — Virtual card payment method

        - `check` — Check payment method

        - `ach` — ACH payment method

        '
      title: VendorPaymentMethodString
    LastModified:
      type: string
      format: date-time
      description: Timestamp of when record was last updated, in UTC.
      title: LastModified
    InvoiceNumber:
      type: string
      description: Invoice number. Identifies the invoice under a paypoint.
      title: InvoiceNumber
    PayoutSubscriptionQueryRecord:
      type: object
      properties:
        idOutSubscription:
          type: integer
          format: int64
          description: The payout subscription's ID.
        status:
          type: integer
          description: 'The payout subscription''s status.

            - 0: Paused

            - 1: Active'
        events:
          type: array
          items:
            $ref: '#/components/schemas/GeneralEvents'
          description: Events associated with the payout subscription.
        vendor:
          $ref: '#/components/schemas/VendorQueryRecord'
        billData:
          type: array
          items:
            $ref: '#/components/schemas/BillPayOutData'
          description: Bills associated with the payout subscription.
        externalPaypointID:
          $ref: '#/components/schemas/ExternalPaypointId'
        method:
          type: string
          description: The payout subscription's payment method.
        paypointId:
          $ref: '#/components/schemas/PaypointId'
        totalAmount:
          type: number
          format: double
          description: The payout subscription amount, including any fees.
        netAmount:
          $ref: '#/components/schemas/Netamountnullable'
          description: The payout subscription amount, minus any fees.
        feeAmount:
          type: number
          format: double
          description: Fee applied to the payout subscription.
        paymentData:
          $ref: '#/components/schemas/QueryPaymentData'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
          description: The payout subscription start date.
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          description: The payout subscription's end date.
        nextDate:
          type:
          - string
          - 'null'
          format: date-time
          description: The next date the payout subscription will be processed.
        frequency:
          type: string
          description: The payout subscription's frequency.
        totalCycles:
          type: integer
          description: The total number of cycles the payout subscription is set to run.
        leftCycles:
          type: integer
          description: The number of cycles the payout subscription has left.
        lastRun:
          type:
          - string
          - 'null'
          format: date-time
          description: The last time the payout subscription was processed.
        entrypageId:
          $ref: '#/components/schemas/EntrypageId'
        untilCancelled:
          type: boolean
          description: When `true`, the payout subscription has no explicit end date and runs until canceled.
        lastUpdated:
          $ref: '#/components/schemas/LastModified'
          description: The last date and time the payout subscription was updated.
        createdAt:
          $ref: '#/components/schemas/CreatedAt'
          description: Timestamp of when the payout subscription was created, in UTC.
        paypointLegalname:
          $ref: '#/components/schemas/Legalname'
          description: The paypoint's legal name.
        paypointDbaname:
          $ref: '#/components/schemas/Dbaname'
          description: The paypoint's DBA name.
        paypointEntryname:
          $ref: '#/components/schemas/Entrypointfield'
          description: The paypoint's entryname.
        parentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        parentOrgId:
          $ref: '#/components/schemas/OrgParentId'
        source:
          $ref: '#/components/schemas/Source'
      required:
      - startDate
      - endDate
      - nextDate
      - lastRun
      title: PayoutSubscriptionQueryRecord
    AuthorizePaymentMethod:
      type: object
      properties:
        method:
          type: string
          description: Payment method type - "managed", "vcard", "check", "ach", "wire", or "rtp"
        achHolder:
          type: string
          description: Account holder name for ACH payments. Required when method is "ach" and not using `storedMethodId`.
        achRouting:
          type: string
          description: Bank routing number for ACH payments. Required when method is "ach" and not using `storedMethodId`.
        achAccount:
          type: string
          description: Bank account number for ACH payments. Required when method is "ach" and not using `storedMethodId`.
        achAccountType:
          type: string
          description: Account type for ACH payments ("checking" or "savings"). Required when method is "ach" and not using `storedMethodId`.
        achCode:
          $ref: '#/components/schemas/AchSecCode'
        achHolderType:
          $ref: '#/components/schemas/AchHolderType'
          default: personal
        storedMethodId:
          type: string
          description: ID of the stored ACH payment method. Only applicable when method is `ach`. Use this to reference a previously saved ACH method instead of providing bank details directly.
        initiator:
          $ref: '#/components/schemas/Initiator'
        storedMethodUsageType:
          $ref: '#/components/schemas/StoredMethodUsageType'
      required:
      - method
      description: 'Payment method object for vendor payouts.

        - `{ method: "managed" }` - Managed payment method

        - `{ method: "vcard" }` - Virtual card payment method

        - `{ method: "check" }` - Check payment method

        - `{ method: "ach", achHolder: "...", achRouting: "...", achAccount: "...", achAccountType: "..." }` - ACH payment method with bank details

        - `{ method: "ach", storedMethodId: "..." }` - ACH payment method using stored method ID

        - `{ method: "wire", achHolder: "...", achRouting: "...", achAccount: "...", achAccountType: "..." }` - Wire transfer payment method (US only, irrevocable)

        - `{ method: "rtp", achHolder: "...", achRouting: "...", achAccount: "...", achAccountType: "..." }` - Real-Time Payments method (US only, irrevocable)'
      title: AuthorizePaymentMethod
    ExternalPaypointId:
      type: string
      description: 'A custom identifier for the paypoint, if applicable.

        '
      title: ExternalPaypointId
    Remitcity:
      type: string
      description: 'Remittance address city. Used for mailing paper checks. Required if any

        remittance address field is provided.

        '
      title: Remitcity
    NetAmountstring:
      type: string
      description: Net amount owed in bill. Required when adding a bill.
      title: NetAmountstring
    Remitaddress1:
      type: string
      description: 'Remittance street address. Used for mailing paper checks. Required if any

        remittance address field is provided.

        '
      title: Remitaddress1
    Attachments:
      type: array
      items:
        $ref: '#/components/schemas/FileContent'
      description: 'Array of `fileContent` objects with attached documents. Max upload size is

        30 MB.

        '
      title: Attachments
    Accountzip:
      type: string
      description: ZIP code for card used in transaction.
      title: Accountzip
    Contacts:
      type: object
      properties:
        contactEmail:
          $ref: '#/components/schemas/Email'
          description: Contact email address.
        contactName:
          type: string
          description: Contact name.
        contactPhone:
          type: string
          description: Contact phone number.
        contactTitle:
          type: string
          description: Contact title.
        additionalData:
          $ref: '#/components/schemas/AdditionalDataString'
      title: Contacts
    Terms:
      type: string
      enum:
      - PIA
      - CIA
      - UR
      - NET10
      - NET20
      - NET30
      - NET45
      - NET60
      - NET90
      - EOM
      - MFI
      - 5MFI
      - 10MFI
      - 15MFI
      - 20MFI
      - 2/10NET30
      - UF
      - 10UF
      - 20UF
      - 25UF
      - 50UF
      description: 'Payment terms for invoice. If no terms are defined, then response data for

        this field defaults to `NET30`.

        '
      title: Terms
    OrgParentName:
      type: string
      description: The name of the parent organization.
      title: OrgParentName
    Netamountnullable:
      type: number
      format: double
      description: Net amount.
      title: Netamountnullable
    EntrypageId:
      type: integer
      format: int64
      description: 'If applicable, the internal reference ID to the payment page associated

        with the transaction.

        '
      title: EntrypageId
    VendorName1:
      type: string
      description: 'Primary name for vendor. Required for new vendor.

        '
      title: VendorName1
    StateNullable:
      type: string
      description: The state or province.
      title: StateNullable
    PaymentCategories:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Price/cost per unit of item or category.
        description:
          type: string
          description: Description of item or category
        label:
          type: string
          description: Name of item or category.
        qty:
          type: integer
          default: 1
          description: Quantity of item or category
      required:
      - amount
      - label
      title: PaymentCategories
    AddressNullable:
      type: string
      description: The address.
      title: AddressNullable
    SplitFunding:
      type: array
      items:
        $ref: '#/components/schemas/SplitFundingContent'
      description: Split funding instructions for the transaction. The total amount of the splits must match the total amount of the transaction.
      title: SplitFunding
    Remitstate:
      type: string
      description: 'Remittance address state or province. Used for mailing paper checks.

        Required if any remittance address field is provided. Must be a valid

        US state or Canadian province abbreviation.

        '
      title: Remitstate
    VendorResponseStoredMethod:
      type: object
      properties:
        IdPmethod:
          type:
          - string
          - 'null'
        Method:
          type:
          - string
          - 'null'
        Descriptor:
          type:
          - string
          - 'null'
        MaskedAccount:
          type:
          - string
          - 'null'
        ExpDate:
          type:
          - string
          - 'null'
        HolderName:
          type:
          - string
          - 'null'
        AchSecCode:
          type:
          - string
          - 'null'
        AchHolderType:
          type:
          - string
          - 'null'
        IsValidatedACH:
          type:
          - boolean
          - 'null'
        BIN:
          type:
          - string
          - 'null'
        binData:
          oneOf:
          - $ref: '#/components/schemas/BinData'
          - type: 'null'
        ABA:
          type:
          - string
          - 'null'
        PostalCode:
          type:
          - string
          - 'null'
        MethodType:
          type:
          - string
          - 'null'
        WalletType:
          type:
          - string
          - 'null'
          description: Digital wallet type if applicable.
        LastUpdated:
          type:
          - string
          - 'null'
          format: date-time
        CardUpdatedOn:
          type:
          - string
          - 'null'
          format: date-time
          description: Date and time the card was last updated.
      required:
      - IdPmethod
      - Method
      - Descriptor
      - MaskedAccount
      - ExpDate
      - HolderName
      - AchSecCode
      - AchHolderType
      - IsValidatedACH
      - BIN
      - binData
      - ABA
      - PostalCode
      - MethodType
      - WalletType
      - LastUpdated
      - CardUpdatedOn
      description: Stored payment method information
      title: VendorResponseStoredMethod
    VendorSummary:
      type: object
      properties:
        ActiveBills:
          type: integer
        PendingBills:
          type: integer
        InTransitBills:
          type: integer
        PaidBills:
          type: integer
        OverdueBills:
          type: integer
        ApprovedBills:
          type: integer
        DisapprovedBills:
          type: integer
        TotalBills:
          type: integer
        ActiveBillsAmount:
          type: number
          format: double
        PendingBillsAmount:
          type: number
          format: double
        InTransitBillsAmount:
          type: number
          format: double
        PaidBillsAmount:
          type: number
          format: double
        OverdueBillsAmount:
          type: number
          format: double
        ApprovedBillsAmount:
          type: number
          format: double
        DisapprovedBillsAmount:
          type: number
          format: double
        TotalBillsAmount:
          type: number
          format: double
      title: VendorSummary
    Source:
      type: string
      description: Custom identifier to indicate the transaction or request source.
      title: Source
    Zip:
      type: string
      description: ZIP code for address.
      title: Zip
    GetPayoutSubscriptionResponse:
      type: object
      properties:
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          $ref: '#/components/schemas/PayoutSubscriptionQueryRecord'
          description: The payout subscription record.
      required:
      - responseText
      description: Success response
      title: GetPayoutSubscriptionResponse
    TypeAccount:
      type: string
      enum:
      - Checking
      - Savings
      description: 'Type of bank account: Checking or Savings.'
      title: TypeAccount
    Orderdescription:
      type: string
      description: Text description of the transaction.
      title: Orderdescription
    PaymentDetail:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/PaymentCategories'
          description: 'Array of payment categories/line items describing the amount to be paid.

            **Note**: These categories are for information only and aren''t validated against the total amount provided.'
        checkImage:
          type: object
          additionalProperties:
            description: Any type
          description: Object containing image of paper check.
        checkNumber:
          type: string
          description: A check number to be used in the ach transaction. **Required** for payment method = 'check'.
        currency:
          type: string
          description: The currency for the transaction, `USD` or `CAD`. If your paypoint is configured for CAD, you must send the `CAD` value in this field, otherwise it defaults to USD, which will cause the transaction to fail.
        serviceFee:
          type: number
          format: double
          description: Service fee to be deducted from the total amount. This amount must be a number, percentages aren't accepted. If you are using a percentage-based fee schedule, you must calculate the value manually.
        splitFunding:
          $ref: '#/components/schemas/SplitFunding'
          description: Split funding instructions for the transaction. See [Split a Transaction](/developers/developer-guides/money-in-split-funding) for more.
        checkUniqueId:
          type: string
          description: Unique identifier for a processed check image. Required for RDC (Remote Deposit Capture) transactions where `achCode` is `BOC`. Use the `id` value from the [check processing](/developers/api-reference/moneyin/check-capture) response.
        totalAmount:
          type: number
          format: double
          description: Total amount to be charged. If a service fee is sent, then this amount should include the service fee."
      required:
      - totalAmount
      description: Details about the payment.
      title: PaymentDetail
    AccountNumber:
      type: string
      description: Account number for bank account. This value is returned masked in responses.
      title: AccountNumber
    Legalname:
      type: string
      description: Business legal name.
      title: Legalname
    AddressAddtlNullable:
      type: string
      description: Additional line for the address.
      title: AddressAddtlNullable
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

        '
    APIKeyAuth:
      type: apiKey
      in: header
      name: requestToken
      description: 'Long-lived API token sent in the `requestToken` header. See [API token authentication](/developers/api-tokens).

        '
