openapi: 3.1.0
info:
  title: API reference Bill Query API
  version: 1.0.0
servers:
- url: https://api-sandbox.payabli.com/api
  description: Sandbox
- url: https://api.payabli.com/api
  description: Production
tags:
- name: Query
paths:
  /Query/transactions/{entry}:
    get:
      operationId: ListTransactions
      summary: Get list of transactions for a paypoint
      description: "Retrieve a list of transactions for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.\n\nBy default, this endpoint returns only transactions from the last 60 days. To query transactions outside of this period, include `transactionDate` filters.\n\nThese request parameters filter for transactions between April 1, 2024 and April 9, 2024.\n\n```bash\ncurl -X GET https://api-sandbox.payabli.com/api/Query/transactions/8cfec329267?limitRecord=20&fromRecord=0&transactionDate(ge)=2024-04-01T00:00:00&transactionDate(le)=2024-04-09T23:59:59 \\\n  -H 'requestToken: <API TOKEN>'\n```\n"
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `transactionDate` (gt, ge, lt, le, eq, ne)\n- `transId` (ne, eq, ct, nct, in, nin)\n- `gatewayTransId` (ne, eq, ct, nct)\n- `orderId` (ne, eq)\n- `scheduleId` (ne, eq)\n- `returnId` (ne, eq)\n- `refundId` (ne, eq)\n- `rejectId` (ne, eq)\n- `idTrans` (ne, eq)\n- `orgId` (ne, eq)\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `externalPaypointId` (ct, nct, eq, ne)\n- `method` (in, nin, eq, ne)\n- `totalAmount` (gt, ge, lt, le, eq, ne)\n- `netAmount` (gt, ge, lt, le, eq, ne)\n- `feeAmount` (gt, ge, lt, le, eq, ne)\n- `operation` (in, nin, eq, ne)\n- `source` (in, nin, eq, ne, ct, nct)\n- `status` (in, nin, eq, ne)\n- `settlementStatus` (in, nin, eq, ne)\n- `batchNumber` (nct, ct)\n- `invoiceNumber` (ct, nct)\n- `ipAddress` (eq, ne)\n- `authCode` (ct, nct)\n- `orderDescription` (ct, nct)\n- `payaccountLastfour` (nct, ct)\n- `payaccountType` (ne, eq, in, nin)\n- `payaccountCurrency` (ne, eq, in, nin)\n- `binCardType` (eq, ne, in, nin). Filters by card type for card transactions. Accepts `CREDIT`, `DEBIT`, or `PREPAID`. Case-insensitive.\n- `customerFirstname` (ct, nct, eq, ne)\n- `customerLastname` (ct, nct, eq, ne)\n- `customerName` (ct, nct)\n- `customerId` (eq, ne)\n- `customerNumber` (ct, nct, eq, ne)\n- `customerCompanyname` (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity` (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity` (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `deviceId` (ct, nct, in, nin, eq, ne)\n- `AchSecCode` ( ct, nct, in, nin, eq, ne)\n- `AchHolderType` (ct, nct, in, nin, eq, and ne)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name related to customer data\n- 'invoiceAdditional-xxx' (ne, eq, ct, nct) where xxx is the additional field name related to invoice data\n\n**List of comparison operators accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array\n- `nin` => not inside array"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseTransactions'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/transactions/org/{orgId}:
    get:
      operationId: ListTransactionsOrg
      summary: Get list of transactions for an organization
      description: "Retrieve a list of transactions for an organization. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.\n\nBy default, this endpoint returns only transactions from the last 60 days. To query transactions outside of this period, include `transactionDate` filters.\n\nThese request parameters filter for transactions between April 1, 2024 and April 9, 2024.\n\n```bash\ncurl -X GET \"https://api-sandbox.payabli.com/api/Query/transactions/org/1?limitRecord=20&fromRecord=0&transactionDate(ge)=2024-04-01T00:00:00&transactionDate(le)=2024-04-09T23:59:59\" \\\n  -H 'requestToken: <API TOKEN>'\n```\n"
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `transactionDate` (gt, ge, lt, le, eq, ne)\n- `transId` (ne, eq, ct, nct, in, nin)\n- `gatewayTransId` (ne, eq, ct, nct)\n- `orderId` (ne, eq)\n- `scheduleId` (ne, eq)\n- `returnId` (ne, eq)\n- `refundId` (ne, eq)\n- `rejectId` (ne, eq)\n- `idTrans` (ne, eq)\n- `orgId` (ne, eq)\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `externalPaypointId` (ct, nct, eq, ne)\n- `method` (in, nin, eq, ne)\n- `totalAmount` (gt, ge, lt, le, eq, ne)\n- `netAmount` (gt, ge, lt, le, eq, ne)\n- `feeAmount` (gt, ge, lt, le, eq, ne)\n- `operation` (in, nin, eq, ne)\n- `source` (in, nin, eq, ne, ct, nct)\n- `status` (in, nin, eq, ne)\n- `settlementStatus` (in, nin, eq, ne)\n- `batchNumber` (nct, ct)\n- `invoiceNumber` (ct, nct)\n- `authCode` (ct, nct)\n- `orderDescription` (ct, nct)\n- `payaccountLastfour` (nct, ct)\n- `payaccountType` (ne, eq, in, nin)\n- `payaccountCurrency` (ne, eq, in, nin)\n- `binCardType` (eq, ne, in, nin). Filters by card type for card transactions. Accepts `CREDIT`, `DEBIT`, or `PREPAID`. Case-insensitive.\n- `customerFirstname` (ct, nct, eq, ne)\n- `customerLastname` (ct, nct, eq, ne)\n- `customerName` (ct, nct)\n- `customerId` (eq, ne)\n- `customerNumber` (ct, nct, eq, ne)\n- `customerCompanyname` (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity` (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity` (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `deviceId` (ct, nct, in, nin, eq, ne)\n- `AchSecCode` ( ct, nct, in, nin, eq, ne)\n- `AchHolderType`` (ct, nct, in, nin, eq, and ne)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name related to customer data\n- 'invoiceAdditional-xxx' (ne, eq, ct, nct) where xxx is the additional field name related to invoice data\n\n**List of comparison operators accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array\n- `nin` => not inside array"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseTransactions'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/settlements/{entry}:
    get:
      operationId: ListSettlements
      summary: Get list of settled transactions for a paypoint
      description: Retrieve a list of settled transactions for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `settlementDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `transId`  (ne, eq, ct, nct)\n- `gatewayTransId`  (ne, eq, ct, nct)\n- `method`   (in, nin, eq, ne)\n- `settledAmount`  (gt, ge, lt, le, eq, ne)\n- `operation`    (in, nin, eq, ne)\n- `source`   (in, nin, eq, ne)\n- `batchNumber`  (ct, nct, eq, ne)\n- `payaccountLastfour`   (nct, ct)\n- `payaccountType`   (ne, eq, in, nin)\n- `customerFirstname`   (ct, nct, eq, ne)\n- `customerLastname`    (ct, nct, eq, ne)\n- `customerName`   (ct, nct)\n- `customerId`  (eq, ne)\n- `customerNumber`  (ct, nct, eq, ne)\n- `customerCompanyname`    (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity`    (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity`    (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId`  (eq) *mandatory when entry=org*\n- `isHold` (eq, ne)\n- `paypointId`  (ne, eq)\n- `paypointLegal`  (ne, eq, ct, nct)\n- `paypointDba`  (ne, eq, ct, nct)\n- `orgName`  (ne, eq, ct, nct)\n- `batchId` (ct, nct, eq, neq)\n- `additional-xxx`  (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**List of parameters accepted:**\n\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `settledAmount(gt)=20` returns all records with a `settledAmount` greater than 20.00."
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseSettlements'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/settlements/org/{orgId}:
    get:
      operationId: ListSettlementsOrg
      summary: Get list of settled transactions for an org
      description: Retrieve a list of settled transactions for an organization. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `settlementDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `transId`  (ne, eq, ct, nct)\n- `gatewayTransId`  (ne, eq, ct, nct)\n- `method`   (in, nin, eq, ne)\n- `settledAmount`  (gt, ge, lt, le, eq, ne)\n- `operation`    (in, nin, eq, ne)\n- `source`   (in, nin, eq, ne)\n- `batchNumber`  (ct, nct, eq, ne)\n- `payaccountLastfour`   (nct, ct)\n- `payaccountType`   (ne, eq, in, nin)\n- `customerFirstname`   (ct, nct, eq, ne)\n- `customerLastname`    (ct, nct, eq, ne)\n- `customerName`   (ct, nct)\n- `customerId`  (eq, ne)\n- `customerNumber`  (ct, nct, eq, ne)\n- `customerCompanyname`    (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity`    (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity`    (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId`  (eq) *mandatory when entry=org*\n- `isHold` (eq, ne)\n- `paypointId`  (ne, eq)\n- `paypointLegal`  (ne, eq, ct, nct)\n- `paypointDba`  (ne, eq, ct, nct)\n- `orgName`  (ne, eq, ct, nct)\n- `batchId` (ct, nct, eq, neq)\n- `additional-xxx`  (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**List of parameters accepted:**\n\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `settledAmount(gt)=20` returns all records with a `settledAmount` greater than 20.00."
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponseSettlements'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/batches/{entry}:
    get:
      operationId: ListBatches
      summary: Get list of batches for a paypoint
      description: Retrieve a list of batches for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `batchDate` (gt, ge, lt, le, eq, ne)\n- `batchNumber` (ne, eq)\n- `method` (in, nin, eq, ne)\n- `connectorName` (ne, eq, ct, nct)\n- `batchAmount` (gt, ge, lt, le, eq, ne)\n- `feeBatchAmount` (gt, ge, lt, le, eq, ne)\n- `netBatchAmount` (gt, ge, lt, le, eq, ne)\n- `releaseAmount` (gt, ge, lt, le, eq, ne)\n- `heldAmount` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `paypointId` (ne, eq)\n- `externalPaypointID` (ct, nct, eq, ne)\n- `expectedDepositDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `batchRecords` (gt, ge, lt, le, eq, ne)\n- `transferId` (ne, eq)\n- `transferDate` (gt, ge, lt, le, eq, ne)\n- `grossAmount` (gt, ge, lt, le, eq, ne)\n- `chargeBackAmount` (gt, ge, lt, le, eq, ne)\n- `returnedAmount` (gt, ge, lt, le, eq, ne)\n- `billingFeeAmount` (gt, ge, lt, le, eq, ne)\n- `thirdPartyPaidAmount` (gt, ge, lt, le, eq, ne)\n- `netFundedAmount` (gt, ge, lt, le, eq, ne)\n- `adjustmentAmount` (gt, ge, lt, le, eq, ne)\n- `processor` (ne, eq, ct, nct)\n- `transferStatus` (ne, eq, in, nin)\n\n**List of parameters accepted:**\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `batchAmount(gt)=20` returns all records with a `batchAmount` greater than 20.00"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryBatchesResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/batches/org/{orgId}:
    get:
      operationId: ListBatchesOrg
      summary: Get list of batches for an organization
      description: Retrieve a list of batches for an org. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `batchDate` (gt, ge, lt, le, eq, ne)\n- `batchNumber` (ne, eq)\n- `method` (in, nin, eq, ne)\n- `connectorName` (ne, eq, ct, nct)\n- `batchAmount` (gt, ge, lt, le, eq, ne)\n- `feeBatchAmount` (gt, ge, lt, le, eq, ne)\n- `netBatchAmount` (gt, ge, lt, le, eq, ne)\n- `releaseAmount` (gt, ge, lt, le, eq, ne)\n- `heldAmount` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `paypointId` (ne, eq)\n- `externalPaypointID` (ct, nct, eq, ne)\n- `expectedDepositDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `batchRecords` (gt, ge, lt, le, eq, ne)\n- `transferId` (ne, eq)\n- `transferDate` (gt, ge, lt, le, eq, ne)\n- `grossAmount` (gt, ge, lt, le, eq, ne)\n- `chargeBackAmount` (gt, ge, lt, le, eq, ne)\n- `returnedAmount` (gt, ge, lt, le, eq, ne)\n- `billingFeeAmount` (gt, ge, lt, le, eq, ne)\n- `thirdPartyPaidAmount` (gt, ge, lt, le, eq, ne)\n- `netFundedAmount` (gt, ge, lt, le, eq, ne)\n- `adjustmentAmount` (gt, ge, lt, le, eq, ne)\n- `processor` (ne, eq, ct, nct)\n- `transferStatus` (ne, eq, in, nin)\n\n**List of parameters accepted:**\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `batchAmount(gt)=20` returns all records with a `batchAmount` greater than 20.00"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryBatchesResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/batchDetails/{entry}:
    get:
      operationId: ListBatchDetails
      summary: Get a list of settled and unsettled transactions in batches for a paypoint
      description: 'Retrieve a list of batches and their details, including settled and

        unsettled transactions for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.'
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `settlementDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `transId`  (ne, eq, ct, nct)\n- `gatewayTransId`  (ne, eq, ct, nct)\n- `method`   (in, nin, eq, ne)\n- `settledAmount`  (gt, ge, lt, le, eq, ne)\n- `operation`    (in, nin, eq, ne)\n- `source`   (in, nin, eq, ne)\n- `batchNumber`  (ct, nct, eq, ne)\n- `payaccountLastfour`   (nct, ct)\n- `payaccountType`   (ne, eq, in, nin)\n- `customerFirstname`   (ct, nct, eq, ne)\n- `customerLastname`    (ct, nct, eq, ne)\n- `customerName`   (ct, nct)\n- `customerId`  (eq, ne)\n- `customerNumber`  (ct, nct, eq, ne)\n- `customerCompanyname`    (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity`    (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity`    (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId`  (eq) *mandatory when entry=org*\n- `isHold` (eq, ne)\n- `paypointId`  (ne, eq)\n- `paypointLegal`  (ne, eq, ct, nct)\n- `paypointDba`  (ne, eq, ct, nct)\n- `orgName`  (ne, eq, ct, nct)\n- `batchId` (ct, nct, eq, neq)\n- `additional-xxx`  (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**List of parameters accepted:**\n\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `settledAmount(gt)=20` returns all records with a `settledAmount` greater than 20.00."
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryBatchesDetailResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/batchDetails/org/{orgId}:
    get:
      operationId: ListBatchDetailsOrg
      summary: Get list of settled and unsettled transactions in batches for an org
      description: Retrieve a list of batches and their details, including settled and unsettled transactions for an organization. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `settlementDate` (gt, ge, lt, le, eq, ne)\n- `depositDate` (gt, ge, lt, le, eq, ne)\n- `transId`  (ne, eq, ct, nct)\n- `gatewayTransId`  (ne, eq, ct, nct)\n- `method`   (in, nin, eq, ne)\n- `settledAmount`  (gt, ge, lt, le, eq, ne)\n- `operation`    (in, nin, eq, ne)\n- `source`   (in, nin, eq, ne)\n- `batchNumber`  (ct, nct, eq, ne)\n- `payaccountLastfour`   (nct, ct)\n- `payaccountType`   (ne, eq, in, nin)\n- `customerFirstname`   (ct, nct, eq, ne)\n- `customerLastname`    (ct, nct, eq, ne)\n- `customerName`   (ct, nct)\n- `customerId`  (eq, ne)\n- `customerNumber`  (ct, nct, eq, ne)\n- `customerCompanyname`    (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity`    (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity`    (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId`  (eq) *mandatory when entry=org*\n- `isHold` (eq, ne)\n- `paypointId`  (ne, eq)\n- `paypointLegal`  (ne, eq, ct, nct)\n- `paypointDba`  (ne, eq, ct, nct)\n- `orgName`  (ne, eq, ct, nct)\n- `batchId` (ct, nct, eq, neq)\n- `additional-xxx`  (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**List of parameters accepted:**\n\n- `limitRecord`: max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: initial record in query\n\nExample: `settledAmount(gt)=20` returns all records with a `settledAmount` greater than 20.00."
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryBatchesDetailResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/transfers/{entry}:
    get:
      operationId: ListTransfers
      summary: Get list of transfers for a paypoint
      description: Retrieve a list of transfers for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query. See [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nList of field names accepted:\n\n  - `transferDate` (gt, ge, lt, le, eq, ne)\n  - `grossAmount` (gt, ge, lt, le, eq, ne)\n  - `chargeBackAmount` (gt, ge, lt, le, eq, ne)\n  - `returnedAmount` (gt, ge, lt, le, eq, ne)\n  - `billingFeeAmount` (gt, ge, lt, le, eq, ne)\n  - `thirdPartyPaidAmount` (gt, ge, lt, le, eq, ne)\n  - `netFundedAmount` (gt, ge, lt, le, eq, ne)\n  - `adjustmentAmount` (gt, ge, lt, le, eq, ne)\n  - `processor` (ne, eq, ct, nct)\n  - `transferStatus` (ne, eq, in, nin)\n  - `batchNumber` (ne, eq, ct, nct)\n  - `batchId` (ne, eq, in, nin)\n  - `transferId` (in, nin, eq, ne)\n  - `bankAccountNumber` (ct, nct, ne, eq)\n  - `bankRoutingNumber` (ct, nct, ne, eq)\n  - `batchCurrency` (in, nin, ne, eq)\n  - `parentOrgName` (ct, nct, ne, eq)\n  - `parentOrgId` (ct, nct, ne, eq)\n  - `externalPaypointID` (ct, nct)"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferQueryResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/transfers/org/{orgId}:
    get:
      operationId: ListTransfersOrg
      summary: Get list of transfers for an organization
      description: Retrieve a list of transfers for an org. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: Organization ID. Unique identifier assigned to an org by Payabli.
        required: true
        schema:
          $ref: '#/components/schemas/Orgid'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query. See [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nList of field names accepted:\n\n  - `transferDate` (gt, ge, lt, le, eq, ne)\n  - `grossAmount` (gt, ge, lt, le, eq, ne)\n  - `chargeBackAmount` (gt, ge, lt, le, eq, ne)\n  - `returnedAmount` (gt, ge, lt, le, eq, ne)\n  - `billingFeeAmount` (gt, ge, lt, le, eq, ne)\n  - `thirdPartyPaidAmount` (gt, ge, lt, le, eq, ne)\n  - `netFundedAmount` (gt, ge, lt, le, eq, ne)\n  - `adjustmentAmount` (gt, ge, lt, le, eq, ne)\n  - `processor` (ne, eq, ct, nct)\n  - `transferStatus` (ne, eq, in, nin)\n  - `batchNumber` (ne, eq, ct, nct)\n  - `batchId` (ne, eq, in, nin)\n  - `transferId` (in, nin, eq, ne)\n  - `bankAccountNumber` (ct, nct, ne, eq)\n  - `bankRoutingNumber` (ct, nct, ne, eq)\n  - `batchCurrency` (in, nin, ne, eq)"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferQueryResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/transferDetails/{entry}/{transferId}:
    get:
      operationId: ListTransferDetails
      summary: Get transfer details for a paypoint
      description: Retrieve a list of transfer details records for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: transferId
        in: path
        description: The numeric identifier for the transfer, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records. Defaults to 20.
        required: false
        schema:
          $ref: '#/components/schemas/limitRecord'
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter\nthe query.\n\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\n\nSee [Filters and Conditions\nReference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference)\nfor more information.\n\n\n**List of field names accepted:**\n\n  - `grossAmount` (gt, ge, lt, le, eq, ne)\n  - `chargeBackAmount` (gt, ge, lt, le, eq, ne)\n  - `returnedAmount` (gt, ge, lt, le, eq, ne)\n  - `billingFeeAmount` (gt, ge, lt, le, eq, ne)\n  - `thirdPartyPaidAmount` (gt, ge, lt, le, eq, ne)\n  - `netFundedAmount` (gt, ge, lt, le, eq, ne)\n  - `adjustmentAmount` (gt, ge, lt, le, eq, ne)\n  - `splitFundingAmount` (gt, ge, lt, le, eq, ne)\n  - `operation` (in, nin, eq, ne)\n  - `transactionId` (eq, ne, in, nin)\n  - `category` (eq, ne, ct, nct)\n  - `type` (eq, ne, in, nin)\n  - `method` (eq, ne, in, nin)"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTransferDetailResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/subscriptions/{entry}:
    get:
      operationId: ListSubscriptions
      summary: Get list of subscriptions for a paypoint
      description: Returns a list of subscriptions for a single paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `startDate` (gt, ge, lt, le, eq, ne)\n- `endDate` (gt, ge, lt, le, eq, ne)\n- `nextDate` (gt, ge, lt, le, eq, ne)\n- `frequency` (in, nin, ne, eq)\n- `method` (in, nin, eq, ne)\n- `totalAmount` (gt, ge, lt, le, eq, ne)\n- `netAmount` (gt, ge, lt, le, eq, ne)\n- `feeAmount` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `untilcancelled` (eq, ne)\n- `subscriptionType` (eq, ne, in, nin). Filters by subscription type. Accepts `Regular` or `BalanceDriven`. Case-insensitive. Example: `subscriptionType(in)=Regular|BalanceDriven`.\n- `payaccountLastfour` (nct, ct)\n- `payaccountType` (ne, eq, in, nin)\n- `payaccountCurrency` (ne, eq, in, nin)\n- `customerFirstname` (ct, nct, eq, ne)\n- `customerLastname` (ct, nct, eq, ne)\n- `customerName` (ct, nct)\n- `customerId` (eq, ne)\n- `customerNumber` (ct, nct, eq, ne)\n- `customerCompanyname` (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity` (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity` (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId` (eq)\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `externalPaypointId` (ct, nct, ne, eq)\n- `subId` (eq, ne)\n- `idPmethod` (eq, ne, ct, nct, in, nin). Filters by the subscription's linked stored method identifier (the value returned in `StoredMethod.IdPmethod`). Case-insensitive. Subscriptions without a linked stored method are excluded from matches. Example: `idPmethod(eq,6edcbb56-9c0e-4003-b3d1-99abf149ba0e)`.\n- `orderDescription` (ct, nct)\n- `cycles` (eq, ne, gt, ge, lt, le)\n- `leftcycles` (eq, ne, gt, ge, lt, le)\n- `createdAt` (eq, ne, gt, ge, lt, le)\n- `updatedOn` (eq, ne, gt, ge, lt, le)\n- `invoiceNumber` (ct, nct)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison operators accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array\n- `nin` => not inside array"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySubscriptionResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/subscriptions/org/{orgId}:
    get:
      operationId: ListSubscriptionsOrg
      summary: Get list of subscriptions for an org
      description: Returns a list of subscriptions for a single org. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more information.\n\n**List of field names accepted:**\n\n- `startDate` (gt, ge, lt, le, eq, ne)\n- `endDate` (gt, ge, lt, le, eq, ne)\n- `nextDate` (gt, ge, lt, le, eq, ne)\n- `frequency` (in, nin, ne, eq)\n- `method` (in, nin, eq, ne)\n- `totalAmount` (gt, ge, lt, le, eq, ne)\n- `netAmount` (gt, ge, lt, le, eq, ne)\n- `feeAmount` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `untilcancelled` (eq, ne)\n- `subscriptionType` (eq, ne, in, nin). Filters by subscription type. Accepts `Regular` or `BalanceDriven`. Case-insensitive. Example: `subscriptionType(in)=Regular|BalanceDriven`.\n- `payaccountLastfour` (nct, ct)\n- `payaccountType` (ne, eq, in, nin)\n- `payaccountCurrency` (ne, eq, in, nin)\n- `customerFirstname` (ct, nct, eq, ne)\n- `customerLastname` (ct, nct, eq, ne)\n- `customerName` (ct, nct)\n- `customerId` (eq, ne)\n- `customerNumber` (ct, nct, eq, ne)\n- `customerCompanyname` (ct, nct, eq, ne)\n- `customerAddress` (ct, nct, eq, ne)\n- `customerCity` (ct, nct, eq, ne)\n- `customerZip` (ct, nct, eq, ne)\n- `customerState` (ct, nct, eq, ne)\n- `customerCountry` (ct, nct, eq, ne)\n- `customerPhone` (ct, nct, eq, ne)\n- `customerEmail` (ct, nct, eq, ne)\n- `customerShippingAddress` (ct, nct, eq, ne)\n- `customerShippingCity` (ct, nct, eq, ne)\n- `customerShippingZip` (ct, nct, eq, ne)\n- `customerShippingState` (ct, nct, eq, ne)\n- `customerShippingCountry` (ct, nct, eq, ne)\n- `orgId` (eq)\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n- `externalPaypointId` (ct, nct, ne, eq)\n- `subId` (eq, ne)\n- `idPmethod` (eq, ne, ct, nct, in, nin). Filters by the subscription's linked stored method identifier (the value returned in `StoredMethod.IdPmethod`). Case-insensitive. Subscriptions without a linked stored method are excluded from matches. Example: `idPmethod(eq,6edcbb56-9c0e-4003-b3d1-99abf149ba0e)`.\n- `orderDescription` (ct, nct)\n- `cycles` (eq, ne, gt, ge, lt, le)\n- `leftcycles` (eq, ne, gt, ge, lt, le)\n- `createdAt` (eq, ne, gt, ge, lt, le)\n- `updatedOn` (eq, ne, gt, ge, lt, le)\n- `invoiceNumber` (ct, nct)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name\n\n**List of comparison operators accepted:**\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array\n- `nin` => not inside array"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySubscriptionResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/customers/{entry}:
    get:
      operationId: ListCustomers
      summary: Get list of customers for a paypoint
      description: Retrieves a list of customers for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more details.\n\n**List of Accepted Field Names:**\n\n- `createdDate` (gt, ge, lt, le, eq, ne)\n- `customernumber` (ne, eq, ct, nct)\n- `firstname` (ne, eq, ct, nct)\n- `lastname` (ne, eq, ct, nct)\n- `name` (ct, nct)\n- `address` (ne, eq, ct, nct)\n- `city` (ne, eq, ct, nct)\n- `country` (ne, eq, ct, nct)\n- `zip` (ne, eq, ct, nct)\n- `state` (ne, eq, ct, nct)\n- `shippingaddress` (ne, eq, ct, nct)\n- `shippingcity` (ne, eq, ct, nct)\n- `shippingcountry` (ne, eq, ct, nct)\n- `shippingzip` (ne, eq, ct, nct)\n- `shippingstate` (ne, eq, ct, nct)\n- `phone` (ne, eq, ct, nct)\n- `email` (ne, eq, ct, nct)\n- `company` (ne, eq, ct, nct)\n- `username` (ne, eq, ct, nct)\n- `balance` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name\n- `orgId` (eq) *mandatory when entry=org*\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n\n**List of Accepted Comparisons:**\n\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**Accepted Parameters:**\n- `limitRecord`: Max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: Initial record in query\n\n**Example Usage:**\n`balance(gt)=20` will return all records with a balance greater than 20.00."
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCustomerResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/customers/org/{orgId}:
    get:
      operationId: ListCustomersOrg
      summary: Get list of customers for an org
      description: Retrieves a list of customers for an org. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter the query.\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?parameters=totalAmount(gt)=1000&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/transactions/org/236?totalAmount(gt)=1000&limitRecord=20\n</Info>\nSee [Filters and Conditions Reference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference) for more details.\n\n**List of Accepted Field Names:**\n\n- `createdDate` (gt, ge, lt, le, eq, ne)\n- `customernumber` (ne, eq, ct, nct)\n- `firstname` (ne, eq, ct, nct)\n- `lastname` (ne, eq, ct, nct)\n- `name` (ct, nct)\n- `address` (ne, eq, ct, nct)\n- `city` (ne, eq, ct, nct)\n- `country` (ne, eq, ct, nct)\n- `zip` (ne, eq, ct, nct)\n- `state` (ne, eq, ct, nct)\n- `shippingaddress` (ne, eq, ct, nct)\n- `shippingcity` (ne, eq, ct, nct)\n- `shippingcountry` (ne, eq, ct, nct)\n- `shippingzip` (ne, eq, ct, nct)\n- `shippingstate` (ne, eq, ct, nct)\n- `phone` (ne, eq, ct, nct)\n- `email` (ne, eq, ct, nct)\n- `company` (ne, eq, ct, nct)\n- `username` (ne, eq, ct, nct)\n- `balance` (gt, ge, lt, le, eq, ne)\n- `status` (in, nin, eq, ne)\n- `additional-xxx` (ne, eq, ct, nct) where xxx is the additional field name\n- `orgId` (eq) *mandatory when entry=org*\n- `paypointId` (ne, eq)\n- `paypointLegal` (ne, eq, ct, nct)\n- `paypointDba` (ne, eq, ct, nct)\n- `orgName` (ne, eq, ct, nct)\n\n**List of Accepted Comparisons:**\n\n- `eq` or empty => equal\n- `gt` => greater than\n- `ge` => greater or equal\n- `lt` => less than\n- `le` => less or equal\n- `ne` => not equal\n- `ct` => contains\n- `nct` => not contains\n- `in` => inside array separated by \"|\"\n- `nin` => not inside array separated by \"|\"\n\n**Accepted Parameters:**\n- `limitRecord`: Max number of records for query (default=\"20\", \"0\" or negative value for all)\n- `fromRecord`: Initial record in query\n\n**Example Usage:**\n`balance(gt)=20` will return all records with a balance greater than 20.00."
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCustomerResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/devices/{entry}:
    get:
      operationId: ListDevices
      summary: Get list of devices for a paypoint
      description: Returns a list of cloud devices for a single paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter\nthe query.\n\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/devices/8cfec329267?parameters=status=1&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/devices/8cfec329267?status=1&limitRecord=20\n</Info>\n\nSee [Filters and Conditions\nReference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference)\nfor more information.\n\n**List of field names accepted:**\n\n\n- `deviceId` (eq, ne, ct, nct)\n\n- `serialNumber` (eq, ne, ct, nct)\n\n- `friendlyName` (eq, ne, ct, nct)\n\n- `description` (eq, ne, ct, nct)\n\n- `model` (eq, ne, ct, nct)\n\n- `make` (eq, ne, ct, nct)\n\n- `macAddress` (eq, ne, ct, nct)\n\n- `registrationCode` (eq, ne, ct, nct)\n\n- `status` (eq, ne, in, nin)\n\n- `deviceType` (eq, ne, in, nin)\n\n- `deviceOs` (eq, ne, in, nin)\n\n- `activationAttempts` (eq, ne, gt, ge, lt, le)\n\n- `createdDate` (gt, ge, lt, le, eq, ne)\n\n- `updatedDate` (gt, ge, lt, le, eq, ne)\n\n- `lastHealthCheck` (gt, ge, lt, le, eq, ne)\n\n- `activationExpiry` (gt, ge, lt, le, eq, ne). This filter corresponds to the `activationCodeExpiry` response field.\n\n- `paypointId` (eq, ne)\n\n- `paypointDba` (eq, ne, ct, nct)\n\n- `paypointLegal` (eq, ne, ct, nct)\n\n- `paypointEntry` (eq, ne, ct, nct)\n\n- `externalPaypointId` (eq, ne, ct, nct)\n\n- `parentOrgId` (eq, ne)\n\n- `parentOrgName` (eq, ne, ct, nct)\n\n\n**List of comparison operators accepted:**\n\n- `eq` or empty => equal\n\n- `gt` => greater than\n\n- `ge` => greater or equal\n\n- `lt` => less than\n\n- `le` => less or equal\n\n- `ne` => not equal\n\n- `ct` => contains\n\n- `nct` => not contains\n\n- `in` => inside array\n\n- `nin` => not inside array"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDeviceResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/devices/org/{orgId}:
    get:
      operationId: ListDevicesOrg
      summary: Get list of devices for an org
      description: Returns a list of cloud devices for a single organization. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: orgId
        in: path
        description: The numeric identifier for organization, assigned by Payabli.
        required: true
        schema:
          type: integer
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
        description: "Collection of field names, conditions, and values used to filter\nthe query.\n\n<Info>\n  **You must remove `parameters=` from the request before you send it, otherwise Payabli will ignore the filters.**\n\n  Because of a technical limitation, you can't make a request that includes filters from the API console on this page. The response won't be filtered. Instead, copy the request, remove `parameters=` and run the request in a different client.\n\n  For example:\n\n  --url https://api-sandbox.payabli.com/api/Query/devices/org/236?parameters=status=1&limitRecord=20\n\n  should become:\n\n  --url https://api-sandbox.payabli.com/api/Query/devices/org/236?status=1&limitRecord=20\n</Info>\n\nSee [Filters and Conditions\nReference](/developers/developer-guides/pay-ops-reporting-engine-overview#filters-and-conditions-reference)\nfor more information.\n\n**List of field names accepted:**\n\n\n- `deviceId` (eq, ne, ct, nct)\n\n- `serialNumber` (eq, ne, ct, nct)\n\n- `friendlyName` (eq, ne, ct, nct)\n\n- `description` (eq, ne, ct, nct)\n\n- `model` (eq, ne, ct, nct)\n\n- `make` (eq, ne, ct, nct)\n\n- `macAddress` (eq, ne, ct, nct)\n\n- `registrationCode` (eq, ne, ct, nct)\n\n- `status` (eq, ne, in, nin)\n\n- `deviceType` (eq, ne, in, nin)\n\n- `deviceOs` (eq, ne, in, nin)\n\n- `activationAttempts` (eq, ne, gt, ge, lt, le)\n\n- `createdDate` (gt, ge, lt, le, eq, ne)\n\n- `updatedDate` (gt, ge, lt, le, eq, ne)\n\n- `lastHealthCheck` (gt, ge, lt, le, eq, ne)\n\n- `activationExpiry` (gt, ge, lt, le, eq, ne). This filter corresponds to the `activationCodeExpiry` response field.\n\n- `paypointId` (eq, ne)\n\n- `paypointDba` (eq, ne, ct, nct)\n\n- `paypointLegal` (eq, ne, ct, nct)\n\n- `paypointEntry` (eq, ne, ct, nct)\n\n- `externalPaypointId` (eq, ne, ct, nct)\n\n- `parentOrgId` (eq, ne)\n\n- `parentOrgName` (eq, ne, ct, nct)\n\n\n**List of comparison operators accepted:**\n\n- `eq` or empty => equal\n\n- `gt` => greater than\n\n- `ge` => greater or equal\n\n- `lt` => less than\n\n- `le` => less or equal\n\n- `ne` => not equal\n\n- `ct` => contains\n\n- `nct` => not contains\n\n- `in` => inside array\n\n- `nin` => not inside array"
        required: false
        schema:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
      - name: sortBy
        in: query
        description: The field name to use for sorting results. Use `desc(field_name)` to sort descending by `field_name`, and use `asc(field_name)` to sort ascending by `field_name`.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDeviceResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /Query/chargebacks/{entry}:
    get:
      operationId: ListChargebacks
      summary: Get list of chargebacks and returned transactions for a paypoint
      description: Retrieves a list of chargebacks and returned transactions for a paypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
      tags:
      - Query
      parameters:
      - name: entry
        in: path
        description: The entity's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
        required: true
        schema:
          $ref: '#/components/schemas/Entry'
      - name: exportFormat
        in: query
        description: Export format for file downloads. When specified, returns data as a file instead of JSON.
        required: false
        schema:
          $ref: '#/components/schemas/ExportFormat'
      - name: fromRecord
        in: query
        description: The number of records to skip before starting to collect the result set.
        required: false
        schema:
          type: integer
          default: 0
      - name: limitRecord
        in: query
        description: Max number of records to return for the query. Use `0` or negative value to return all records.
        required: false
        schema:
          type: integer
          default: 20
      - name: parameters
        in: query
[...]
