openapi: 3.2.0
info:
  title: reference Money In API
  version: 1.0.0
servers:
- url: https://api-sandbox.payabli.com/api
  description: Sandbox
- url: https://api.payabli.com/api
  description: Production
tags:
- name: moneyIn
paths:
  /v2/MoneyIn/getpaid:
    post:
      operationId: getpaidv2
      summary: Make a transaction (v2)
      description: Make a single transaction. This method authorizes and captures a payment in one step. This is the v2 version of the `api/MoneyIn/getpaid` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
      tags:
      - moneyIn
      parameters:
      - name: achValidation
        in: query
        description: When `true`, enables real-time validation of ACH account and routing numbers. This is an add-on feature, contact Payabli for more information.
        required: false
        schema:
          $ref: '#/components/schemas/AchValidation'
      - name: forceCustomerCreation
        in: query
        description: When `true`, the request creates a new customer record, regardless of whether customer identifiers match an existing customer. Defaults to `false`.
        required: false
        schema:
          $ref: '#/components/schemas/ForceCustomerCreation'
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      - name: validationCode
        in: header
        description: Value obtained from user when an API generated CAPTCHA is used in payment page
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TransactionResponseWrapper'
        '400':
          description: Bad request error for v2 Money In auth endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2BadRequestError'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '402':
          description: Auth or sale decline error for v2 Money In endpoints (HTTP 402). Returned when an authorization or sale operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2DeclinedTransactionResponseWrapper'
        '500':
          description: Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransRequestBody'
  /v2/MoneyIn/authorize:
    post:
      operationId: authorizev2
      summary: Authorize card transaction (v2)
      description: 'Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren''t flagged for settlement until captured. This is the v2 version of the `api/MoneyIn/authorize` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.


        **Note**: Only card transactions can be authorized. This endpoint can''t be used for ACH transactions.'
      tags:
      - moneyIn
      parameters:
      - name: forceCustomerCreation
        in: query
        description: When `true`, the request creates a new customer record, regardless of whether customer identifiers match an existing customer. Defaults to `false`.
        required: false
        schema:
          $ref: '#/components/schemas/ForceCustomerCreation'
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '201':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TransactionResponseWrapper'
        '400':
          description: Bad request error for v2 Money In auth endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2BadRequestError'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '402':
          description: Auth or sale decline error for v2 Money In endpoints (HTTP 402). Returned when an authorization or sale operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2DeclinedTransactionResponseWrapper'
        '500':
          description: Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransRequestBody'
  /v2/MoneyIn/capture/{transId}:
    post:
      operationId: capturev2
      summary: Capture an authorized transaction (v2)
      description: Capture an authorized transaction to complete the transaction and move funds from the customer to merchant account. This is the v2 version of the `api/MoneyIn/capture/{transId}` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TransactionResponseWrapper'
        '400':
          description: Bad request error for v2 Money In capture endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2BadRequestError'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '402':
          description: Capture decline error for v2 Money In endpoints (HTTP 402). Returned when a capture operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2DeclinedTransactionResponseWrapper'
        '500':
          description: Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2InternalServerError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
  /v2/MoneyIn/void/{transId}:
    post:
      operationId: voidv2
      summary: Void a transaction (v2)
      description: Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. This is the v2 version of the `api/MoneyIn/void/{transId}` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TransactionResponseWrapper'
        '400':
          description: Bad request error for v2 Money In void endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2BadRequestError'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '402':
          description: Void decline error for v2 Money In endpoints (HTTP 402). Returned when a void operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2DeclinedTransactionResponseWrapper'
        '500':
          description: Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2InternalServerError'
  /v2/MoneyIn/refund/{transId}:
    post:
      operationId: refundv2
      summary: Refund a settled transaction (v2)
      description: "Give a full refund for a transaction that has settled and send money back to the account holder. To perform a partial refund, see [Partially refund a transaction](/developers/api-reference/moneyinV2/partial-refund-a-settled-transaction).\n\nThis is the v2 version of the refund endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.\n\n<Note>\n  To refund a split-funded transaction, include split instructions in the request body. Omit the body for a standard refund.\n</Note>\n"
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TransactionResponseWrapper'
        '400':
          description: Bad request error for v2 Money In refund endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2BadRequestError'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '402':
          description: Refund decline error for v2 Money In endpoints (HTTP 402). Returned when a refund operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2DeclinedTransactionResponseWrapper'
        '500':
          description: Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2InternalServerError'
      requestBody:
        description: Optional. To refund a split-funded transaction, provide split instructions. Omit the body for a standard refund.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundV2Request'
  /v2/MoneyIn/refund/{transId}/{amount}:
    post:
      operationId: refundv2amount
      summary: Partially refund a settled transaction (v2)
      description: "Refund a transaction that has settled and send money back to the account holder. If `amount` is set to 0, performs a full refund. When a non-zero `amount` is provided, this endpoint performs a partial refund.\n\nThis is the v2 version of the refund endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.\n\n<Note>\n  To refund a split-funded transaction, include split instructions in the request body. Omit the body for a standard refund.\n</Note>\n"
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: amount
        in: path
        description: Amount to refund from original transaction, minus any service fees charged on the original transaction. If set to 0, performs a full refund.
        required: true
        schema:
          type: number
          format: double
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2TransactionResponseWrapper'
        '400':
          description: Bad request error for v2 Money In refund endpoint (HTTP 400). Returned when request validation fails. Follows RFC 7807 Problem Details format with Payabli-specific unified response codes. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2BadRequestError'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '402':
          description: Refund decline error for v2 Money In endpoints (HTTP 402). Returned when a refund operation is declined for a transaction. Uses unified response codes starting with 'D'. See the [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for the complete list of codes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2DeclinedTransactionResponseWrapper'
        '500':
          description: Internal server error for v2 Money In endpoints (HTTP 500). Returned when an unexpected error occurs. Follows RFC 7807 Problem Details format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2InternalServerError'
      requestBody:
        description: Optional. To refund a split-funded transaction, provide split instructions in `refundDetails`. This endpoint takes the refund amount from the `{amount}` path parameter, so don't set `amount` in the body. Omit the body for a standard refund.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundV2Request'
  /MoneyIn/getpaid:
    post:
      operationId: getpaid
      summary: Make a transaction
      description: "<Warning>\n  This endpoint is deprecated. New integrations should use the [Make a transaction endpoint](/developers/api-reference/moneyinV2/make-a-transaction) and manage the resulting transaction with the corresponding void or refund endpoints. Transactions created with this legacy endpoint must be managed with the legacy lifecycle endpoints — they aren't interchangeable with the current ones.\n</Warning>\n\nMake a single transaction. This method authorizes and captures a payment in one step.\n"
      tags:
      - moneyIn
      parameters:
      - name: achValidation
        in: query
        description: When `true`, enables real-time validation of ACH account and routing numbers. This is an add-on feature, contact Payabli for more information.
        required: false
        schema:
          $ref: '#/components/schemas/AchValidation'
      - name: forceCustomerCreation
        in: query
        description: When `true`, the request creates a new customer record, regardless of whether customer identifiers match an existing customer. Defaults to `false`.
        required: false
        schema:
          $ref: '#/components/schemas/ForceCustomerCreation'
      - name: includeDetails
        in: query
        description: When `true`, transactionDetails object is returned in the response. See a full example of the `transactionDetails` object in the [Transaction integration guide](/developers/developer-guides/money-in-transaction-add#includedetailstrue-response).
        required: false
        schema:
          type: boolean
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      - name: validationCode
        in: header
        description: Value obtained from user when an API generated CAPTCHA is used in payment page
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliAPIResponseGetPaid'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransRequestBody'
  /MoneyIn/authorize:
    post:
      operationId: Authorize
      summary: Authorize card transaction
      description: "<Warning>\n  This endpoint is deprecated. New integrations should use the [Authorize endpoint](/developers/api-reference/moneyinV2/authorize-a-transaction), then capture, void, or refund the resulting transaction with the corresponding endpoints. Transactions created with this legacy endpoint must be managed with the legacy lifecycle endpoints — they aren't interchangeable with the current ones.\n</Warning>\n\n\nAuthorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until [captured](/developers/api-reference/moneyin/capture-an-authorized-transaction).\n\nOnly card transactions can be authorized. This endpoint can't be used for ACH transactions.\n"
      tags:
      - moneyIn
      parameters:
      - name: forceCustomerCreation
        in: query
        description: When `true`, the request creates a new customer record, regardless of whether customer identifiers match an existing customer. Defaults to `false`.
        required: false
        schema:
          $ref: '#/components/schemas/ForceCustomerCreation'
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransRequestBody'
  /MoneyIn/capture/{transId}:
    post:
      operationId: CaptureAuth
      summary: Capture Auth
      description: "<Warning>\n  This endpoint is deprecated. Use it only to capture transactions originally authorized with the legacy [Authorize endpoint](/developers/api-reference/moneyin/authorize-a-transaction). New integrations should use the [Capture endpoint](/developers/api-reference/moneyinV2/capture-an-authorized-transaction), which only works on transactions authorized with the current [Authorize endpoint](/developers/api-reference/moneyinV2/authorize-a-transaction).\n</Warning>\n\nCapture an [authorized transaction](/developers/api-reference/moneyin/authorize-a-transaction) to complete the transaction and move funds from the customer to merchant account.\n\nYou can use this endpoint to capture both full and partial amounts of the original authorized transaction. See [Capture an authorized transaction](/developers/developer-guides/pay-in-auth-and-capture) for more information about this endpoint.\n"
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
  /MoneyIn/capture/{transId}/{amount}:
    get:
      operationId: Capture
      summary: Capture an authorized transaction
      description: "<Warning>\n  This endpoint is deprecated. Use [POST `/capture/{transId}`](/developers/api-reference/moneyin/capture-an-authorized-transaction) instead, which supports partial captures and service fee adjustments.\n</Warning>\n\n  Capture an [authorized\ntransaction](/developers/api-reference/moneyin/authorize-a-transaction) to complete the transaction and move funds from the customer to merchant account."
      tags:
      - moneyIn
      parameters:
      - name: amount
        in: path
        description: Amount to be captured. The amount can't be greater the original total amount of the transaction. `0` captures the total amount authorized in the transaction. Partial captures aren't supported.
        required: true
        schema:
          type: number
          format: double
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/void/{transId}:
    get:
      operationId: Void
      summary: Void a transaction
      description: "<Warning>\n  This endpoint is deprecated. Use it only to void transactions originally created with the legacy endpoints. New integrations should use the [Void endpoint](/developers/api-reference/moneyinV2/void-a-transaction), which only works on transactions created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction).\n</Warning>\n\nCancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. If a transaction has been settled, refund it instead.\n"
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/refund/{transId}/{amount}:
    get:
      operationId: Refund
      summary: Refund a settled transaction
      description: "<Warning>\n  This endpoint is deprecated. Use it only to refund transactions originally created with the legacy endpoints. New integrations should use the [Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction), which only works on transactions created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction).\n</Warning>\n\nRefund a transaction that has settled and send money back to the account holder. If a transaction hasn't been settled, void it instead.\n"
      tags:
      - moneyIn
      parameters:
      - name: amount
        in: path
        description: 'Amount to refund from original transaction, minus any service fees charged on the original transaction.


          The amount provided can''t be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was \$90 plus a \$10 service fee, you can refund up to \$90.


          An amount equal to zero will refund the total amount authorized minus any service fee.'
        required: true
        schema:
          type: number
          format: double
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/refund/{transId}:
    post:
      operationId: RefundWithInstructions
      summary: Refund a settled transaction with split instructions
      description: "<Warning>\n  This endpoint is deprecated. Use it only to refund transactions originally created with the legacy endpoints. To refund a split-funded transaction created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction), use the [Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction) with split instructions in the request body.\n</Warning>\n\nRefunds a settled transaction with split instructions.\n"
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundWithInstructionsResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRefund'
  /MoneyIn/reverse/{transId}/{amount}:
    get:
      operationId: Reverse
      summary: Reverse a transaction
      description: "<Warning>\n  This endpoint is deprecated and only works on transactions created with the legacy endpoints. There's no equivalent in the current endpoints. For transactions created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction), check the transaction's settlement status and call [Void](/developers/api-reference/moneyinV2/void-a-transaction) or [Refund](/developers/api-reference/moneyinV2/refund-a-settled-transaction) based on the result.\n</Warning>\n\nA reversal either refunds or voids a transaction independent of the transaction's settlement status. Send a reversal request for a transaction, and Payabli automatically determines whether it's a refund or void. You don't need to know whether the transaction is settled or not. This endpoint only works on transactions made with the legacy endpoints. For transactions made with the current endpoints, check the transaction's settlement status and call void or refund based on the result.\n"
      tags:
      - moneyIn
      parameters:
      - name: amount
        in: path
        description: 'Amount to reverse from original transaction, minus any service fees charged on the original transaction.


          The amount provided can''t be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was $90 plus a $10 service fee, you can reverse up to $90.


          An amount equal to zero will refunds the total amount authorized minus any service fee.'
        required: true
        schema:
          type: number
          format: double
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/sendreceipt/{transId}:
    get:
      operationId: SendReceipt2Trans
      summary: Send receipt for transaction
      description: Send a payment receipt for a transaction.
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: email
        in: query
        description: 'Email address where the payment receipt should be sent.


          If not provided, the email address on file for the user owner of the transaction is used.'
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/details/{transId}:
    get:
      operationId: Details
      summary: Get details for a processed transaction
      description: Retrieve a processed transaction's details.
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionQueryRecordsCustomer'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/makecredit:
    post:
      operationId: Credit
      summary: Make an ACH credit transaction
      description: 'Make a temporary microdeposit in a customer account to verify the customer''s ownership and access to the target account. Reverse the microdeposit with `reverseCredit`. Payabli doesn''t automatically make microdeposits when you add a bank account, you must manually make the requests.


        This feature must be enabled by Payabli on a per-merchant basis. Contact support for help.'
      tags:
      - moneyIn
      parameters:
      - name: forceCustomerCreation
        in: query
        description: When `true`, the request creates a new customer record, regardless of whether customer identifiers match an existing customer. Defaults to `false`.
        required: false
        schema:
          $ref: '#/components/schemas/ForceCustomerCreation'
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: 'Success. The `referenceId` returned in a successful response is the `transId` value you need to reverse the microdeposit.


            A "Missing Gateway Data" message can indicate that the entrypoint targeted in the request isn''t set up for ACH payments.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponse0'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCredit'
  /MoneyIn/reverseCredit/{transId}:
    get:
      operationId: ReverseCredit
      summary: Reverse an ACH credit transaction
      description: Reverse microdeposits that are used to verify customer account ownership and access. The `transId` value is returned in the success response for the original credit transaction made with `api/MoneyIn/makecredit`.
      tags:
      - moneyIn
      parameters:
      - name: transId
        in: path
        description: ReferenceId for the transaction (PaymentId).
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliApiResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
  /MoneyIn/validate:
    post:
      operationId: Validate
      summary: Validate card
      description: Validates a card number without running a transaction or authorizing a charge.
      tags:
      - moneyIn
      parameters:
      - name: Authorization
        in: header
        description: 'OAuth2 Bearer access token from the client-credentials flow. See [OAuth authentication](/developers/oauth-authentication).

          '
        required: true
        schema:
          type: string
      - name: idempotencyKey
        in: header
        description: _Optional but recommended_ A unique ID that you can include to prevent duplicating objects or transactions in the case that a request is sent more than once. This key isn't generated in Payabli, you must generate it yourself. This key persists for 2 minutes. After 2 minutes, you can reuse the key if needed.
        required: false
        schema:
          $ref: '#/components/schemas/IdempotencyKey'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateResponse'
        '400':
          description: Bad request / invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '401':
          description: Unauthorized request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
        '503':
          description: Database connection error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayabliErrorBody'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPaymentValidate'
components:
  schemas:
    ItemDescription:
      type: string
      description: Item or product description. Max length of 250 characters.
      title: ItemDescription
    SplitFundingContent:
      type: object
      properties:
        accountId:
          type: string
          description: The accountId for the account the split should be sent to.
        amount:
          type: number
          format: double
          description: Amount from the transaction to send to this recipient.
        description:
          type: string
          description: A description for the split.
        recipientEntryPoint:
          type: string
          description: The entrypoint the split should be sent to.
      title: SplitFundingContent
    PayMethodCloud:
      type: object
      properties:
        device:
          $ref: '#/components/schemas/Device'
        method:
          type: string
          enum:
          - cloud
          description: Method to use for the transaction. For cloud device transactions, the method is `cloud`.
        saveIfSuccess:
          $ref: '#/components/schemas/SaveIfSuccess'
      required:
      - method
      title: PayMethodCloud
    RiskReason:
      type: string
      description: Reason for risk flagging.
      title: RiskReason
    AvsResponseText:
      type: string
      description: 'Text code describing the result for address validation (applies only for

        card transactions).

        '
      title: AvsResponseText
    Cash:
      type: object
      properties:
        method:
          type: string
          enum:
          - cash
          description: Method to use for the transaction. For cash transactions, use `cash`.
      required:
      - method
      title: Cash
    ExternalPaypointId:
      type: string
      description: 'A custom identifier for the paypoint, if applicable.

        '
      title: ExternalPaypointId
    V2ResponseAction:
      type: string
      description: Recommended resolution approach or next steps based on the response.
      title: V2ResponseAction
    PayMethodCredit:
      type: object
      properties:
        cardcvv:
          $ref: '#/components/schemas/Cardcvv'
        cardexp:
          $ref: '#/components/schemas/Cardexp'
        cardHolder:
          $ref: '#/components/schemas/Cardholder'
        cardnumber:
          $ref: '#/components/schemas/Cardnumber'
        cardzip:
          $ref: '#/components/schemas/Cardzip'
        initiator:
          $ref: '#/components/schemas/Initiator'
        method:
          type: string
          enum:
          - card
          description: Method to use for the transaction. For transactions with a credit or debit card, or a tokenized card, use `card`.
        saveIfSuccess:
          $ref: '#/components/schemas/SaveIfSuccess'
      required:
      - cardexp
      - cardnumber
      - method
      title: PayMethodCredit
    Dbaname:
      type: string
      description: 'The alternate or common name that this business is doing business under,

        usually referred to as a DBA name.

        '
      title: Dbaname
    SummaryCommodityCode:
      type: string
      description: Commodity code.
      title: SummaryCommodityCode
    QueryTransactionEventsEventData:
      oneOf:
      - type: object
        additionalProperties:
          description: Any type
      - type: string
      description: 'Any data associated to the event received from processor. Contents vary

        by event type.

        '
      title: QueryTransactionEventsEventData
    Sequence:
      type: string
      description: "The order of the transaction for cardholder-initiated transaction (CIT)\nand merchant-initiated transaction (MIT) purposes. This field is\nautomatically detected and populated by Payabli.\n\nAvailable values:\n\n- `first`: The first use of the payment method. This is almost always\n  a cardholder-initiated transaction.\n- `subsequent`: For merchant-initiated transactions after the first use\n  of the payment method.\n\nSee\n[Understanding CIT and MIT Indicators](/guides/pay-in-transactions-cit-mit-overview)\nfor more information.\n"
      title: Sequence
    IsSuccess:
      type: boolean
      description: 'Boolean indicating whether the operation was successful. A `true` value

        indicates success. A `false` value indicates failure.

        '
      title: IsSuccess
    ResultCode:
      type: integer
      description: 'Result code for the operation. Value `1` indicates a successful

        operation, values `2` and `3` indicate errors. A value of `10` indicates

        that an operation has been initiated and is pending.

        '
      title: ResultCode
    PaymentCategories:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Price/cost per unit of item or category.
        description:
          type: string
          description: Description of item or category
        label:
          type: string
          description: Name of item or category.
        qty:
          type: integer
          default: 1
          description: Quantity of item or category
      required:
      - amount
      - label
      title: PaymentCategories
    Customeridtrans:
      type: integer
      format: int64
      description: 'Payabli-generated unique ID of customer owner of transaction. Returns `0`

        if the transaction wasn''t assigned to an existing customer or no customer

        was created.

        '
      title: Customeridtrans
    FeeAmount:
      type: number
      format: double
      description: Service fee or sub-charge applied.
      title: FeeAmount
    ExpectedProcessingDateTime:
      type: string
      format: date-time
      description: 'The expected time that the refund will be processed.

        '
      title: ExpectedProcessingDateTime
    Storedmethodid:
      type: string
      description: 'Payabli identifier of a tokenized payment method. If this field is

        used in a request, the `method` field is overridden and the payment

        is made using the payment token.

        '
      title: Storedmethodid
    V2DeclinedTransactionResponseWrapper:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/V2ResponseCode'
        reason:
          $ref: '#/components/schemas/V2ResponseReason'
        explanation:
          $ref: '#/components/schemas/V2ResponseExplanation'
        action:
          $ref: '#/components/schemas/V2ResponseAction'
        data:
          $ref: '#/components/schemas/V2TransactionDetails'
        token:
          type:
          - string
          - 'null'
          description: Pagination token (equivalent to `pageIdentifier` in v1 APIs). Returns `null` when pagination is not applicable.
      required:
      - code
      - reason
      - explanation
      - action
      - data
      - token
      description: Response wrapper for declined v2 Money In transaction endpoints (HTTP 402). Returned when a transaction is declined by the card network or issuer. All decline responses use this format with unified response codes starting with 'D'. The `data` field contains transaction details.
      title: V2DeclinedTransactionResponseWrapper
    PayorId:
      type: integer
      format: int64
      description: 'Unique ID for the customer linked to the transaction. This is the same

        value as the `customerId` used when creating or referencing a customer.

        '
      title: PayorId
    RiskStatus:
      type: string
      description: Current risk status of the transaction.
      title: RiskStatus
    IdempotencyKey:
      type: string
      description: '_Optional but recommended._ A unique ID that you can include to prevent

        duplicating objects or transactions in the case that a request is sent

        more than once. This key isn''t generated in Payabli; you must generate it

        yourself. The key persists for 2 minutes. After 2 minutes, you can reuse

        the key if needed.

        '
      title: IdempotencyKey
    PayorDataRequest:
      type: object
      properties:
        additionalData:
          $ref: '#/components/schemas/AdditionalData'
        billingAddress1:
          $ref: '#/components/schemas/BillingAddressNullable'
        billingAddress2:
          $ref: '#/components/schemas/BillingAddressAddtlNullable'
        billingCity:
          $ref: '#/components/schemas/BillingCityNullable'
        billingCountry:
          $ref: '#/components/schemas/BillingCountryNullable'
        billingEmail:
          $ref: '#/components/schemas/Email'
        billingPhone:
          $ref: '#/components/schemas/PhoneNumber'
        billingState:
          $ref: '#/components/schemas/BillingStateNullable'
        billingZip:
          $ref: '#/components/schemas/BillingZip'
          description: 'Customer''s billing ZIP code. For Pay In functions, this field supports 5-digit and 9-digit ZIP codes and alphanumeric Canadian postal codes. For example: "37615-1234" or "37615".'
        company:
          type: string
          description: Customer's company name.
        customerId:
          $ref: '#/components/schemas/CustomerId'
        customerNumber:
          $ref: '#/components/schemas/CustomerNumberNullable'
        firstName:
          type: string
          description: Customer/Payor first name.
        identifierFields:
          $ref: '#/components/schemas/Identifierfields'
        lastName:
          type: string
          description: Customer/Payor last name.
        shippingAddress1:
          $ref: '#/components/schemas/Shippingaddress'
        shippingAddress2:
          $ref: '#/components/schemas/Shippingaddressadditional'
        shippingCity:
          $ref: '#/components/schemas/Shippingcity'
        shippingCountry:
          $ref: '#/components/schemas/Shippingcountry'
        shippingState:
          $ref: '#/components/schemas/Shippingstate'
        shippingZip:
          $ref: '#/components/schemas/Shippingzip'
      description: Customer information. May be required, depending on the paypoint's settings. Required for subscriptions.
      title: PayorDataRequest
    RequestPaymentValidatePaymentMethodMethod:
      type: string
      enum:
      - card
      - cloud
      description: The card validation method.
      title: RequestPaymentValidatePaymentMethodMethod
    FileContentFtype:
      type: string
      enum:
      - pdf
      - doc
      - docx
      - jpg
      - jpeg
      - png
      - gif
      - txt
      description: The MIME type of the file (if content is provided).
      title: FileContentFtype
    PayabliApiResponse0ResponseData:
      type: object
      properties:
        AuthCode:
          $ref: '#/components/schemas/Authcode'
        avsResponseText:
          $ref: '#/components/schemas/AvsResponseText'
        CustomerId:
          $ref: '#/components/schemas/Customeridtrans'
        cvvResponseText:
          $ref: '#/components/schemas/CvvResponseText'
        methodReferenceId:
          $ref: '#/components/schemas/MethodReferenceId'
        ReferenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        ResultCode:
          $ref: '#/components/schemas/ResultCode'
        ResultText:
          $ref: '#/components/schemas/Resulttext'
      title: PayabliApiResponse0ResponseData
    BillingCountryNullable:
      type: string
      description: Billing address country.
      title: BillingCountryNullable
    AdditionalDataMap:
      type: object
      additionalProperties:
        type: string
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalDataMap
    RefundResponse:
      type: object
      properties:
        responseText:
          $ref: '#/components/schemas/ResponseText'
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseData:
          $ref: '#/components/schemas/ResponseDataRefunds'
        pageidentifier:
          $ref: '#/components/schemas/PageIdentifier'
      required:
      - responseText
      - isSuccess
      - responseData
      title: RefundResponse
    V2TransactionDetails:
      type: object
      properties:
        parentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        paypointDbaname:
          $ref: '#/components/schemas/Dbaname'
        paypointLegalname:
          $ref: '#/components/schemas/Legalname'
        paypointEntryname:
          $ref: '#/components/schemas/Entrypointfield'
        paymentTransId:
          type: string
          description: Unique transaction identifier.
        connectorName:
          type: string
          description: Name of the payment connector used.
        externalProcessorInformation:
          $ref: '#/components/schemas/ExternalProcessorInformation'
        gatewayTransId:
          type: string
          description: Gateway transaction identifier.
        orderId:
          oneOf:
          - $ref: '#/components/schemas/OrderId'
          - type: 'null'
        method:
          type: string
          description: Payment method used for the transaction.
        batchNumber:
          $ref: '#/components/schemas/BatchNumber'
        batchAmount:
          type: number
          format: double
          description: Total amount in the batch.
        payorId:
          $ref: '#/components/schemas/PayorId'
        paymentData:
          $ref: '#/components/schemas/TransactionDetailPaymentData'
        transStatus:
          $ref: '#/components/schemas/TransStatus'
        paypointId:
          $ref: '#/components/schemas/PaypointId'
        totalAmount:
          type: number
          format: double
          description: Total transaction amount including fees.
        netAmount:
          type: number
          format: double
          description: Net transaction amount excluding fees.
        feeAmount:
          $ref: '#/components/schemas/FeeAmount'
        settlementStatus:
          $ref: '#/components/schemas/SettlementStatus'
        operation:
          $ref: '#/components/schemas/Operation'
        responseData:
          $ref: '#/components/schemas/V2TransactionDetailResponseData'
        source:
          $ref: '#/components/schemas/Source'
        scheduleReference:
          type: integer
          format: int64
          description: Reference to associated payment schedule if applicable.
        orgId:
          $ref: '#/components/schemas/Orgid'
        refundId:
          $ref: '#/components/schemas/RefundId'
        returnedId:
          $ref: '#/components/schemas/ReturnedId'
        chargebackId:
          $ref: '#/components/schemas/ChargebackId'
        retrievalId:
          $ref: '#/components/schemas/RetrievalId'
        invoiceData:
          $ref: '#/components/schemas/TransactionDetailInvoiceData'
        entrypageId:
          $ref: '#/components/schemas/EntrypageId'
        externalPaypointID:
          oneOf:
          - $ref: '#/components/schemas/ExternalPaypointId'
          - type: 'null'
        isValidatedACH:
          type: boolean
          description: Indicates if ACH account was validated in real-time.
        transactionTime:
          type: string
          description: Timestamp when transaction was created.
        customer:
          $ref: '#/components/schemas/TransactionDetailCustomer'
        splitFundingInstructions:
          oneOf:
          - $ref: '#/components/schemas/SplitFunding'
          - type: 'null'
        cfeeTransactions:
          type: array
          items:
            $ref: '#/components/schemas/QueryCFeeTransaction'
        transactionEvents:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetailEvent'
        pendingFeeAmount:
          $ref: '#/components/schemas/PendingFeeAmount'
        riskFlagged:
          $ref: '#/components/schemas/RiskFlagged'
        riskFlaggedOn:
          $ref: '#/components/schemas/RiskFlaggedOn'
        riskStatus:
          $ref: '#/components/schemas/RiskStatus'
        riskReason:
          $ref: '#/components/schemas/RiskReason'
        riskAction:
          $ref: '#/components/schemas/RiskAction'
        riskActionCode:
          $ref: '#/components/schemas/RiskActionCode'
        deviceId:
          $ref: '#/components/schemas/Device'
        achSecCode:
          $ref: '#/components/schemas/AchSecCode'
        achHolderType:
          oneOf:
          - $ref: '#/components/schemas/AchHolderType'
          - type: 'null'
        ipAddress:
          $ref: '#/components/schemas/IpAddress'
        isSameDayACH:
          type: boolean
          description: Indicates if ACH transaction uses same-day processing.
        walletType:
          type:
          - string
          - 'null'
          description: Digital wallet type if applicable.
      required:
      - parentOrgName
      - paypointDbaname
      - paypointLegalname
      - paypointEntryname
      - paymentTransId
      - connectorName
      - externalProcessorInformation
      - gatewayTransId
      - orderId
      - method
      - batchNumber
      - batchAmount
      - payorId
      - paymentData
      - transStatus
      - paypointId
      - totalAmount
      - netAmount
      - feeAmount
      - settlementStatus
      - operation
      - responseData
      - source
      - scheduleReference
      - orgId
      - refundId
      - returnedId
      - chargebackId
      - retrievalId
      - invoiceData
      - entrypageId
      - externalPaypointID
      - isValidatedACH
      - transactionTime
      - customer
      - splitFundingInstructions
      - cfeeTransactions
      - transactionEvents
      - riskStatus
      - riskReason
      - riskAction
      - deviceId
      - achSecCode
      - achHolderType
      - ipAddress
      - isSameDayACH
      - walletType
      description: Complete transaction details returned by v2 Money In endpoints. This matches the structure of the transaction details previously returned by the v1 details endpoint.
      title: V2TransactionDetails
    Cardzip:
      type: string
      description: 'ZIP or postal code for the billing address of cardholder. We **strongly

        recommend** that you include this field when using `card` as a method.

        '
      title: Cardzip
    Responsedata:
      type: object
      additionalProperties:
        description: Any type
      description: The object containing the response data.
      title: Responsedata
    IpAddress:
      type: string
      description: The IP address associated with the transaction.
      title: IpAddress
    ResponseDataRefunds:
      type: object
      properties:
        authCode:
          $ref: '#/components/schemas/Authcode'
        expectedProcessingDateTime:
          oneOf:
          - $ref: '#/components/schemas/ExpectedProcessingDateTime'
          - type: 'null'
        avsResponseText:
          $ref: '#/components/schemas/AvsResponseText'
          description: This field isn't applicable to refund operations.
        customerId:
          oneOf:
          - $ref: '#/components/schemas/CustomerId'
          - type: 'null'
        cvvResponseText:
          oneOf:
          - $ref: '#/components/schemas/CvvResponseText'
          - type: 'null'
          description: This field isn't applicable to refund operations.
        methodReferenceId:
          oneOf:
          - $ref: '#/components/schemas/MethodReferenceId'
          - type: 'null'
          description: This field isn't applicable to refund operations.
        referenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        resultCode:
          $ref: '#/components/schemas/ResultCode'
        resultText:
          type: string
          description: Text description of the transaction result
      required:
      - authCode
      - expectedProcessingDateTime
      - customerId
      - cvvResponseText
      - methodReferenceId
      - referenceId
      - resultCode
      - resultText
      title: ResponseDataRefunds
    Cardholder:
      type: string
      description: Cardholder name.
      title: Cardholder
    SplitFunding:
      type: array
      items:
        $ref: '#/components/schemas/SplitFundingContent'
      description: Split funding instructions for the transaction. The total amount of the splits must match the total amount of the transaction.
      title: SplitFunding
    Orgid:
      type: integer
      format: int64
      description: Organization ID. Unique identifier assigned to an org by Payabli.
      title: Orgid
    VoidResponse:
      type: object
      properties:
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        roomId:
          $ref: '#/components/schemas/RoomIdNotInUse'
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          $ref: '#/components/schemas/VoidResponseData'
      required:
      - responseCode
      - roomId
      - isSuccess
      - responseText
      - responseData
      description: Response for MoneyIn/void endpoint
      title: VoidResponse
    Operation:
      type: string
      description: The transaction's operation.
      title: Operation
    InvoiceAmount:
      type: number
      format: double
      description: The invoice amount.
      title: InvoiceAmount
    BillDataPaymentTerms:
      type: string
      enum:
      - PIA
      - CIA
      - UR
      - NET10
      - NET20
      - NET30
      - NET45
      - NET60
      - NET90
      - EOM
      - MFI
      - 5MFI
      - 10MFI
      - 15MFI
      - 20MFI
      - 2/10NET30
      - UF
      - 10UF
      - 20UF
      - 25UF
      - 50UF
      description: 'Payment terms for invoice. If no terms are defined, then response data for

        this field defaults to `NET30`. Mirrors the values in

        [`Terms`](#schema-terms).

        '
      title: BillDataPaymentTerms
    ResultCodeText:
      type: string
      description: 'Description of the result code. See

        [Pay In unified response codes](/guides/pay-in-unified-response-codes-reference)

        for more information.

        '
      title: ResultCodeText
    BillingCityNullable:
      type: string
      description: Billing city.
      title: BillingCityNullable
    CaptureRequest:
      type: object
      properties:
        paymentDetails:
          $ref: '#/components/schemas/CapturePaymentDetails'
      required:
      - paymentDetails
      title: CaptureRequest
    BatchNumber:
      type: string
      description: 'A unique identifier for the batch. This is generated by Payabli when the

        batch is created, and follows this format:

        `paypointId + "_" + serviceName + "_" + batchDate:yyyyMMdd + "_" + Guid.NewGuid()`.

        Payabli generates the GUID to ensure that the batch number is unique.


        For example, in this batch number:

        `123_card_20251008_3f2504e0-4f89-11d3-9a0c-0305e82c3301`, the paypointID

        is `123`, the service is `card`, the batch date is `2025-10-08`, and

        the GUID is `3f2504e0-4f89-11d3-9a0c-0305e82c3301`.

        '
      title: BatchNumber
    RiskAction:
      type: string
      description: Action taken due to risk assessment.
      title: RiskAction
    RequestRefund:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: 'Amount to refund from original transaction, minus any service fees charged on the original transaction.


            The amount provided can''t be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was $90 plus a $10 service fee, you can refund up to $90.


            An amount equal to zero will refund the total amount authorized minus any service fee.'
        ipaddress:
          $ref: '#/components/schemas/IpAddress'
        orderDescription:
          $ref: '#/components/schemas/Orderdescription'
        orderId:
          $ref: '#/components/schemas/OrderId'
        refundDetails:
          $ref: '#/components/schemas/RefundDetail'
        source:
          $ref: '#/components/schemas/Source'
      title: RequestRefund
    GetPaidResponseData:
      type: object
      properties:
        authCode:
          oneOf:
          - $ref: '#/components/schemas/Authcode'
          - type: 'null'
        transactionDetails:
          $ref: '#/components/schemas/TransactionDetailRecord'
          description: Details of the transaction. Present only if `includeDetails` query parameter is set to `true` in the request.
        referenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        resultCode:
          $ref: '#/components/schemas/ResultCode'
        resultText:
          $ref: '#/components/schemas/Resulttext'
        avsResponseText:
          $ref: '#/components/schemas/AvsResponseText'
        cvvResponseText:
          $ref: '#/components/schemas/CvvResponseText'
        customerId:
          $ref: '#/components/schemas/Customeridtrans'
        methodReferenceId:
          $ref: '#/components/schemas/MethodReferenceId'
      required:
      - authCode
      - referenceId
      - resultCode
      - resultText
      - avsResponseText
      - cvvResponseText
      - customerId
      description: Response data for GetPaid transactions
      title: GetPaidResponseData
    V2ResponseReason:
      type: string
      description: Human-readable reason corresponding to the response code.
      title: V2ResponseReason
    TransactionQueryRecordsCustomer:
      type: object
      properties:
        AchHolderType:
          $ref: '#/components/schemas/AchHolderType'
          default: personal
        AchSecCode:
          $ref: '#/components/schemas/AchSecCode'
        BatchAmount:
          type: number
          format: double
          description: Batch amount.
        BatchNumber:
          $ref: '#/components/schemas/BatchNumber'
        CfeeTransactions:
          type: array
          items:
            $ref: '#/components/schemas/QueryCFeeTransaction'
          description: Service Fee or sub-charge transaction associated to the main transaction.
        ConnectorName:
          type: string
          description: Connector used for transaction.
        Customer:
          $ref: '#/components/schemas/QueryTransactionPayorDataCustomer'
        DeviceId:
          $ref: '#/components/schemas/Device'
        EntrypageId:
          $ref: '#/components/schemas/EntrypageId'
        ExternalProcessorInformation:
          $ref: '#/components/schemas/ExternalProcessorInformation'
        FeeAmount:
          $ref: '#/components/schemas/FeeAmount'
        GatewayTransId:
          type: string
          description: Internal identifier used for processing.
        invoiceData:
          $ref: '#/components/schemas/BillData'
        Method:
          type: string
          description: 'Payment method used: card, ach, or wallet.'
        NetAmount:
          $ref: '#/components/schemas/Netamountnullable'
          description: Net amount paid.
        Operation:
          $ref: '#/components/schemas/Operation'
        OrderId:
          $ref: '#/components/schemas/OrderId'
        OrgId:
          $ref: '#/components/schemas/Orgid'
          description: ID of immediate parent organization.
        ParentOrgName:
          $ref: '#/components/schemas/OrgParentName'
        PaymentData:
          $ref: '#/components/schemas/QueryPaymentData'
        PaymentTransId:
          type: string
          description: Unique Transaction ID.
        PayorId:
          $ref: '#/components/schemas/PayorId'
        PaypointDbaname:
          $ref: '#/components/schemas/Dbaname'
          description: Paypoint's DBA name.
        PaypointEntryname:
          $ref: '#/components/schemas/Entrypointfield'
          description: Paypoint's entryname.
        PaypointId:
          type: integer
          format: int64
          description: InternalId for paypoint.
        PaypointLegalname:
          $ref: '#/components/schemas/Legalname'
          description: Paypoint's legal name.
        PendingFeeAmount:
          $ref: '#/components/schemas/PendingFeeAmount'
        RefundId:
          $ref: '#/components/schemas/RefundId'
        ResponseData:
          $ref: '#/components/schemas/QueryResponseData'
        ReturnedId:
          $ref: '#/components/schemas/ReturnedId'
        ScheduleReference:
          type: integer
          format: int64
          description: Reference to the subscription that originated the transaction.
        SettlementStatus:
          type: integer
          description: Settlement status for transaction. See [the docs](/developers/references/money-in-statuses#payment-funding-status) for a full reference.
        Source:
          $ref: '#/components/schemas/Source'
        splitFundingInstructions:
          $ref: '#/components/schemas/SplitFunding'
        splitCount:
          $ref: '#/components/schemas/SplitCount'
        TotalAmount:
          type: number
          format: double
          description: Transaction total amount (including service fee or sub-charge)
        TransactionEvents:
          type: array
          items:
            $ref: '#/components/schemas/QueryTransactionEvents'
          description: Events associated with this transaction.
        TransactionTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Transaction date and time, in UTC.
        TransAdditionalData:
          description: Any type
        TransStatus:
          type: integer
          description: Status of transaction. See [the docs](/developers/references/money-in-statuses#money-in-transaction-status) for a full reference.
      required:
      - splitCount
      - TransactionTime
      title: TransactionQueryRecordsCustomer
    CaptureResponseData:
      type: object
      properties:
        authCode:
          $ref: '#/components/schemas/Authcode'
        referenceId:
          $ref: '#/components/schemas/Referenceidtrans'
        resultCode:
          $ref: '#/components/schemas/ResultCode'
        resultText:
          $ref: '#/components/schemas/Resulttext'
        avsResponseText:
          oneOf:
          - $ref: '#/components/schemas/AvsResponseText'
          - type: 'null'
        cvvResponseText:
          oneOf:
          - $ref: '#/components/schemas/CvvResponseText'
          - type: 'null'
        customerId:
          oneOf:
          - $ref: '#/components/schemas/Customeridtrans'
          - type: 'null'
        methodReferenceId:
          oneOf:
          - $ref: '#/components/schemas/MethodReferenceId'
          - type: 'null'
      required:
      - authCode
      - referenceId
      - resultCode
      - resultText
      - avsResponseText
      - cvvResponseText
      - customerId
      - methodReferenceId
      description: Response data for capture transactions
      title: CaptureResponseData
    BillItem:
      type: object
      properties:
        itemCategories:
          type: array
          items:
            type: string
          description: Array of tags classifying item or product.
        itemCommodityCode:
          $ref: '#/components/schemas/ItemCommodityCode'
        itemCost:
          type: number
          format: double
          description: Item or product price per unit.
        itemDescription:
          $ref: '#/components/schemas/ItemDescription'
        itemMode:
          type: integer
          description: 'Internal class of item or product: value `0` is only for invoices,

            `1` for bills, and `2` is common for both. Required on invoice line

            items — invoice creation fails with `Invalid item data` if it''s omitted.

            '
        itemProductCode:
          $ref: '#/components/schemas/ItemProductCode'
        itemProductName:
          $ref: '#/components/schemas/ItemProductName'
        itemQty:
          type: integer
          description: Quantity of item or product.
        itemTaxAmount:
          type: number
          format: double
          description: Tax amount applied to item or product.
        itemTaxRate:
          type: number
          format: double
          description: Tax rate applied to item or product.
        itemTotalAmount:
          type: number
          format: double
          description: 'Per-line total for this item (unit cost times quantity). Distinct from

            the invoice''s overall total, `invoiceAmount`. Required on invoice line items.

            '
        itemUnitOfMeasure:
          $ref: '#/components/schemas/ItemUnitofMeasure'
      title: BillItem
    Orderdescription:
      type: string
      description: Text description of the transaction.
      title: Orderdescription
    AuthResponse:
      type: object
      properties:
        responseText:
          $ref: '#/components/schemas/ResponseText'
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        responseData:
          $ref: '#/components/schemas/AuthResponseResponseData'
      required:
      - responseText
      - isSuccess
      - responseData
      description: Response for MoneyIn/authorize.
      title: AuthResponse
    Accounttype:
      type: string
      description: Bank account type or card brand.
      title: Accounttype
    V2ResponseExplanation:
      type: string
      description: Detailed description of the response code.
      title: V2ResponseExplanation
    AchHolderType:
      type: string
      enum:
      - personal
      - business
      default: personal
      description: 'The bank''s accountholder type: personal or business.

        '
      title: AchHolderType
    PayMethodStoredMethod:
      type: object
      properties:
        initiator:
          $ref: '#/components/schemas/Initiator'
        method:
          $ref: '#/components/schemas/PayMethodStoredMethodMethod'
          description: Method to use for the transaction. Use `card`, `ach`, or `wallet` depending on what kind of method was tokenized to use a saved payment method for this transaction.
        storedMethodId:
          $ref: '#/components/schemas/Storedmethodid'
          description: Payabli identifier of a tokenized payment method.
        storedMethodUsageType:
          $ref: '#/components/schemas/StoredMethodUsageType'
      required:
      - method
      description: The required and recommended fields for a payment made with a stored payment method.
      title: PayMethodStoredMethod
    RefundWithInstructionsResponse:
      type: object
      properties:
        responseText:
          $ref: '#/components/schemas/ResponseText'
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseData:
          $ref: '#/components/schemas/ResponseDataRefunds'
        pageidentifier:
          $ref: '#/components/schemas/PageIdentifier'
      required:
      - responseText
      - isSuccess
      - responseData
      title: RefundWithInstructionsResponse
    AdditionalData:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          description: Any type
      description: "Custom dictionary of key:value pairs. You can use this field to store any\ndata related to the object or for your system. If you are using\n[custom identifiers](/developers/developer-guides/entities-customers),\npass those in this object. Max length for a value is 100 characters.\nExample usage:\n\n```json\n{\n  \"additionalData\": {\n    \"key1\": \"value1\",\n    \"key2\": \"value2\",\n    \"key3\": \"value3\"\n  }\n}\n```\n"
      title: AdditionalData
    Check:
      type: object
      properties:
        achHolder:
          $ref: '#/components/schemas/AchHolder'
          description: The checking accountholder's name.
        method:
          type: string
          enum:
          - check
          description: Method to use for the transaction. Use `check` for a paper check transaction. When the method is `check`, then `paymentDetails.checkNumber` is required.
      required:
      - achHolder
      - method
      title: Check
    Methodall:
      type: string
      enum:
      - card
      - ach
      - cloud
      - check
      - cash
      description: Method to use for the transaction.
      title: Methodall
    ReverseResponse:
      type: object
      properties:
        responseCode:
          $ref: '#/components/schemas/Responsecode'
        pageIdentifier:
          $ref: '#/components/schemas/PageIdentifier'
        roomId:
          type: integer
        isSuccess:
          $ref: '#/components/schemas/IsSuccess'
        responseText:
          $ref: '#/components/schemas/ResponseText'
        responseData:
          $ref: '#/components/schemas/ResponseDataRefunds'
      required:
      - responseCode
      - roomId
      - isSuccess
      - responseText
      - responseData
      title: ReverseResponse
    TransactionDetailEvent:
      type: object
      properties:
        transEvent:
          type: string
        eventData:
          type: string
        eventTime:
          type: string
      required:
      - transEvent
      - eventData
      - eventTime
      description: Event associated with transaction processing
      title: TransactionDetailEvent
    SaveIfSuccess:
      type: boolean
      description: 'When `true`, Payabli saves the payment method if the transaction is

        successful. The payment method ID is returned in the response as

        `methodReferenceId`. Defaults to `false`.

        '
      title: SaveIfSuccess
    Achrouting:
      type: string
      description: ABA/routing number of Bank account.
      title: Achrouting
    ItemProductName:
      type: string
      description: Item or product name. Max length of 250 characters.
      title: ItemProductName
    V2TransactionResponseWrapper:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/V2ResponseCode'
        reason:
          $ref: '#/components/schemas/V2ResponseReason'
        explanation:
          $ref: '#/components/schemas/V2ResponseExplanation'
        action:
          $ref: '#/components/schemas/V2ResponseAction'
        data:
          $ref: '#/components/schemas/V2TransactionDetails'
        token:
          type:
          - string
          - 'null'
          description: Pagination token (equivalent to `pageIdentifier` in v1 APIs). Returns `null` when pagination is not applicable.
      required:
      - code
      - reason
      - explanation
      - action
      - data
      - token
      description: Standard response wrapper for v2 Money In transaction endpoints. All v2 transaction endpoints return responses in this format with consistent `code`, `reason`, `explanation`, and `action` fields. The `data` field contains transaction details.
      title: V2TransactionResponseWrapper
    Subscriptionid:
      type: integer
      format: int64
      description: Payabli identifier of the subscription associated with the transaction.
      title: Subscriptionid
    TransactionDetailInvoiceData:
      type: object
      properties:
        invoiceNumber:
          oneOf:
          - $ref: '#/components/schemas/InvoiceNumber'
          - type: 'null'
        invoiceDate:
          type:
          - string
          - 'null'
          format: date
        invoiceDueDate:
          type:
          - string
          - 'null'
          format: date
        invoiceEndDate:
          type:
          - string
          - 'null'
          format: date
        invoiceStatus:
          oneOf:
          - $ref: '#/components/schemas/Invoicestatus'
          - type: 'null'
        invoiceType:
          oneOf:
          - $ref: '#/components/schemas/InvoiceType'
          - type: 'null'
        frequency:
          oneOf:
          - $ref: '#/components/schemas/Frequency'
          - type: 'null'
        paymentTerms:
          type:
          - string
          - 'null'
        termsConditions:
          oneOf:
          - $ref: '#/components/schemas/TermsConditions'
          - type: 'null'
        notes:
          type:
          - string
          - 'null'
        tax:
          oneOf:
          - $ref: '#/components/schemas/Tax'
          - type: 'null'
        discount:
          oneOf:
          - $ref: '#/components/schemas/Discount'
          - type: 'null'
        invoiceAmount:
          oneOf:
          - $ref: '#/components/schemas/InvoiceAmount'
          - type: 'null'
        freightAmount:
          oneOf:
          - $ref: '#/components/schemas/FreightAmount'
          - type: 'null'
        dutyAmount:
          oneOf:
          - $ref: '#/components/schemas/DutyAmount'
          - type: 'null'
        purchaseOrder:
          oneOf:
          - $ref: '#/components/schemas/PurchaseOrder'
          - type: 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        company:
          type:
          - string
          - 'null'
        shippingAddress1:
          oneOf:
          - $ref: '#/components/schemas/Shippingaddress'
          - type: 'null'
        shippingAddress2:
          oneOf:
          - $ref: '#/components/schemas/Shippingaddressadditional'
          - type: 'null'
        shippingCity:
          oneOf:
          - $ref: '#/components/schemas/Shippingcity'
          - type: 'null'
        shippingState:
          oneOf:
          - $ref: '#/components/schemas/Shippingstate'
          - type: 'null'
        shippingZip:
          oneOf:
          - $ref: '#/components/schemas/Shippingzip'
          - type: 'null'
        shippingCountry:
          oneOf:
          - $ref: '#/components/schemas/Shippingcountry'
          - type: 'null'
        shippingEmail:
          oneOf:
          - $ref: '#/components/schemas/Email'
          - type: 'null'
        shippingPhone:
          type:
          - string
          - 'null'
        shippingFromZip:
          oneOf:
          - $ref: '#/components/schemas/ShippingFromZip'
          - type: 'null'
        summaryCommodityCode:
          oneOf:
          - $ref: '#/components/schemas/SummaryCommodityCode'
          - type: 'null'
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillItem'
        attachments:
          oneOf:
          - $ref: '#/components/schemas/Attachments'
          - type: 'null'
        additionalData:
          oneOf:
          - $ref: '#/components/schemas/AdditionalDataMap'
          - type: 'null'
      required:
      - invoiceNumber
      - invoiceDate
      - invoiceDueDate
      - invoiceEndDate
      - invoiceStatus
      - invoiceType
      - frequency
      - paymentTerms
      - termsConditions
      - notes
      - tax
      - discount
      - invoiceAmount
      - freightAmount
      - dutyAmount
      - purchaseOrder
      - firstName
      - lastName
      - company
      - shippingAddress1
      - shippingAddress2
      - shippingCity
      - shippingState
      - shippingZip
      - shippingCountry
      - shippingEmail
      - shippingPhone
      - shippingFromZip
      - summaryCommodityCode
      - items
      - attachments
      - additionalData
      description: Invoice information if transaction is associated with an invoice
      title: TransactionDetailInvoiceData
    PaymentDetailCredit:
      type: object
      properties:
        currency:
          type: string
          description: Currency code ISO-4217. If not code is provided the currency in the paypoint setting is taken. Default is **USD**
        serviceFee:
          type: number
          format: double
          description: Service fee to be deducted from the total amount. This amount must be a number, percentages aren't accepted. If you are using a percentage-based fee schedule, you must calculate the value manually.
        totalAmount:
          type: number
          format: double
          description: Total amount to be charged. If a service fee is provided, then this amount should include the service fee.
      required:
      - totalAmount
      description: The PaymentDetail object for microdeposit (MakeCredit) transactions.
      title: PaymentDetailCredit
    OrderId:
      type: string
      description: Custom identifier for the transaction.
      title: OrderId
    TermsConditions:
      type: string
      description: Custom terms and conditions included in the invoice.
      title: TermsConditions
    ExternalProcessorInformation:
      type: string
      description: Information from the external processor about the transaction.
      title: ExternalProcessorInformation
    Attachments:
      type: array
      items:
        $ref: '#/components/schemas/FileContent'
      description: 'Array of `fileContent` objects with attached documents. Max upload size is

        30 MB.

        '
      title: Attachments
    PendingFeeAmount:
      type: number
      format: double
      description: 'The difference between the configured pass-through fee and the fee amount

        sent in the request. When transferring funds, Payabli uses this field to

        deduct the fee difference and transfer the correct amount to the

        merchant.


        When a paypoint is set up to absorb fees, and the pass-through fee sent

        with the request is less than the configured amount, the difference must

        be covered by the merchant. See

        [Fee Configuration](/guides/pay-in-fees-passthrough-overview#fee-configuration)

        to learn more about pass-through fee settings.

        '
      title: PendingFeeAmount
    AchValidation:
      type: boolean
      description: 'When `true`, enables real-time validation of ACH account and routing

        numbers. This is an add-on feature, contact Payabli for more information.

        '
      title: AchValidation
    QueryTransactionPayorDataCustomer:
      type: object
      properties:
        Identifiers:
          type: array
          items:
[...]
